<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProffesionclassificationcodeViewDlg" widgetVar="ProffesionclassificationcodeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProffesionclassificationcodeTitle}">
            <h:form id="ProffesionclassificationcodeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proffesionclassificationcodeController.selected != null}">
                        <h:outputText value="#{bundle.ViewProffesionclassificationcodeLabel_proffesionClassificationCodeID}"/>
                        <h:outputText value="#{proffesionclassificationcodeController.selected.proffesionClassificationCodeID}" title="#{bundle.ViewProffesionclassificationcodeTitle_proffesionClassificationCodeID}"/>
                        <h:outputText value="#{bundle.ViewProffesionclassificationcodeLabel_proffesionClassificationCodesName}"/>
                        <h:outputText value="#{proffesionclassificationcodeController.selected.proffesionClassificationCodesName}" title="#{bundle.ViewProffesionclassificationcodeTitle_proffesionClassificationCodesName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProffesionclassificationcodeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
