<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsercredentialCreateDlg" widgetVar="UsercredentialCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUsercredentialTitle}">
            <h:form id="UsercredentialCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usercredentialController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUsercredentialLabel_userCredentialID}" for="userCredentialID" />
                        <p:inputText id="userCredentialID" value="#{usercredentialController.selected.userCredentialID}" title="#{bundle.CreateUsercredentialTitle_userCredentialID}" required="true" requiredMessage="#{bundle.CreateUsercredentialRequiredMessage_userCredentialID}"/>
                        <p:outputLabel value="#{bundle.CreateUsercredentialLabel_userCredentialLogin}" for="userCredentialLogin" />
                        <p:inputText id="userCredentialLogin" value="#{usercredentialController.selected.userCredentialLogin}" title="#{bundle.CreateUsercredentialTitle_userCredentialLogin}" required="true" requiredMessage="#{bundle.CreateUsercredentialRequiredMessage_userCredentialLogin}"/>
                        <p:outputLabel value="#{bundle.CreateUsercredentialLabel_userCredentialPassword}" for="userCredentialPassword" />
                        <p:inputTextarea rows="4" cols="30" id="userCredentialPassword" value="#{usercredentialController.selected.userCredentialPassword}" title="#{bundle.CreateUsercredentialTitle_userCredentialPassword}" required="true" requiredMessage="#{bundle.CreateUsercredentialRequiredMessage_userCredentialPassword}"/>
                        <p:outputLabel value="#{bundle.CreateUsercredentialLabel_userCredentialSchema}" for="userCredentialSchema" />
                        <p:inputTextarea rows="4" cols="30" id="userCredentialSchema" value="#{usercredentialController.selected.userCredentialSchema}" title="#{bundle.CreateUsercredentialTitle_userCredentialSchema}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usercredentialController.create}" value="#{bundle.Save}" update="display,:UsercredentialListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsercredentialCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsercredentialCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
