<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsercredentialViewDlg" widgetVar="UsercredentialViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUsercredentialTitle}">
            <h:form id="UsercredentialViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usercredentialController.selected != null}">
                        <h:outputText value="#{bundle.ViewUsercredentialLabel_userCredentialID}"/>
                        <h:outputText value="#{usercredentialController.selected.userCredentialID}" title="#{bundle.ViewUsercredentialTitle_userCredentialID}"/>
                        <h:outputText value="#{bundle.ViewUsercredentialLabel_userCredentialLogin}"/>
                        <h:outputText value="#{usercredentialController.selected.userCredentialLogin}" title="#{bundle.ViewUsercredentialTitle_userCredentialLogin}"/>
                        <h:outputText value="#{bundle.ViewUsercredentialLabel_userCredentialPassword}"/>
                        <h:outputText value="#{usercredentialController.selected.userCredentialPassword}" title="#{bundle.ViewUsercredentialTitle_userCredentialPassword}"/>
                        <h:outputText value="#{bundle.ViewUsercredentialLabel_userCredentialSchema}"/>
                        <h:outputText value="#{usercredentialController.selected.userCredentialSchema}" title="#{bundle.ViewUsercredentialTitle_userCredentialSchema}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UsercredentialViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
