<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentCreateDlg" widgetVar="IncidentCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateIncidentTitle}">
            
            <h:form id="IncidentCreateForm">
                <h:panelGroup id="display">
                    <p:scrollPanel style="height:500px">
                        <p:panelGrid columns="2" rendered="#{incidentController.selected != null}" >
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentProtocolNumber}" for="incidentProtocolNumber" />
                            <p:inputText id="incidentProtocolNumber" value="#{incidentController.selected.incidentProtocolNumber}" title="#{bundle.CreateIncidentTitle_incidentProtocolNumber}" />
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentArrangementStartDate}" for="incidentArrangementStartDate" />
                            <p:calendar id="incidentArrangementStartDate" pattern="MM/dd/yyyy" value="#{incidentController.selected.incidentArrangementStartDate}" title="#{bundle.EditIncidentTitle_incidentArrangementStartDate}"  showOn="button"/>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentArrangementEndDate}" for="incidentArrangementEndDate" />
                            <p:calendar id="incidentArrangementEndDate" pattern="MM/dd/yyyy" value="#{incidentController.selected.incidentArrangementEndDate}" title="#{bundle.EditIncidentTitle_incidentArrangementEndDate}"  showOn="button"/>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentTime}" for="incidentTime" />
                            <p:calendar id="incidentTime" pattern="HH:mm:ss" value="#{incidentController.selected.incidentTime}" title="#{bundle.EditIncidentTitle_incidentTime}"  showOn="button"/>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentDate}" for="incidentDate" />
                            <p:calendar id="incidentDate" pattern="MM/dd/yyyy" value="#{incidentController.selected.incidentDate}" title="#{bundle.EditIncidentTitle_incidentDate}"  showOn="button"/>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentApplicationDate}" for="incidentApplicationDate" />
                            <p:calendar id="incidentApplicationDate" pattern="MM/dd/yyyy" value="#{incidentController.selected.incidentApplicationDate}" title="#{bundle.EditIncidentTitle_incidentApplicationDate}"  showOn="button"/>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentCircumstances}" for="incidentCircumstances" />
                            <p:inputTextarea rows="4" cols="30" id="incidentCircumstances" value="#{incidentController.selected.incidentCircumstances}" title="#{bundle.CreateIncidentTitle_incidentCircumstances}" />
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentAtWork}" for="incidentAtWork" />
                            <p:selectBooleanCheckbox id="incidentAtWork" value="#{incidentController.selected.incidentAtWork}" />
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentAtWorkReason}" for="incidentAtWorkReason" />
                            <p:inputTextarea rows="4" cols="30" id="incidentAtWorkReason" value="#{incidentController.selected.incidentAtWorkReason}" title="#{bundle.CreateIncidentTitle_incidentAtWorkReason}" />
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentDocumentCreationDate}" for="incidentDocumentCreationDate" />
                            <p:calendar id="incidentDocumentCreationDate" pattern="MM/dd/yyyy" value="#{incidentController.selected.incidentDocumentCreationDate}" title="#{bundle.EditIncidentTitle_incidentDocumentCreationDate}"  showOn="button"/>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentDocumentDifficulties}" for="incidentDocumentDifficulties" />
                            <p:inputTextarea rows="4" cols="30" id="incidentDocumentDifficulties" value="#{incidentController.selected.incidentDocumentDifficulties}" title="#{bundle.CreateIncidentTitle_incidentDocumentDifficulties}" />
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentDocumentAcquaintDate}" for="incidentDocumentAcquaintDate" />
                            <p:calendar id="incidentDocumentAcquaintDate" pattern="MM/dd/yyyy" value="#{incidentController.selected.incidentDocumentAcquaintDate}" title="#{bundle.EditIncidentTitle_incidentDocumentAcquaintDate}"  showOn="button"/>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentDocumentApprovalDate}" for="incidentDocumentApprovalDate" />
                            <p:calendar id="incidentDocumentApprovalDate" pattern="MM/dd/yyyy" value="#{incidentController.selected.incidentDocumentApprovalDate}" title="#{bundle.EditIncidentTitle_incidentDocumentApprovalDate}"  showOn="button"/>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentDocumentReceiptDate}" for="incidentDocumentReceiptDate" />
                            <p:calendar id="incidentDocumentReceiptDate" pattern="MM/dd/yyyy" value="#{incidentController.selected.incidentDocumentReceiptDate}" title="#{bundle.EditIncidentTitle_incidentDocumentReceiptDate}"  showOn="button"/>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentDocumentPostOrDeliveryDate}" for="incidentDocumentPostOrDeliveryDate" />
                            <p:calendar id="incidentDocumentPostOrDeliveryDate" pattern="MM/dd/yyyy" value="#{incidentController.selected.incidentDocumentPostOrDeliveryDate}" title="#{bundle.EditIncidentTitle_incidentDocumentPostOrDeliveryDate}"  showOn="button"/>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentPostTrackingNumber}" for="incidentPostTrackingNumber" />
                            <p:inputText id="incidentPostTrackingNumber" value="#{incidentController.selected.incidentPostTrackingNumber}" title="#{bundle.CreateIncidentTitle_incidentPostTrackingNumber}" />
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentInsuranceType}" for="incidentInsuranceType" />
                            <p:inputText id="incidentInsuranceType" value="#{incidentController.selected.incidentInsuranceType}" title="#{bundle.CreateIncidentTitle_incidentInsuranceType}" />
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentEmployerNonCompliance}" for="incidentEmployerNonCompliance" />
                            <p:inputTextarea rows="4" cols="30" id="incidentEmployerNonCompliance" value="#{incidentController.selected.incidentEmployerNonCompliance}" title="#{bundle.CreateIncidentTitle_incidentEmployerNonCompliance}" />
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentEmployeeNonCompliance}" for="incidentEmployeeNonCompliance" />
                            <p:inputTextarea rows="4" cols="30" id="incidentEmployeeNonCompliance" value="#{incidentController.selected.incidentEmployeeNonCompliance}" title="#{bundle.CreateIncidentTitle_incidentEmployeeNonCompliance}" />
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentEmployeeInsoberiety}" for="incidentEmployeeInsoberiety" />
                            <p:inputTextarea rows="4" cols="30" id="incidentEmployeeInsoberiety" value="#{incidentController.selected.incidentEmployeeInsoberiety}" title="#{bundle.CreateIncidentTitle_incidentEmployeeInsoberiety}" />
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentApplicantID}" for="incidentApplicantID" />
                            <p:selectOneMenu id="incidentApplicantID" value="#{incidentController.selected.incidentApplicantID}" >
                                <f:selectItems value="#{employeeController.companyItems}"
                                               var="incidentApplicantIDItem"
                                               itemValue="#{incidentApplicantIDItem}"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentVictimID}" for="incidentVictimID" />
                            <p:selectOneMenu id="incidentVictimID" value="#{incidentController.selected.incidentVictimID}" required="true" requiredMessage="#{bundle.EditIncidentRequiredMessage_incidentVictimID}">
                                <f:selectItems value="#{employeeController.companyItems}"
                                               var="incidentVictimIDItem"
                                               itemValue="#{incidentVictimIDItem}"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentCompanyRepresentativeID}" for="incidentCompanyRepresentativeID" />
                            <p:selectOneMenu id="incidentCompanyRepresentativeID" value="#{incidentController.selected.incidentCompanyRepresentativeID}" >
                                <f:selectItems value="#{employeeController.companyItems}"
                                               var="incidentCompanyRepresentativeIDItem"
                                               itemValue="#{incidentCompanyRepresentativeIDItem}"/>
                            </p:selectOneMenu>
                            
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentVictimFamilyMember}" for="incidentVictimFamilyMember" />
                            <h:panelGrid columns="2" border="0" >
                                <p:selectOneMenu id="incidentVictimFamilyMember" value="#{incidentController.selected.incidentVictimFamilyMember}" style="margin-top: 10px">
                                    <f:selectItems value="#{personController.itemsAvailableSelectOne}"
                                                   var="incidentVictimFamilyMemberItem"
                                                   itemValue="#{incidentVictimFamilyMemberItem}" itemLabel="#{incidentVictimFamilyMemberItem.description}"/>
                                </p:selectOneMenu>
                                <p:commandButton id="manageButton" icon="ui-icon-clipboard"  value="#{bundle.Manage}" oncomplete="PF('IncidentPersonListDialog').show()"/>
                            </h:panelGrid>
                            <p:outputLabel value="#{bundle.CreateIncidentLabel_incidentOHSSpecialistID}" for="incidentOHSSpecialistID" />
                            <p:selectOneMenu id="incidentOHSSpecialistID" value="#{incidentController.selected.incidentOHSSpecialistID}" >
                                <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                               var="incidentOHSSpecialistIDItem"
                                               itemValue="#{incidentOHSSpecialistIDItem}"/>
                            </p:selectOneMenu>
                        </p:panelGrid>
                    </p:scrollPanel>
                    <p:commandButton actionListener="#{incidentController.create}" value="#{bundle.Save}" update="display,:IncidentListForm:datalist,:growl" oncomplete="handleSubmit(args,'IncidentCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidentCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
        <ui:include src="ListPerson.xhtml"/>

    </ui:composition>
</html>
