<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentcauseCreateDlg" widgetVar="IncidentcauseCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateIncidentcauseTitle}">
            <h:form id="IncidentcauseCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentcauseController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateIncidentcauseLabel_incidentCauseIncidentCauseReferenceID}" for="incidentCauseIncidentCauseReferenceID" />
                        <p:selectOneMenu id="incidentCauseIncidentCauseReferenceID" value="#{incidentcauseController.selected.incidentCauseIncidentCauseReferenceID}" >
                            <f:selectItem itemValue="#{null}" itemLabel="#{bundle.GeneralInsertCustom}" />
                            <f:selectItems value="#{incidentcausereferenceController.itemsAvailableSelectOne}"
                                           var="incidentCauseIncidentCauseReferenceIDItem"
                                           itemValue="#{incidentCauseIncidentCauseReferenceIDItem}" itemLabel="#{incidentCauseIncidentCauseReferenceIDItem.incidentCauseReferenceName}"/>        
                            <p:ajax event="change" update="IncidentcauseCreateForm"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateIncidentcauseLabel_incidentCauseName}" for="incidentCauseName" />
                        <p:inputTextarea rows="4" cols="30" id="incidentCauseName" value="#{incidentcauseController.selected.incidentCauseName}" title="#{bundle.CreateIncidentcauseTitle_incidentCauseName}" disabled="#{incidentcauseController.selected.incidentCauseIncidentCauseReferenceID != null}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{incidentcauseController.create}" value="#{bundle.Save}" update="display,:IncidentcauseListForm:datalist,:growl" oncomplete="handleSubmit(args,'IncidentcauseCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidentcauseCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
