<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="IncidentInjuryListDlg" widgetVar="IncidentInjuryListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListIncidentinjuryTitle}"
                  width="500">
            <h:form id="IncidentinjuryListForm">
                <p:panel header="#{bundle.ListIncidentinjuryTitle}">
                    <p:dataTable id="datalist" value="#{incidentinjuryController.incidentItems}" var="item"
                                 selectionMode="single" selection="#{incidentinjuryController.selected}"
                                 paginator="true"
                                 rowKey="#{item.incidentInjuryID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentinjuryTitle_incidentInjuryType}"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentInjuryType}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{incidentinjuryController.prepareCreate}" update=":IncidentinjuryCreateForm" oncomplete="PF('IncidentinjuryCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":IncidentinjuryEditForm" oncomplete="PF('IncidentinjuryEditDialog').show()" disabled="#{empty incidentinjuryController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{incidentinjuryController.destroy}" update=":growl,datalist" disabled="#{empty incidentinjuryController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="IncidentInjuryCreate.xhtml"/>
            <ui:include src="IncidentInjuryEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
