<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="IncidentTypeReferenceListDlg" widgetVar="IncidentTypeReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListIncidenttypereferenceTitle}"
                  width="500">
            <h:form id="IncidenttypereferenceListForm">
                <p:panel header="#{bundle.ListIncidenttypereferenceTitle}">
                    <p:dataTable id="datalist" value="#{incidenttypereferenceController.items}" var="item"
                                 selectionMode="single" selection="#{incidenttypereferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.incidentTypeReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidenttypereferenceTitle_incidentTypeReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentTypeReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{incidenttypereferenceController.prepareCreate}" update=":IncidenttypereferenceCreateForm" oncomplete="PF('IncidenttypereferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":IncidenttypereferenceEditForm" oncomplete="PF('IncidenttypereferenceEditDialog').show()" disabled="#{empty incidenttypereferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{incidenttypereferenceController.destroy}" update=":growl,datalist" disabled="#{empty incidenttypereferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="IncidentTypeReferenceCreate.xhtml"/>
            <ui:include src="IncidentTypeReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
