<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidenttypeCreateDlg" widgetVar="IncidenttypeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateIncidenttypeTitle}">
            <h:form id="IncidenttypeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidenttypeController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateIncidenttypeLabel_incidentTypeIncidentTypeReferenceID}" for="incidentTypeIncidentTypeReferenceID" />
                        <p:selectOneMenu id="incidentTypeIncidentTypeReferenceID" value="#{incidenttypeController.selected.incidentTypeIncidentTypeReferenceID}" required="true" requiredMessage="#{bundle.EditIncidenttypeRequiredMessage_incidentTypeIncidentTypeReferenceID}">
                            <f:selectItems value="#{incidenttypereferenceController.itemsAvailableSelectOne}"
                                           var="incidentTypeIncidentTypeReferenceIDItem"
                                           itemValue="#{incidentTypeIncidentTypeReferenceIDItem}" itemLabel="#{incidentTypeIncidentTypeReferenceIDItem.incidentTypeReferenceName}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{incidenttypeController.create}" value="#{bundle.Save}" update="display,:IncidenttypeListForm:datalist,:growl" oncomplete="handleSubmit(args,'IncidenttypeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidenttypeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
