<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="IncidentTypeListDlg" widgetVar="IncidentTypeListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListIncidenttypeTitle}"
                  width="500">
            <h:form id="IncidenttypeListForm">
                <p:panel header="#{bundle.ListIncidenttypeTitle}">
                    <p:dataTable id="datalist" value="#{incidenttypeController.incidentItems}" var="item"
                                 selectionMode="single" selection="#{incidenttypeController.selected}"
                                 paginator="true"
                                 rowKey="#{item.incidentTypeID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidenttypeTitle_incidentTypeIncidentTypeReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentTypeIncidentTypeReferenceID.incidentTypeReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{incidenttypeController.prepareCreate}" update=":IncidenttypeCreateForm" oncomplete="PF('IncidenttypeCreateDialog').show()"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{incidenttypeController.destroy}" update=":growl,datalist" disabled="#{empty incidenttypeController.selected}"/>
                            <p:commandButton id="manageButton" icon="ui-icon-clipboard"  value="#{bundle.Manage}" update=":growl,:IncidenttypereferenceListForm" oncomplete="PF('IncidentTypeReferenceListDialog').show()"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="IncidentTypeCreate.xhtml"/>
            <ui:include src="IncidentTypeReferenceList.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
