<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="IncidentCauseReferenceListDlg" widgetVar="IncidentCauseReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListIncidentcausereferenceTitle}"
                  width="500">

            <h:form id="IncidentcausereferenceListForm">
                <p:panel header="#{bundle.ListIncidentcausereferenceTitle}">
                    <p:dataTable id="datalist" value="#{incidentcausereferenceController.items}" var="item"
                                 selectionMode="single" selection="#{incidentcausereferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.incidentCauseReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentcausereferenceTitle_incidentCauseReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentCauseReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{incidentcausereferenceController.prepareCreate}" update=":IncidentcausereferenceCreateForm" oncomplete="PF('IncidentcausereferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":IncidentcausereferenceEditForm" oncomplete="PF('IncidentcausereferenceEditDialog').show()" disabled="#{empty incidentcausereferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{incidentcausereferenceController.destroy}" update=":growl,datalist" disabled="#{empty incidentcausereferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="IncidentCauseReferenceCreate.xhtml"/>
            <ui:include src="IncidentCauseReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
