<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentconclusionCreateDlg" widgetVar="IncidentconclusionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateIncidentconclusionTitle}">
            <h:form id="IncidentconclusionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentconclusionController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateIncidentconclusionLabel_incidentConclusionIncidentConclusionReferenceID}" for="incidentConclusionIncidentConclusionReferenceID" />
                        <p:selectOneMenu id="incidentConclusionIncidentConclusionReferenceID" value="#{incidentconclusionController.selected.incidentConclusionIncidentConclusionReferenceID}" >
                            <f:selectItem itemValue="#{null}" itemLabel="#{bundle.GeneralInsertCustom}" />
                            <f:selectItems value="#{incidentconclusionreferenceController.itemsAvailableSelectOne}"
                                           var="incidentConclusionIncidentConclusionReferenceIDItem"
                                           itemValue="#{incidentConclusionIncidentConclusionReferenceIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateIncidentconclusionLabel_incidentConclusionName}" for="incidentConclusionName" />
                        <p:inputTextarea rows="4" cols="30" id="incidentConclusionName" value="#{incidentconclusionController.selected.incidentConclusionName}" title="#{bundle.CreateIncidentconclusionTitle_incidentConclusionName}" disabled="#{incidentconclusionController.selected.incidentConclusionIncidentConclusionReferenceID != null}" />
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{incidentconclusionController.create}" value="#{bundle.Save}" update="display,:IncidentconclusionListForm:datalist,:growl" oncomplete="handleSubmit(args,'IncidentconclusionCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidentconclusionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
