<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentattachmentEditDlg" widgetVar="IncidentattachmentEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditIncidentattachmentTitle}">
            <h:form id="IncidentattachmentEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentattachmentController.selected != null}">
                        <p:outputLabel value="#{bundle.EditIncidentattachmentLabel_incidentAttachmentID}" for="incidentAttachmentID" />
                        <p:inputText id="incidentAttachmentID" value="#{incidentattachmentController.selected.incidentAttachmentID}" title="#{bundle.EditIncidentattachmentTitle_incidentAttachmentID}" required="true" requiredMessage="#{bundle.EditIncidentattachmentRequiredMessage_incidentAttachmentID}"/>
                        <p:outputLabel value="#{bundle.EditIncidentattachmentLabel_incidentAttachmentName}" for="incidentAttachmentName" />
                        <p:inputText id="incidentAttachmentName" value="#{incidentattachmentController.selected.incidentAttachmentName}" title="#{bundle.EditIncidentattachmentTitle_incidentAttachmentName}" />
                        <p:outputLabel value="#{bundle.EditIncidentattachmentLabel_incidentAttachmentPath}" for="incidentAttachmentPath" />
                        <p:inputText id="incidentAttachmentPath" value="#{incidentattachmentController.selected.incidentAttachmentPath}" title="#{bundle.EditIncidentattachmentTitle_incidentAttachmentPath}" />
                        <p:outputLabel value="#{bundle.EditIncidentattachmentLabel_incidentAttachmentType}" for="incidentAttachmentType" />
                        <p:inputText id="incidentAttachmentType" value="#{incidentattachmentController.selected.incidentAttachmentType}" title="#{bundle.EditIncidentattachmentTitle_incidentAttachmentType}" />
                        <p:outputLabel value="#{bundle.EditIncidentattachmentLabel_incidentAttachmentIncidentID}" for="incidentAttachmentIncidentID" />
                        <p:selectOneMenu id="incidentAttachmentIncidentID" value="#{incidentattachmentController.selected.incidentAttachmentIncidentID}" required="true" requiredMessage="#{bundle.EditIncidentattachmentRequiredMessage_incidentAttachmentIncidentID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{incidentController.itemsAvailableSelectOne}"
                                           var="incidentAttachmentIncidentIDItem"
                                           itemValue="#{incidentAttachmentIncidentIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{incidentattachmentController.update}" value="#{bundle.Save}" update="display,:IncidentattachmentListForm:datalist,:growl" oncomplete="handleSubmit(args, 'IncidentattachmentEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidentattachmentEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
