<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentinjuryEditDlg" widgetVar="IncidentinjuryEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditIncidentinjuryTitle}">
            <h:form id="IncidentinjuryEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentinjuryController.selected != null}">
                        <p:outputLabel value="#{bundle.EditIncidentinjuryLabel_incidentInjuryType}" for="incidentInjuryType" />
                        <p:inputTextarea rows="4" cols="30" id="incidentInjuryType" value="#{incidentinjuryController.selected.incidentInjuryType}" title="#{bundle.EditIncidentinjuryTitle_incidentInjuryType}" required="true" requiredMessage="#{bundle.EditIncidentinjuryRequiredMessage_incidentInjuryType}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{incidentinjuryController.update}" value="#{bundle.Save}" update="display,:IncidentinjuryListForm:datalist,:growl" oncomplete="handleSubmit(args, 'IncidentinjuryEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidentinjuryEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
