<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="IncidentCauseListDlg" widgetVar="IncidentCauseListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListIncidentcauseTitle}"
                  width="500">
            <h:form id="IncidentcauseListForm">
                <p:panel header="#{bundle.ListIncidentcauseTitle}">
                    <p:dataTable id="datalist" value="#{incidentcauseController.incidentItems}" var="item"
                                 selectionMode="single" selection="#{incidentcauseController.selected}"
                                 paginator="true"
                                 rowKey="#{item.incidentCauseID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentcauseTitle_incidentCauseName}"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentCauseIncidentCauseReferenceID != null ? item.incidentCauseIncidentCauseReferenceID.incidentCauseReferenceName : item.incidentCauseName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{incidentcauseController.prepareCreate}" update=":IncidentcauseCreateForm" oncomplete="PF('IncidentcauseCreateDialog').show()"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{incidentcauseController.destroy}" update=":growl,datalist" disabled="#{empty incidentcauseController.selected}"/>
                            <p:commandButton id="manageButton" icon="ui-icon-clipboard"  value="#{bundle.Manage}" update=":growl,:IncidentcausereferenceListForm" oncomplete="PF('IncidentCauseReferenceListDialog').show()"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="IncidentCauseCreate.xhtml"/>
            <ui:include src="IncidentCauseReferenceList.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
