<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidenttypereferenceCreateDlg" widgetVar="IncidenttypereferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateIncidenttypereferenceTitle}">
            <h:form id="IncidenttypereferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidenttypereferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateIncidenttypereferenceLabel_incidentTypeReferenceName}" for="incidentTypeReferenceName" />
                        <p:inputText id="incidentTypeReferenceName" value="#{incidenttypereferenceController.selected.incidentTypeReferenceName}" title="#{bundle.CreateIncidenttypereferenceTitle_incidentTypeReferenceName}" required="true" requiredMessage="#{bundle.CreateIncidenttypereferenceRequiredMessage_incidentTypeReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{incidenttypereferenceController.create}" value="#{bundle.Save}" update="display,:IncidenttypereferenceListForm:datalist,:growl" oncomplete="handleSubmit(args,'IncidenttypereferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidenttypereferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
