<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentconclusionreferenceCreateDlg" widgetVar="IncidentconclusionreferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateIncidentconclusionreferenceTitle}">
            <h:form id="IncidentconclusionreferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentconclusionreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateIncidentconclusionreferenceLabel_incidentConclusionReferenceText}" for="incidentConclusionReferenceText" />
                        <p:inputTextarea rows="4" cols="30" id="incidentConclusionReferenceText" value="#{incidentconclusionreferenceController.selected.incidentConclusionReferenceText}" title="#{bundle.CreateIncidentconclusionreferenceTitle_incidentConclusionReferenceText}" required="true" requiredMessage="#{bundle.CreateIncidentconclusionreferenceRequiredMessage_incidentConclusionReferenceText}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{incidentconclusionreferenceController.create}" value="#{bundle.Save}" update="display,:IncidentconclusionreferenceListForm:datalist,:growl" oncomplete="handleSubmit(args,'IncidentconclusionreferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidentconclusionreferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
