<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentcausereferenceCreateDlg" widgetVar="IncidentcausereferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateIncidentcausereferenceTitle}">
            <h:form id="IncidentcausereferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentcausereferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateIncidentcausereferenceLabel_incidentCauseReferenceName}" for="incidentCauseReferenceName" />
                        <p:inputTextarea rows="4" cols="30" id="incidentCauseReferenceName" value="#{incidentcausereferenceController.selected.incidentCauseReferenceName}" title="#{bundle.CreateIncidentcausereferenceTitle_incidentCauseReferenceName}" required="true" requiredMessage="#{bundle.CreateIncidentcausereferenceRequiredMessage_incidentCauseReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{incidentcausereferenceController.create}" value="#{bundle.Save}" update="display,:IncidentcausereferenceListForm:datalist,:growl" oncomplete="handleSubmit(args,'IncidentcausereferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidentcausereferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
