<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="IncidentConclusionReferenceListDlg" widgetVar="IncidentConclusionReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListIncidentconclusionreferenceTitle}"
                  width="500">
             
            <h:form id="IncidentconclusionreferenceListForm">
                <p:panel header="#{bundle.ListIncidentconclusionreferenceTitle}">
                    <p:dataTable id="datalist" value="#{incidentconclusionreferenceController.items}" var="item"
                                 selectionMode="single" selection="#{incidentconclusionreferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.incidentConclusionReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentconclusionreferenceTitle_incidentConclusionReferenceText}"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentConclusionReferenceText}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{incidentconclusionreferenceController.prepareCreate}" update=":IncidentconclusionreferenceCreateForm" oncomplete="PF('IncidentconclusionreferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":IncidentconclusionreferenceEditForm" oncomplete="PF('IncidentconclusionreferenceEditDialog').show()" disabled="#{empty incidentconclusionreferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{incidentconclusionreferenceController.destroy}" update=":growl,datalist" disabled="#{empty incidentconclusionreferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="IncidentConclusionReferenceCreate.xhtml"/>
            <ui:include src="IncidentConclusionReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
