<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="IncidentAttachmentReferenceListDlg" widgetVar="IncidentAttachmentReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListIncidentattachmentTitle}"
                  width="500">
            <h:form id="IncidentattachmentListForm">
                <p:panel header="#{bundle.ListIncidentattachmentTitle}">
                    <p:dataTable id="datalist" value="#{incidentattachmentController.incidentItems}" var="item"
                                 selectionMode="single" selection="#{incidentattachmentController.selected}"
                                 paginator="true"
                                 rowKey="#{item.incidentAttachmentID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentattachmentTitle_incidentAttachmentName}"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentAttachmentName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentattachmentTitle_incidentAttachmentPath}"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentAttachmentPath}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentattachmentTitle_incidentAttachmentType}"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentAttachmentType}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{incidentattachmentController.prepareCreate}" update=":IncidentattachmentCreateForm" oncomplete="PF('IncidentattachmentCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":IncidentattachmentEditForm" oncomplete="PF('IncidentattachmentEditDialog').show()" disabled="#{empty incidentattachmentController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{incidentattachmentController.destroy}" update=":growl,datalist" disabled="#{empty incidentattachmentController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="IncidentAttachmentCreate.xhtml"/>
            <ui:include src="IncidentAttachmentEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
