<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="IncidentConclusionListDlg" widgetVar="IncidentConclusionListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListIncidentconclusionTitle}"
                  width="500">

            <h:form id="IncidentconclusionListForm">
                <p:panel header="#{bundle.ListIncidentconclusionTitle}">
                    <p:dataTable id="datalist" value="#{incidentconclusionController.incidentItems}" var="item"
                                 selectionMode="single" selection="#{incidentconclusionController.selected}"
                                 paginator="true"
                                 rowKey="#{item.incidentConclusionID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentconclusionTitle_incidentConclusionName}"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentConclusionIncidentConclusionReferenceID != null ? item.incidentConclusionIncidentConclusionReferenceID.incidentConclusionReferenceText : item.incidentConclusionName}}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{incidentconclusionController.prepareCreate}" update=":IncidentconclusionCreateForm" oncomplete="PF('IncidentconclusionCreateDialog').show()"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{incidentconclusionController.destroy}" update=":growl,datalist" disabled="#{empty incidentconclusionController.selected}"/>
                            <p:commandButton id="manageButton" icon="ui-icon-clipboard"  value="#{bundle.Manage}" update=":growl,:IncidentconclusionreferenceListForm" oncomplete="PF('IncidentConclusionReferenceListDialog').show()"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="IncidentConclusionCreate.xhtml"/>
            <ui:include src="IncidentConclusionReferenceList.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
