<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="InsuranceTitleReferenceListDlg" widgetVar="InsuranceTitleReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListInsurancetitlereferenceTitle}"
                  width="500">
            <h:form id="InsurancetitlereferenceListForm">
                <p:panel header="#{bundle.ListInsurancetitlereferenceTitle}">
                    <p:dataTable id="datalist" value="#{insurancetitlereferenceController.items}" var="item"
                                 selectionMode="single" selection="#{insurancetitlereferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.insuranceTitleReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInsurancetitlereferenceTitle_insuranceTitleReferenceCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.insuranceTitleReferenceCode}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInsurancetitlereferenceTitle_insuranceTitleReferenceDescription}"/>
                            </f:facet>
                            <h:outputText value="#{item.insuranceTitleReferenceDescription}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{insurancetitlereferenceController.prepareCreate}" update=":InsurancetitlereferenceCreateForm" oncomplete="PF('InsurancetitlereferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":InsurancetitlereferenceEditForm" oncomplete="PF('InsurancetitlereferenceEditDialog').show()" disabled="#{empty insurancetitlereferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{insurancetitlereferenceController.destroy}" update=":growl,datalist" disabled="#{empty insurancetitlereferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="InsuranceTitleReferenceCreate.xhtml"/>
            <ui:include src="InsuranceTitleReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
