<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InsurancetitlereferenceCreateDlg" widgetVar="InsurancetitlereferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateInsurancetitlereferenceTitle}">
            <h:form id="InsurancetitlereferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{insurancetitlereferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateInsurancetitlereferenceLabel_insuranceTitleReferenceCode}" for="insuranceTitleReferenceCode" />
                        <p:inputText id="insuranceTitleReferenceCode" value="#{insurancetitlereferenceController.selected.insuranceTitleReferenceCode}" title="#{bundle.CreateInsurancetitlereferenceTitle_insuranceTitleReferenceCode}" required="true" requiredMessage="#{bundle.CreateInsurancetitlereferenceRequiredMessage_insuranceTitleReferenceCode}"/>
                        <p:outputLabel value="#{bundle.CreateInsurancetitlereferenceLabel_insuranceTitleReferenceDescription}" for="insuranceTitleReferenceDescription" />
                        <p:inputTextarea rows="4" cols="30" id="insuranceTitleReferenceDescription" value="#{insurancetitlereferenceController.selected.insuranceTitleReferenceDescription}" title="#{bundle.CreateInsurancetitlereferenceTitle_insuranceTitleReferenceDescription}" required="true" requiredMessage="#{bundle.CreateInsurancetitlereferenceRequiredMessage_insuranceTitleReferenceDescription}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{insurancetitlereferenceController.create}" value="#{bundle.Save}" update="display,:InsurancetitlereferenceListForm:datalist,:growl" oncomplete="handleSubmit(args,'InsurancetitlereferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="InsurancetitlereferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
