<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="InsuranceTitleListDlg" widgetVar="InsuranceTitleListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListInsurancetitleTitle}"
                  width="500">
            <h:form id="InsurancetitleListForm">
                <p:panel header="#{bundle.ListInsurancetitleTitle}">
                    <p:dataTable id="datalist" value="#{insurancetitleController.incidentItems}" var="item"
                                 selectionMode="single" selection="#{insurancetitleController.selected}"
                                 paginator="true"
                                 rowKey="#{item.insuranceTitleID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInsurancetitleTitle_insuranceTitleIncidentID}"/>
                            </f:facet>
                            <h:outputText value="#{item.insuranceTitleIncidentID}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInsurancetitleTitle_insuranceTitleReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.insuranceTitleReferenceID}"/>
                        </p:column>
                        
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{insurancetitleController.prepareCreate}" update=":InsurancetitleCreateForm" oncomplete="PF('InsurancetitleCreateDialog').show()"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{insurancetitleController.destroy}" update=":growl,datalist" disabled="#{empty insurancetitleController.selected}"/>
                            <p:commandButton id="manageButton" icon="ui-icon-clipboard"  value="#{bundle.Manage}" update=":growl,:InsurancetitlereferenceListForm" oncomplete="PF('InsuranceTitleReferenceListDialog').show()"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="InsuranceTitleCreate.xhtml"/>
            <ui:include src="InsuranceTitleReferenceList.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
