<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="InsurancetitleCreateDlg" widgetVar="InsurancetitleCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateInsurancetitleTitle}">
            <h:form id="InsurancetitleCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{insurancetitleController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateInsurancetitleLabel_insuranceTitleReferenceID}" for="insuranceTitleReferenceID" />
                        <p:selectOneMenu id="insuranceTitleReferenceID" value="#{insurancetitleController.selected.insuranceTitleReferenceID}" required="true" requiredMessage="#{bundle.EditInsurancetitleRequiredMessage_insuranceTitleReferenceID}">
                            <f:selectItems value="#{insurancetitlereferenceController.itemsAvailableSelectOne}"
                                           var="insuranceTitleReferenceIDItem"
                                           itemValue="#{insuranceTitleReferenceIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{insurancetitleController.create}" value="#{bundle.Save}" update="display,:InsurancetitleListForm:datalist,:growl" oncomplete="handleSubmit(args,'InsurancetitleCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="InsurancetitleCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
