<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../template.xhtml">

        <ui:define name="body">
            <h:form id="IncidentListForm">
                <p:panel header="#{bundle.ListIncidentTitle}">
                    <p:dataTable id="datalist" value="#{incidentController.items}" var="item"
                                 selectionMode="single" selection="#{incidentController.selected}"
                                 paginator="true"
                                 rowKey="#{item.incidentID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 scrollable="true"
                                 tableStyle="width:3000px"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton IncidentCauseViewButton
                                IncidentTypeViewButton IncidentConclusionViewButton IncidentInjuryViewButton IncidentAttachmentViewButton
                                VictimTestimonyViewButton WitnessTestimonyViewButton InsuranceTitleViewButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton IncidentCauseViewButton
                                IncidentTypeViewButton IncidentConclusionViewButton IncidentInjuryViewButton IncidentAttachmentViewButton
                                VictimTestimonyViewButton WitnessTestimonyViewButton InsuranceTitleViewButton"/>
 
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentProtocolNumber}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentProtocolNumber}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentArrangementStartDate}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentArrangementStartDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentArrangementEndDate}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentArrangementEndDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentTime}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentTime}">
                                <f:convertDateTime pattern="HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentDate}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentApplicationDate}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentApplicationDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentCircumstances}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentCircumstances}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentAtWork}" style="word-break: normal"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.incidentAtWork}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentAtWorkReason}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentAtWorkReason}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentDocumentCreationDate}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentDocumentCreationDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentDocumentDifficulties}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentDocumentDifficulties}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentDocumentAcquaintDate}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentDocumentAcquaintDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentDocumentApprovalDate}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentDocumentApprovalDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentDocumentReceiptDate}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentDocumentReceiptDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentDocumentPostOrDeliveryDate}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentDocumentPostOrDeliveryDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentPostTrackingNumber}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentPostTrackingNumber}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentInsuranceType}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentInsuranceType}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentEmployerNonCompliance}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentEmployerNonCompliance}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentEmployeeNonCompliance}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentEmployeeNonCompliance}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentEmployeeInsoberiety}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentEmployeeInsoberiety}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentApplicantID}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentApplicantID.employeePersonID.description}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentVictimID}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentVictimID.employeePersonID.description}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentCompanyRepresentativeID}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentCompanyRepresentativeID.employeePersonID.description}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentVictimFamilyMember}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentVictimFamilyMember.description}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListIncidentTitle_incidentOHSSpecialistID}" style="word-break: normal"/>
                            </f:facet>
                            <h:outputText value="#{item.incidentOHSSpecialistID.userPersonID.description}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{incidentController.prepareCreate}" update=":IncidentCreateForm" oncomplete="PF('IncidentCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":IncidentViewForm" oncomplete="PF('IncidentViewDialog').show()" disabled="#{empty incidentController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":IncidentEditForm" oncomplete="PF('IncidentEditDialog').show()" disabled="#{empty incidentController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{incidentController.destroy}" update=":growl,datalist" disabled="#{empty incidentController.selected}"/>
                            <br/>
                            <p:commandButton id="IncidentCauseViewButton" icon="ui-icon-search" value="#{bundle.GeneralCauses}" update=":IncidentcauseListForm" oncomplete="PF('IncidentCauseListDialog').show()" disabled="#{empty incidentController.selected}"/>
                            <p:commandButton id="IncidentTypeViewButton" icon="ui-icon-search" value="#{bundle.GeneralTypes}" update=":IncidenttypeListForm" oncomplete="PF('IncidentTypeListDialog').show()" disabled="#{empty incidentController.selected}"/>
                            <p:commandButton id="IncidentConclusionViewButton" icon="ui-icon-search" value="#{bundle.GeneralConclusions}" update=":IncidentconclusionListForm" oncomplete="PF('IncidentConclusionListDialog').show()" disabled="#{empty incidentController.selected}"/>
                            <p:commandButton id="IncidentInjuryViewButton" icon="ui-icon-search" value="#{bundle.GeneralInjuries}" update=":IncidentinjuryListForm" oncomplete="PF('IncidentInjuryListDialog').show()" disabled="#{empty incidentController.selected}"/>
                            <p:commandButton id="InsuranceTitleViewButton" icon="ui-icon-search" value="#{bundle.GeneralInsuranceTitles}" update=":InsurancetitleListForm" oncomplete="PF('InsuranceTitleListDialog').show()" disabled="#{empty incidentController.selected}"/>
                            <p:commandButton id="IncidentAttachmentViewButton" icon="ui-icon-search" value="#{bundle.GeneralAttachments}" update=":IncidentattachmentListForm" oncomplete="PF('IncidentAttachmentReferenceListDialog').show()" disabled="#{empty incidentController.selected}"/>
                            <br/>
                            <p:commandButton id="VictimTestimonyViewButton" icon="ui-icon-search" value="#{bundle.GeneralVictimTestimonies}" update=":VictimtestimonyListForm" oncomplete="PF('VictimTestimonyListDialog').show()" disabled="#{empty incidentController.selected}"/>
                            <p:commandButton id="WitnessTestimonyViewButton" icon="ui-icon-search" value="#{bundle.GeneralWitnessTestimonies}" update=":WitnesstestimonyListForm" oncomplete="PF('WitnessTestimonyListDialog').show()" disabled="#{empty incidentController.selected}"/>
                            
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
            <ui:include src="IncidentCauseList.xhtml"/>
            <ui:include src="IncidentTypeList.xhtml"/>
            <ui:include src="IncidentConclusionList.xhtml"/>
            <ui:include src="IncidentInjuryList.xhtml"/>
            <ui:include src="InsuranceTitleList.xhtml"/>
            <ui:include src="IncidentAttachmentList.xhtml"/>
            <ui:include src="VictimTestimonyList.xhtml"/>
            <ui:include src="WitnessTestimonyList.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
