<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VictimtestimonyCreateDlg" widgetVar="VictimtestimonyCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateVictimtestimonyTitle}">
            <h:form id="VictimtestimonyCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{victimtestimonyController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateVictimtestimonyLabel_victimTestimonyDateTime}" for="victimTestimonyDateTime" />
                        <p:calendar id="victimTestimonyDateTime" pattern="MM/dd/yyyy HH:mm:ss" value="#{victimtestimonyController.selected.victimTestimonyDateTime}" title="#{bundle.EditVictimtestimonyTitle_victimTestimonyDateTime}" required="true" requiredMessage="#{bundle.EditVictimtestimonyRequiredMessage_victimTestimonyDateTime}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateVictimtestimonyLabel_victimTestimonyContent}" for="victimTestimonyContent" />
                        <p:inputTextarea rows="4" cols="30" id="victimTestimonyContent" value="#{victimtestimonyController.selected.victimTestimonyContent}" title="#{bundle.CreateVictimtestimonyTitle_victimTestimonyContent}" required="true" requiredMessage="#{bundle.CreateVictimtestimonyRequiredMessage_victimTestimonyContent}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{victimtestimonyController.create}" value="#{bundle.Save}" update="display,:VictimtestimonyListForm:datalist,:growl" oncomplete="handleSubmit(args,'VictimtestimonyCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VictimtestimonyCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
