<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="VictimTestimonyListDlg" widgetVar="VictimTestimonyListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListVictimtestimonyTitle}"
                  width="500">

            <h:form id="VictimtestimonyListForm">
                <p:panel header="#{bundle.ListVictimtestimonyTitle}">
                    <p:dataTable id="datalist" value="#{victimtestimonyController.incidentItems}" var="item"
                                 selectionMode="single" selection="#{victimtestimonyController.selected}"
                                 paginator="true"
                                 rowKey="#{item.victimTestimonyID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVictimtestimonyTitle_victimTestimonyDateTime}"/>
                            </f:facet>
                            <h:outputText value="#{item.victimTestimonyDateTime}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVictimtestimonyTitle_victimTestimonyContent}"/>
                            </f:facet>
                            <h:outputText value="#{item.victimTestimonyContent}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{victimtestimonyController.prepareCreate}" update=":VictimtestimonyCreateForm" oncomplete="PF('VictimtestimonyCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":VictimtestimonyEditForm" oncomplete="PF('VictimtestimonyEditDialog').show()" disabled="#{empty victimtestimonyController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{victimtestimonyController.destroy}" update=":growl,datalist" disabled="#{empty victimtestimonyController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="VictimTestimonyCreate.xhtml"/>
            <ui:include src="VictimTestimonyEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
