<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentViewDlg" widgetVar="IncidentViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewIncidentTitle}">
            <h:form id="IncidentViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentController.selected != null}">
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentID}"/>
                        <h:outputText value="#{incidentController.selected.incidentID}" title="#{bundle.ViewIncidentTitle_incidentID}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentProtocolNumber}"/>
                        <h:outputText value="#{incidentController.selected.incidentProtocolNumber}" title="#{bundle.ViewIncidentTitle_incidentProtocolNumber}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentArrangementStartDate}"/>
                        <h:outputText value="#{incidentController.selected.incidentArrangementStartDate}" title="#{bundle.ViewIncidentTitle_incidentArrangementStartDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentArrangementEndDate}"/>
                        <h:outputText value="#{incidentController.selected.incidentArrangementEndDate}" title="#{bundle.ViewIncidentTitle_incidentArrangementEndDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentTime}"/>
                        <h:outputText value="#{incidentController.selected.incidentTime}" title="#{bundle.ViewIncidentTitle_incidentTime}">
                            <f:convertDateTime pattern="HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentDate}"/>
                        <h:outputText value="#{incidentController.selected.incidentDate}" title="#{bundle.ViewIncidentTitle_incidentDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentApplicationDate}"/>
                        <h:outputText value="#{incidentController.selected.incidentApplicationDate}" title="#{bundle.ViewIncidentTitle_incidentApplicationDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentCircumstances}"/>
                        <h:outputText value="#{incidentController.selected.incidentCircumstances}" title="#{bundle.ViewIncidentTitle_incidentCircumstances}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentAtWork}"/>
                        <p:selectBooleanCheckbox value="#{incidentController.selected.incidentAtWork}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentAtWorkReason}"/>
                        <h:outputText value="#{incidentController.selected.incidentAtWorkReason}" title="#{bundle.ViewIncidentTitle_incidentAtWorkReason}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentDocumentCreationDate}"/>
                        <h:outputText value="#{incidentController.selected.incidentDocumentCreationDate}" title="#{bundle.ViewIncidentTitle_incidentDocumentCreationDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentDocumentDifficulties}"/>
                        <h:outputText value="#{incidentController.selected.incidentDocumentDifficulties}" title="#{bundle.ViewIncidentTitle_incidentDocumentDifficulties}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentDocumentAcquaintDate}"/>
                        <h:outputText value="#{incidentController.selected.incidentDocumentAcquaintDate}" title="#{bundle.ViewIncidentTitle_incidentDocumentAcquaintDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentDocumentApprovalDate}"/>
                        <h:outputText value="#{incidentController.selected.incidentDocumentApprovalDate}" title="#{bundle.ViewIncidentTitle_incidentDocumentApprovalDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentDocumentReceiptDate}"/>
                        <h:outputText value="#{incidentController.selected.incidentDocumentReceiptDate}" title="#{bundle.ViewIncidentTitle_incidentDocumentReceiptDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentDocumentPostOrDeliveryDate}"/>
                        <h:outputText value="#{incidentController.selected.incidentDocumentPostOrDeliveryDate}" title="#{bundle.ViewIncidentTitle_incidentDocumentPostOrDeliveryDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentPostTrackingNumber}"/>
                        <h:outputText value="#{incidentController.selected.incidentPostTrackingNumber}" title="#{bundle.ViewIncidentTitle_incidentPostTrackingNumber}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentInsuranceType}"/>
                        <h:outputText value="#{incidentController.selected.incidentInsuranceType}" title="#{bundle.ViewIncidentTitle_incidentInsuranceType}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentEmployerNonCompliance}"/>
                        <h:outputText value="#{incidentController.selected.incidentEmployerNonCompliance}" title="#{bundle.ViewIncidentTitle_incidentEmployerNonCompliance}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentEmployeeNonCompliance}"/>
                        <h:outputText value="#{incidentController.selected.incidentEmployeeNonCompliance}" title="#{bundle.ViewIncidentTitle_incidentEmployeeNonCompliance}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentEmployeeInsoberiety}"/>
                        <h:outputText value="#{incidentController.selected.incidentEmployeeInsoberiety}" title="#{bundle.ViewIncidentTitle_incidentEmployeeInsoberiety}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentApplicantID}"/>
                        <h:outputText value="#{incidentController.selected.incidentApplicantID}" title="#{bundle.ViewIncidentTitle_incidentApplicantID}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentVictimID}"/>
                        <h:outputText value="#{incidentController.selected.incidentVictimID}" title="#{bundle.ViewIncidentTitle_incidentVictimID}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentCompanyRepresentativeID}"/>
                        <h:outputText value="#{incidentController.selected.incidentCompanyRepresentativeID}" title="#{bundle.ViewIncidentTitle_incidentCompanyRepresentativeID}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentVictimFamilyMember}"/>
                        <h:outputText value="#{incidentController.selected.incidentVictimFamilyMember}" title="#{bundle.ViewIncidentTitle_incidentVictimFamilyMember}"/>
                        <h:outputText value="#{bundle.ViewIncidentLabel_incidentOHSSpecialistID}"/>
                        <h:outputText value="#{incidentController.selected.incidentOHSSpecialistID}" title="#{bundle.ViewIncidentTitle_incidentOHSSpecialistID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="IncidentViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
