<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="WitnesstestimonyCreateDlg" widgetVar="WitnesstestimonyCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateWitnesstestimonyTitle}">
            <h:form id="WitnesstestimonyCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{witnesstestimonyController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateWitnesstestimonyLabel_witnessTestimonyDateTime}" for="witnessTestimonyDateTime" />
                        <p:calendar id="witnessTestimonyDateTime" pattern="MM/dd/yyyy HH:mm:ss" value="#{witnesstestimonyController.selected.witnessTestimonyDateTime}" title="#{bundle.EditWitnesstestimonyTitle_witnessTestimonyDateTime}" required="true" requiredMessage="#{bundle.EditWitnesstestimonyRequiredMessage_witnessTestimonyDateTime}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateWitnesstestimonyLabel_witnessTestimonyContent}" for="witnessTestimonyContent" />
                        <p:inputTextarea rows="4" cols="30" id="witnessTestimonyContent" value="#{witnesstestimonyController.selected.witnessTestimonyContent}" title="#{bundle.CreateWitnesstestimonyTitle_witnessTestimonyContent}" required="true" requiredMessage="#{bundle.CreateWitnesstestimonyRequiredMessage_witnessTestimonyContent}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{witnesstestimonyController.create}" value="#{bundle.Save}" update="display,:WitnesstestimonyListForm:datalist,:growl" oncomplete="handleSubmit(args,'WitnesstestimonyCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="WitnesstestimonyCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
