<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="WitnessTestimonyListDlg" widgetVar="WitnessTestimonyListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListWitnesstestimonyTitle}"
                  width="500">
            <h:form id="WitnesstestimonyListForm">
                <p:panel header="#{bundle.ListWitnesstestimonyTitle}">
                    <p:dataTable id="datalist" value="#{witnesstestimonyController.incidentItems}" var="item"
                                 selectionMode="single" selection="#{witnesstestimonyController.selected}"
                                 paginator="true"
                                 rowKey="#{item.winessTestimonyID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWitnesstestimonyTitle_witnessTestimonyDateTime}"/>
                            </f:facet>
                            <h:outputText value="#{item.witnessTestimonyDateTime}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWitnesstestimonyTitle_witnessTestimonyContent}"/>
                            </f:facet>
                            <h:outputText value="#{item.witnessTestimonyContent}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{witnesstestimonyController.prepareCreate}" update=":WitnesstestimonyCreateForm" oncomplete="PF('WitnesstestimonyCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":WitnesstestimonyEditForm" oncomplete="PF('WitnesstestimonyEditDialog').show()" disabled="#{empty witnesstestimonyController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{witnesstestimonyController.destroy}" update=":growl,datalist" disabled="#{empty witnesstestimonyController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="WitnessTestimonyCreate.xhtml"/>
            <ui:include src="WitnessTestimonyEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
