<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskbasedocumentreferenceViewDlg" widgetVar="RiskbasedocumentreferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRiskbasedocumentreferenceTitle}">
            <h:form id="RiskbasedocumentreferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskbasedocumentreferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewRiskbasedocumentreferenceLabel_riskBaseDocumentReferenceID}"/>
                        <h:outputText value="#{riskbasedocumentreferenceController.selected.riskBaseDocumentReferenceID}" title="#{bundle.ViewRiskbasedocumentreferenceTitle_riskBaseDocumentReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskbasedocumentreferenceLabel_riskBaseDocumentReferenceName}"/>
                        <h:outputText value="#{riskbasedocumentreferenceController.selected.riskBaseDocumentReferenceName}" title="#{bundle.ViewRiskbasedocumentreferenceTitle_riskBaseDocumentReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RiskbasedocumentreferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
