<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VictimtestimonyViewDlg" widgetVar="VictimtestimonyViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewVictimtestimonyTitle}">
            <h:form id="VictimtestimonyViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{victimtestimonyController.selected != null}">
                        <h:outputText value="#{bundle.ViewVictimtestimonyLabel_victimTestimonyID}"/>
                        <h:outputText value="#{victimtestimonyController.selected.victimTestimonyID}" title="#{bundle.ViewVictimtestimonyTitle_victimTestimonyID}"/>
                        <h:outputText value="#{bundle.ViewVictimtestimonyLabel_victimTestimonyContent}"/>
                        <h:outputText value="#{victimtestimonyController.selected.victimTestimonyContent}" title="#{bundle.ViewVictimtestimonyTitle_victimTestimonyContent}"/>
                        <h:outputText value="#{bundle.ViewVictimtestimonyLabel_victimTestimonyDateTime}"/>
                        <h:outputText value="#{victimtestimonyController.selected.victimTestimonyDateTime}" title="#{bundle.ViewVictimtestimonyTitle_victimTestimonyDateTime}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewVictimtestimonyLabel_victimTestimonyIncidentID}"/>
                        <h:outputText value="#{victimtestimonyController.selected.victimTestimonyIncidentID}" title="#{bundle.ViewVictimtestimonyTitle_victimTestimonyIncidentID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="VictimtestimonyViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
