<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListRiskanalysisTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="RiskanalysisListForm">
                <p:panel header="#{bundle.ListRiskanalysisTitle}">
                    <p:dataTable id="datalist" value="#{riskanalysisController.items}" var="item"
                                 selectionMode="single" selection="#{riskanalysisController.selected}"
                                 paginator="true"
                                 rowKey="#{item.riskAnalysisID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton RiskBaseDocumentViewButton RiskIdentificationViewButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton RiskBaseDocumentViewButton RiskIdentificationViewButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskanalysisTitle_riskAnalysisName}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskAnalysisName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskanalysisTitle_riskAnalysisVersion}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskAnalysisVersion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskanalysisTitle_riskAnalysisOHSSpecialistID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskAnalysisOHSSpecialistID.userPersonID.description}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{riskanalysisController.prepareCreate}" update=":RiskanalysisCreateForm" oncomplete="PF('RiskanalysisCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RiskanalysisEditForm" oncomplete="PF('RiskanalysisEditDialog').show()" disabled="#{empty riskanalysisController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{riskanalysisController.destroy}" update=":growl,datalist" disabled="#{empty riskanalysisController.selected}"/>
                            <p:commandButton id="RiskBaseDocumentViewButton" icon="ui-icon-search" value="#{bundle.GeneralBaseDocuments}" update=":RiskbasedocumentListForm" oncomplete="PF('RiskBaseDocumentListDialog').show()" disabled="#{empty riskanalysisController.selected}"/>
                            <p:commandButton id="RiskIdentificationViewButton" icon="ui-icon-search" value="#{bundle.GeneralRisksIdentification}" update=":RiskidentificationListForm" oncomplete="PF('RiskIdentificationListDialog').show()" disabled="#{empty riskanalysisController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="RiskBaseDocumentList.xhtml"/>
            <ui:include src="RiskIdentificationList.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
