<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskBaseDocumentListDlg" widgetVar="RiskBaseDocumentListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListRiskbasedocumentTitle}"
                  width="500">
            
            <h:form id="RiskbasedocumentListForm">
                <p:panel header="#{bundle.ListRiskbasedocumentTitle}">
                    <p:dataTable id="datalist" value="#{riskbasedocumentController.riskAnalysisItems}" var="item"
                                 selectionMode="single" selection="#{riskbasedocumentController.selected}"
                                 paginator="true"
                                 rowKey="#{item.riskBaseDocumentID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskbasedocumentTitle_riskBaseDocumentRiskBaseDocumentReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskBaseDocumentRiskBaseDocumentReferenceID.riskBaseDocumentReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{riskbasedocumentController.prepareCreate}" update=":RiskbasedocumentCreateForm" oncomplete="PF('RiskbasedocumentCreateDialog').show()"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{riskbasedocumentController.destroy}" update=":growl,datalist" disabled="#{empty riskbasedocumentController.selected}"/>
                            <p:commandButton id="manageButton" icon="ui-icon-clipboard"  value="#{bundle.Manage}" update=":growl,:RiskbasedocumentreferenceListForm" oncomplete="PF('RiskBaseDocumentReferenceListDialog').show()"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="RiskBaseDocumentCreate.xhtml"/>
            <ui:include src="RiskBaseDocumentReferenceList.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
