<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskreferenceCreateDlg" widgetVar="RiskreferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRiskreferenceTitle}">
            <h:form id="RiskreferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRiskreferenceLabel_riskReferenceName}" for="riskReferenceName" />
                        <p:inputTextarea rows="4" cols="30" id="riskReferenceName" value="#{riskreferenceController.selected.riskReferenceName}" title="#{bundle.CreateRiskreferenceTitle_riskReferenceName}" required="true" requiredMessage="#{bundle.CreateRiskreferenceRequiredMessage_riskReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{riskreferenceController.create}" value="#{bundle.Save}" update="display,:RiskreferenceListForm:datalist,:growl" oncomplete="handleSubmit(args,'RiskreferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RiskreferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
