<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RisksourcereferenceEditDlg" widgetVar="RisksourcereferenceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRisksourcereferenceTitle}">
            <h:form id="RisksourcereferenceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{risksourcereferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRisksourcereferenceLabel_riskSourceReferenceRiskReferenceID}" for="riskSourceReferenceRiskReferenceID" />
                        <p:selectOneMenu id="riskSourceReferenceRiskReferenceID" value="#{risksourcereferenceController.selected.riskSourceReferenceRiskReferenceID}" required="true" requiredMessage="#{bundle.EditRisksourcereferenceRequiredMessage_riskSourceReferenceRiskReferenceID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{riskreferenceController.itemsAvailableSelectOne}"
                                           var="riskSourceReferenceRiskReferenceIDItem"
                                           itemValue="#{riskSourceReferenceRiskReferenceIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditRisksourcereferenceLabel_riskSourceReferenceName}" for="riskSourceReferenceName" />
                        <p:inputTextarea rows="4" cols="30" id="riskSourceReferenceName" value="#{risksourcereferenceController.selected.riskSourceReferenceName}" title="#{bundle.EditRisksourcereferenceTitle_riskSourceReferenceName}" required="true" requiredMessage="#{bundle.EditRisksourcereferenceRequiredMessage_riskSourceReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{risksourcereferenceController.update}" value="#{bundle.Save}" update="display,:RisksourcereferenceListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RisksourcereferenceEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RisksourcereferenceEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
