<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskconsequencereferenceEditDlg" widgetVar="RiskconsequencereferenceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRiskconsequencereferenceTitle}">
            <h:form id="RiskconsequencereferenceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskconsequencereferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRiskconsequencereferenceLabel_riskConsequenceRiskReferenceID}" for="riskConsequenceRiskReferenceID" />
                        <p:selectOneMenu id="riskConsequenceRiskReferenceID" value="#{riskconsequencereferenceController.selected.riskConsequenceRiskReferenceID}" required="true" requiredMessage="#{bundle.EditRiskconsequencereferenceRequiredMessage_riskConsequenceRiskReferenceID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{riskreferenceController.itemsAvailableSelectOne}"
                                           var="riskConsequenceRiskReferenceIDItem"
                                           itemValue="#{riskConsequenceRiskReferenceIDItem}" itemLabel="#{riskConsequenceRiskReferenceIDItem.riskReferenceName}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditRiskconsequencereferenceLabel_riskConsequenceReferenceName}" for="riskConsequenceReferenceName" />
                        <p:inputTextarea rows="4" cols="30" id="riskConsequenceReferenceName" value="#{riskconsequencereferenceController.selected.riskConsequenceReferenceName}" title="#{bundle.EditRiskconsequencereferenceTitle_riskConsequenceReferenceName}" required="true" requiredMessage="#{bundle.EditRiskconsequencereferenceRequiredMessage_riskConsequenceReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{riskconsequencereferenceController.update}" value="#{bundle.Save}" update="display,:RiskconsequencereferenceListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RiskconsequencereferenceEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RiskconsequencereferenceEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
