<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RisksAssessmentReferenceListDlg" widgetVar="RisksAssessmentReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListRisksassessmentreferenceTitle}"
                  width="500">
            <h:form id="RisksassessmentreferenceListForm">
                <p:panel header="#{bundle.ListRisksassessmentreferenceTitle}">
                    <p:dataTable id="datalist" value="#{risksassessmentreferenceController.items}" var="item"
                                 selectionMode="single" selection="#{risksassessmentreferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.risksAssessmentReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRisksassessmentreferenceTitle_risksAssessmentReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.risksAssessmentReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{risksassessmentreferenceController.prepareCreate}" update=":RisksassessmentreferenceCreateForm" oncomplete="PF('RisksassessmentreferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RisksassessmentreferenceEditForm" oncomplete="PF('RisksassessmentreferenceEditDialog').show()" disabled="#{empty risksassessmentreferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{risksassessmentreferenceController.destroy}" update=":growl,datalist" disabled="#{empty risksassessmentreferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="RiskAssessmentReferenceCreate.xhtml"/>
            <ui:include src="RiskAssessmentReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
