<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>

        <p:dialog id="RiskidentificationCreateDlg" widgetVar="RiskidentificationCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRiskidentificationTitle}">
            <h:form id="RiskidentificationCreateForm">
                #{riskidentificationController.selected.riskIdentificationRiskReferenceID == null}
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskidentificationController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRiskidentificationLabel_riskIdentificationRiskReferenceID}" for="riskIdentificationRiskReferenceID" />
                        <p:selectOneMenu id="riskIdentificationRiskReferenceID" value="#{riskidentificationController.selected.riskIdentificationRiskReferenceID}" required="true" requiredMessage="#{bundle.EditRiskidentificationRequiredMessage_riskIdentificationRiskReferenceID}" style="width:500px;" >
                            <c:if test="#{riskidentificationController.selected.riskIdentificationRiskReferenceID == null}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}" itemValue="#{null}"/>
                            </c:if>
                            <f:selectItems value="#{riskreferenceController.itemsAvailableSelectOne}"
                                           var="riskIdentificationRiskReferenceIDItem"
                                           itemValue="#{riskIdentificationRiskReferenceIDItem}" itemLabel="#{riskIdentificationRiskReferenceIDItem.riskReferenceName}"/>
                            <p:ajax event="change" update="RiskidentificationCreateForm"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateRiskidentificationLabel_riskIdentificationRiskConsequenceReferenceID}" for="riskIdentificationRiskConsequenceReferenceID" />
                        <p:selectOneMenu id="riskIdentificationRiskConsequenceReferenceID" value="#{riskidentificationController.selected.riskIdentificationRiskConsequenceReferenceID}" required="true" requiredMessage="#{bundle.EditRiskidentificationRequiredMessage_riskIdentificationRiskConsequenceReferenceID}" style="width:500px;" disabled="#{riskidentificationController.selected.riskIdentificationRiskReferenceID == null}" >
                            <f:selectItems value="#{riskconsequencereferenceController.riskIdentificationItems}"
                                           var="riskIdentificationRiskConsequenceReferenceIDItem"
                                           itemValue="#{riskIdentificationRiskConsequenceReferenceIDItem}" itemLabel="#{riskIdentificationRiskConsequenceReferenceIDItem.riskConsequenceReferenceName}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateRiskidentificationLabel_riskIdentificationRiskPreventionReferenceID}" for="riskIdentificationRiskPreventionReferenceID" />
                        <p:selectOneMenu id="riskIdentificationRiskPreventionReferenceID" value="#{riskidentificationController.selected.riskIdentificationRiskPreventionReferenceID}" required="true" requiredMessage="#{bundle.EditRiskidentificationRequiredMessage_riskIdentificationRiskPreventionReferenceID}" style="width:500px;" disabled="#{riskidentificationController.selected.riskIdentificationRiskReferenceID == null}" >
                            <f:selectItems value="#{riskpreventionreferenceController.riskIdentificationItems}"
                                           var="riskIdentificationRiskPreventionReferenceIDItem"
                                           itemValue="#{riskIdentificationRiskPreventionReferenceIDItem}" itemLabel="#{riskIdentificationRiskPreventionReferenceIDItem.riskPreventionReferenceName}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateRiskidentificationLabel_riskIdentificationRiskSourceReferenceID}" for="riskIdentificationRiskSourceReferenceID" />
                        <p:selectOneMenu id="riskIdentificationRiskSourceReferenceID" value="#{riskidentificationController.selected.riskIdentificationRiskSourceReferenceID}" required="true" requiredMessage="#{bundle.EditRiskidentificationRequiredMessage_riskIdentificationRiskSourceReferenceID}" style="width:500px;" disabled="#{riskidentificationController.selected.riskIdentificationRiskReferenceID == null}" >
                            <f:selectItems value="#{risksourcereferenceController.riskIdentificationItems}"
                                           var="riskIdentificationRiskSourceReferenceIDItem"
                                           itemValue="#{riskIdentificationRiskSourceReferenceIDItem}" itemLabel="#{riskIdentificationRiskSourceReferenceIDItem.riskSourceReferenceName}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateRiskidentificationLabel_riskIdentificationRiskAnalysisID}" for="riskIdentificationRiskAnalysisID" />
                        <p:selectOneMenu id="riskIdentificationRiskAnalysisID" value="#{riskidentificationController.selected.riskIdentificationRiskAnalysisID}" required="true" requiredMessage="#{bundle.EditRiskidentificationRequiredMessage_riskIdentificationRiskAnalysisID}" style="width:500px;" >
                            <f:selectItems value="#{riskanalysisController.itemsAvailableSelectOne}"
                                           var="riskIdentificationRiskAnalysisIDItem"
                                           itemValue="#{riskIdentificationRiskAnalysisIDItem}" itemLabel="#{riskIdentificationRiskAnalysisIDItem.riskAnalysisName}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateRiskidentificationLabel_riskIdentificationRiskProbabilityReferenceID}" for="riskIdentificationRiskProbabilityReferenceID" />
                        <p:selectOneMenu id="riskIdentificationRiskProbabilityReferenceID" value="#{riskidentificationController.selected.riskIdentificationRiskProbabilityReferenceID}" required="true" requiredMessage="#{bundle.EditRiskidentificationRequiredMessage_riskIdentificationRiskProbabilityReferenceID}" style="width:500px;" >
                            <f:selectItems value="#{riskprobabilityreferenceController.itemsAvailableSelectOne}"
                                           var="riskIdentificationRiskProbabilityReferenceIDItem"
                                           itemValue="#{riskIdentificationRiskProbabilityReferenceIDItem}" itemLabel="#{riskIdentificationRiskProbabilityReferenceIDItem.riskProbabilityReferenceName}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateRiskidentificationLabel_riskIdentificationRiskSeverityReferenceID}" for="riskIdentificationRiskSeverityReferenceID" />
                        <p:selectOneMenu id="riskIdentificationRiskSeverityReferenceID" value="#{riskidentificationController.selected.riskIdentificationRiskSeverityReferenceID}" required="true" requiredMessage="#{bundle.EditRiskidentificationRequiredMessage_riskIdentificationRiskSeverityReferenceID}" style="width:500px;" >
                            <f:selectItems value="#{riskseverityreferenceController.itemsAvailableSelectOne}"
                                           var="riskIdentificationRiskSeverityReferenceIDItem"
                                           itemValue="#{riskIdentificationRiskSeverityReferenceIDItem}" itemLabel="#{riskIdentificationRiskSeverityReferenceIDItem.riskSeverityReferenceName}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateRiskidentificationLabel_riskIdentificationRisksAssessmentReferenceID}" for="riskIdentificationRisksAssessmentReferenceID" />
                        <p:selectOneMenu id="riskIdentificationRisksAssessmentReferenceID" value="#{riskidentificationController.selected.riskIdentificationRisksAssessmentReferenceID}" required="true" requiredMessage="#{bundle.EditRiskidentificationRequiredMessage_riskIdentificationRisksAssessmentReferenceID}" style="width:500px;" >
                            <f:selectItems value="#{risksassessmentreferenceController.itemsAvailableSelectOne}"
                                           var="riskIdentificationRisksAssessmentReferenceIDItem"
                                           itemValue="#{riskIdentificationRisksAssessmentReferenceIDItem}" itemLabel="#{riskIdentificationRisksAssessmentReferenceIDItem.risksAssessmentReferenceName}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{riskidentificationController.create}" value="#{bundle.Save}" update="display,:RiskidentificationListForm:datalist,:growl" oncomplete="handleSubmit(args,'RiskidentificationCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RiskidentificationCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
