<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskprobabilityreferenceCreateDlg" widgetVar="RiskprobabilityreferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRiskprobabilityreferenceTitle}">
            <h:form id="RiskprobabilityreferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskprobabilityreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRiskprobabilityreferenceLabel_riskProbabilityReferenceName}" for="riskProbabilityReferenceName" />
                        <p:inputText id="riskProbabilityReferenceName" value="#{riskprobabilityreferenceController.selected.riskProbabilityReferenceName}" title="#{bundle.CreateRiskprobabilityreferenceTitle_riskProbabilityReferenceName}" required="true" requiredMessage="#{bundle.CreateRiskprobabilityreferenceRequiredMessage_riskProbabilityReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{riskprobabilityreferenceController.create}" value="#{bundle.Save}" update="display,:RiskprobabilityreferenceListForm:datalist,:growl" oncomplete="handleSubmit(args,'RiskprobabilityreferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RiskprobabilityreferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
