<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RiskSeverityReferenceListDlg" widgetVar="RiskSeverityReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListRiskseverityreferenceTitle}"
                  width="500">

            <h:form id="RiskseverityreferenceListForm">
                <p:panel header="#{bundle.ListRiskseverityreferenceTitle}">
                    <p:dataTable id="datalist" value="#{riskseverityreferenceController.items}" var="item"
                                 selectionMode="single" selection="#{riskseverityreferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.riskSeverityReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskseverityreferenceTitle_riskSeverityReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskSeverityReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{riskseverityreferenceController.prepareCreate}" update=":RiskseverityreferenceCreateForm" oncomplete="PF('RiskseverityreferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RiskseverityreferenceEditForm" oncomplete="PF('RiskseverityreferenceEditDialog').show()" disabled="#{empty riskseverityreferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{riskseverityreferenceController.destroy}" update=":growl,datalist" disabled="#{empty riskseverityreferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="RiskSeverityReferenceCreate.xhtml"/>
            <ui:include src="RiskSeverityReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
