<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RiskBaseDocumentReferenceListDlg" widgetVar="RiskBaseDocumentReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListRiskbasedocumentreferenceTitle}"
                  width="500">

            <h:form id="RiskbasedocumentreferenceListForm">
                <p:panel header="#{bundle.ListRiskbasedocumentreferenceTitle}">
                    <p:dataTable id="datalist" value="#{riskbasedocumentreferenceController.items}" var="item"
                                 selectionMode="single" selection="#{riskbasedocumentreferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.riskBaseDocumentReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskbasedocumentreferenceTitle_riskBaseDocumentReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskBaseDocumentReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{riskbasedocumentreferenceController.prepareCreate}" update=":RiskbasedocumentreferenceCreateForm" oncomplete="PF('RiskbasedocumentreferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RiskbasedocumentreferenceEditForm" oncomplete="PF('RiskbasedocumentreferenceEditDialog').show()" disabled="#{empty riskbasedocumentreferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{riskbasedocumentreferenceController.destroy}" update=":growl,datalist" disabled="#{empty riskbasedocumentreferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="RiskBaseDocumentReferenceCreate.xhtml"/>
            <ui:include src="RiskBaseDocumentReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
