<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RiskSourceReferenceListDlg" widgetVar="RiskSourceReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListRiskreferenceTitle}"
                  width="500">
            <h:form id="RisksourcereferenceListForm">
                <p:panel header="#{bundle.ListRisksourcereferenceTitle}">
                    <p:dataTable id="datalist" value="#{risksourcereferenceController.items}" var="item"
                                 selectionMode="single" selection="#{risksourcereferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.riskSourceReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRisksourcereferenceTitle_riskSourceReferenceRiskReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskSourceReferenceRiskReferenceID.riskReferenceName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRisksourcereferenceTitle_riskSourceReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskSourceReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{risksourcereferenceController.prepareCreate}" update=":RisksourcereferenceCreateForm" oncomplete="PF('RisksourcereferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RisksourcereferenceEditForm" oncomplete="PF('RisksourcereferenceEditDialog').show()" disabled="#{empty risksourcereferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{risksourcereferenceController.destroy}" update=":growl,datalist" disabled="#{empty risksourcereferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="RiskSourceReferenceCreate.xhtml"/>
            <ui:include src="RiskSourceReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
