<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskpreventionreferenceCreateDlg" widgetVar="RiskpreventionreferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRiskpreventionreferenceTitle}">
            <h:form id="RiskpreventionreferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskpreventionreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRiskpreventionreferenceLabel_riskPreventionReferenceRiskReferenceID}" for="riskPreventionReferenceRiskReferenceID" />
                        <p:selectOneMenu id="riskPreventionReferenceRiskReferenceID" value="#{riskpreventionreferenceController.selected.riskPreventionReferenceRiskReferenceID}" required="true" requiredMessage="#{bundle.EditRiskpreventionreferenceRequiredMessage_riskPreventionReferenceRiskReferenceID}">
                            <f:selectItems value="#{riskreferenceController.itemsAvailableSelectOne}"
                                           var="riskPreventionReferenceRiskReferenceIDItem"
                                           itemValue="#{riskPreventionReferenceRiskReferenceIDItem}" itemLabel="#{riskPreventionReferenceRiskReferenceIDItem.riskReferenceName}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateRiskpreventionreferenceLabel_riskPreventionReferenceName}" for="riskPreventionReferenceName" />
                        <p:inputTextarea rows="4" cols="30" id="riskPreventionReferenceName" value="#{riskpreventionreferenceController.selected.riskPreventionReferenceName}" title="#{bundle.CreateRiskpreventionreferenceTitle_riskPreventionReferenceName}" required="true" requiredMessage="#{bundle.CreateRiskpreventionreferenceRequiredMessage_riskPreventionReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{riskpreventionreferenceController.create}" value="#{bundle.Save}" update="display,:RiskpreventionreferenceListForm:datalist,:growl" oncomplete="handleSubmit(args,'RiskpreventionreferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RiskpreventionreferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
