<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskbasedocumentreferenceCreateDlg" widgetVar="RiskbasedocumentreferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRiskbasedocumentreferenceTitle}">
            <h:form id="RiskbasedocumentreferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskbasedocumentreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRiskbasedocumentreferenceLabel_riskBaseDocumentReferenceName}" for="riskBaseDocumentReferenceName" />
                        <p:inputTextarea rows="4" cols="30" id="riskBaseDocumentReferenceName" value="#{riskbasedocumentreferenceController.selected.riskBaseDocumentReferenceName}" title="#{bundle.CreateRiskbasedocumentreferenceTitle_riskBaseDocumentReferenceName}" required="true" requiredMessage="#{bundle.CreateRiskbasedocumentreferenceRequiredMessage_riskBaseDocumentReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{riskbasedocumentreferenceController.create}" value="#{bundle.Save}" update="display,:RiskbasedocumentreferenceListForm:datalist,:growl" oncomplete="handleSubmit(args,'RiskbasedocumentreferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RiskbasedocumentreferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
