<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RiskProbabilityReferenceListDlg" widgetVar="RiskProbabilityReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListRiskprobabilityreferenceTitle}"
                  width="500">

            <h:form id="RiskprobabilityreferenceListForm">
                <p:panel header="#{bundle.ListRiskprobabilityreferenceTitle}">
                    <p:dataTable id="datalist" value="#{riskprobabilityreferenceController.items}" var="item"
                                 selectionMode="single" selection="#{riskprobabilityreferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.riskProbabilityReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskprobabilityreferenceTitle_riskProbabilityReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskProbabilityReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{riskprobabilityreferenceController.prepareCreate}" update=":RiskprobabilityreferenceCreateForm" oncomplete="PF('RiskprobabilityreferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RiskprobabilityreferenceEditForm" oncomplete="PF('RiskprobabilityreferenceEditDialog').show()" disabled="#{empty riskprobabilityreferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{riskprobabilityreferenceController.destroy}" update=":growl,datalist" disabled="#{empty riskprobabilityreferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="RiskProbabilityReferenceCreate.xhtml"/>
            <ui:include src="RiskProbabilityReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
