<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RiskReferenceListDlg" widgetVar="RiskReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListRiskreferenceTitle}"
                  width="500">
            <h:form id="RiskreferenceListForm">
                <p:panel header="#{bundle.ListRiskreferenceTitle}">
                    <p:dataTable id="datalist" value="#{riskreferenceController.items}" var="item"
                                 selectionMode="single" selection="#{riskreferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.riskReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskreferenceTitle_riskReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{riskreferenceController.prepareCreate}" update=":RiskreferenceCreateForm" oncomplete="PF('RiskreferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RiskreferenceEditForm" oncomplete="PF('RiskreferenceEditDialog').show()" disabled="#{empty riskreferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{riskreferenceController.destroy}" update=":growl,datalist" disabled="#{empty riskreferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="RiskReferenceCreate.xhtml"/>
            <ui:include src="RiskReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
