<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskbasedocumentCreateDlg" widgetVar="RiskbasedocumentCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRiskbasedocumentTitle}">
            <h:form id="RiskbasedocumentCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskbasedocumentController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRiskbasedocumentLabel_riskBaseDocumentRiskBaseDocumentReferenceID}" for="riskBaseDocumentRiskBaseDocumentReferenceID" />
                        <p:selectOneMenu id="riskBaseDocumentRiskBaseDocumentReferenceID" value="#{riskbasedocumentController.selected.riskBaseDocumentRiskBaseDocumentReferenceID}" required="true" requiredMessage="#{bundle.EditRiskbasedocumentRequiredMessage_riskBaseDocumentRiskBaseDocumentReferenceID}">
                            <f:selectItems value="#{riskbasedocumentreferenceController.itemsAvailableSelectOne}"
                                           var="riskBaseDocumentRiskBaseDocumentReferenceIDItem"
                                           itemValue="#{riskBaseDocumentRiskBaseDocumentReferenceIDItem}" itemLabel="#{riskBaseDocumentRiskBaseDocumentReferenceIDItem.riskBaseDocumentReferenceName}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{riskbasedocumentController.create}" value="#{bundle.Save}" update="display,:RiskbasedocumentListForm:datalist,:growl" oncomplete="handleSubmit(args,'RiskbasedocumentCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RiskbasedocumentCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
