<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RiskConsequenceReferenceListDlg" widgetVar="RiskConsequenceReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListRiskconsequencereferenceTitle}"
                  width="500">
            
            <h:form id="RiskconsequencereferenceListForm">
                <p:panel header="#{bundle.ListRiskconsequencereferenceTitle}">
                    <p:dataTable id="datalist" value="#{riskconsequencereferenceController.items}" var="item"
                                 selectionMode="single" selection="#{riskconsequencereferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.riskConsequenceReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskconsequencereferenceTitle_riskConsequenceRiskReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskConsequenceRiskReferenceID.riskReferenceName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskconsequencereferenceTitle_riskConsequenceReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskConsequenceReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{riskconsequencereferenceController.prepareCreate}" update=":RiskconsequencereferenceCreateForm" oncomplete="PF('RiskconsequencereferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RiskconsequencereferenceEditForm" oncomplete="PF('RiskconsequencereferenceEditDialog').show()" disabled="#{empty riskconsequencereferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{riskconsequencereferenceController.destroy}" update=":growl,datalist" disabled="#{empty riskconsequencereferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="RiskConsequenceReferenceCreate.xhtml"/>
            <ui:include src="RiskConsequenceReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
