<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskseverityreferenceCreateDlg" widgetVar="RiskseverityreferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRiskseverityreferenceTitle}">
            <h:form id="RiskseverityreferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskseverityreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRiskseverityreferenceLabel_riskSeverityReferenceName}" for="riskSeverityReferenceName" />
                        <p:inputText id="riskSeverityReferenceName" value="#{riskseverityreferenceController.selected.riskSeverityReferenceName}" title="#{bundle.CreateRiskseverityreferenceTitle_riskSeverityReferenceName}" required="true" requiredMessage="#{bundle.CreateRiskseverityreferenceRequiredMessage_riskSeverityReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{riskseverityreferenceController.create}" value="#{bundle.Save}" update="display,:RiskseverityreferenceListForm:datalist,:growl" oncomplete="handleSubmit(args,'RiskseverityreferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RiskseverityreferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
