<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RisksassessmentreferenceCreateDlg" widgetVar="RisksassessmentreferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRisksassessmentreferenceTitle}">
            <h:form id="RisksassessmentreferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{risksassessmentreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRisksassessmentreferenceLabel_risksAssessmentReferenceName}" for="risksAssessmentReferenceName" />
                        <p:inputText id="risksAssessmentReferenceName" value="#{risksassessmentreferenceController.selected.risksAssessmentReferenceName}" title="#{bundle.CreateRisksassessmentreferenceTitle_risksAssessmentReferenceName}" required="true" requiredMessage="#{bundle.CreateRisksassessmentreferenceRequiredMessage_risksAssessmentReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{risksassessmentreferenceController.create}" value="#{bundle.Save}" update="display,:RisksassessmentreferenceListForm:datalist,:growl" oncomplete="handleSubmit(args,'RisksassessmentreferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RisksassessmentreferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
