<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskseverityreferenceEditDlg" widgetVar="RiskseverityreferenceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRiskseverityreferenceTitle}">
            <h:form id="RiskseverityreferenceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskseverityreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRiskseverityreferenceLabel_riskSeverityReferenceName}" for="riskSeverityReferenceName" />
                        <p:inputText id="riskSeverityReferenceName" value="#{riskseverityreferenceController.selected.riskSeverityReferenceName}" title="#{bundle.EditRiskseverityreferenceTitle_riskSeverityReferenceName}" required="true" requiredMessage="#{bundle.EditRiskseverityreferenceRequiredMessage_riskSeverityReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{riskseverityreferenceController.update}" value="#{bundle.Save}" update="display,:RiskseverityreferenceListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RiskseverityreferenceEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RiskseverityreferenceEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
