<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RiskIdentificationListDlg" widgetVar="RiskIdentificationListDialog" modal="true" resizable="true" appendTo="@(body)" header="#{bundle.ListRiskidentificationTitle}"
                  width="800">
            <h:form id="RiskidentificationListForm">
                <p:panel header="#{bundle.ListRiskidentificationTitle}">
                    <p:dataTable id="datalist" value="#{riskidentificationController.items}" var="item"
                                 selectionMode="single" selection="#{riskidentificationController.selected}"
                                 paginator="true"
                                 rowKey="#{item.riskIdentificationID}"
                                 rows="20"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 scrollable="true"
                                 scrollHeight="300"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskidentificationTitle_riskIdentificationRiskReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskIdentificationRiskReferenceID.riskReferenceName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskidentificationTitle_riskIdentificationRiskConsequenceReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskIdentificationRiskConsequenceReferenceID.riskConsequenceReferenceName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskidentificationTitle_riskIdentificationRiskPreventionReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskIdentificationRiskPreventionReferenceID.riskPreventionReferenceName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskidentificationTitle_riskIdentificationRiskSourceReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskIdentificationRiskSourceReferenceID.riskSourceReferenceName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskidentificationTitle_riskIdentificationRiskProbabilityReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskIdentificationRiskProbabilityReferenceID.riskProbabilityReferenceName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskidentificationTitle_riskIdentificationRiskSeverityReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskIdentificationRiskSeverityReferenceID.riskSeverityReferenceName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskidentificationTitle_riskIdentificationRisksAssessmentReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskIdentificationRisksAssessmentReferenceID.risksAssessmentReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{riskidentificationController.prepareCreate}" update=":RiskidentificationCreateForm" oncomplete="PF('RiskidentificationCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RiskidentificationEditForm" oncomplete="PF('RiskidentificationEditDialog').show()" disabled="#{empty riskidentificationController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{riskidentificationController.destroy}" update=":growl,datalist" disabled="#{empty riskidentificationController.selected}"/>
                            <br/>
                            <p:commandButton id="RiskReferenceViewButton" icon="ui-icon-search" value="#{bundle.GeneralRisks}" update=":RiskreferenceListForm" oncomplete="PF('RiskReferenceListDialog').show()"/>
                            <p:commandButton id="RiskSourceReferenceViewButton" icon="ui-icon-search" value="#{bundle.GeneralSources}" update=":RisksourcereferenceListForm" oncomplete="PF('RiskSourceReferenceListDialog').show()"/>
                            <p:commandButton id="RiskPreventionReferenceViewButton" icon="ui-icon-search" value="#{bundle.GeneralPreventions}" update=":RiskpreventionreferenceListForm" oncomplete="PF('RiskPreventionReferenceListDialog').show()"/>
                            <p:commandButton id="RiskSeverityReferenceViewButton" icon="ui-icon-search" value="#{bundle.GeneralSeverities}" update=":RiskseverityreferenceListForm" oncomplete="PF('RiskSeverityReferenceListDialog').show()"/>
                            <p:commandButton id="RiskProbabilityReferenceViewButton" icon="ui-icon-search" value="#{bundle.GeneralProbabilities}" update=":RiskprobabilityreferenceListForm" oncomplete="PF('RiskProbabilityReferenceListDialog').show()"/>
                            <p:commandButton id="RisksAssessmentReferenceViewButton" icon="ui-icon-search" value="#{bundle.GeneralAssessment}" update=":RisksassessmentreferenceListForm" oncomplete="PF('RisksAssessmentReferenceListDialog').show()"/>
                            <p:commandButton id="RiskConsequenceReferenceViewButton" icon="ui-icon-search" value="#{bundle.GeneralConsequences}" update=":RiskconsequencereferenceListForm" oncomplete="PF('RiskConsequenceReferenceListDialog').show()"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="RiskIdentificationCreate.xhtml"/>
            <ui:include src="RiskIdentificationEdit.xhtml"/>
            <ui:include src="RiskReferenceList.xhtml"/>
            <ui:include src="RiskSourceReferenceList.xhtml"/>
            <ui:include src="RiskPreventionReferenceList.xhtml"/>
            <ui:include src="RiskSeverityReferenceList.xhtml"/>
            <ui:include src="RiskProbabilityReferenceList.xhtml"/>
            <ui:include src="RiskAssessmentReferenceList.xhtml"/>
            <ui:include src="RiskConsequenceReferenceList.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
