<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RiskPreventionReferenceListDlg" widgetVar="RiskPreventionReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListRiskpreventionreferenceTitle}"
                  width="500">
            <h:form id="RiskpreventionreferenceListForm">
                <p:panel header="#{bundle.ListRiskpreventionreferenceTitle}">
                    <p:dataTable id="datalist" value="#{riskpreventionreferenceController.items}" var="item"
                                 selectionMode="single" selection="#{riskpreventionreferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.riskPreventionReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskpreventionreferenceTitle_riskPreventionReferenceRiskReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskPreventionReferenceRiskReferenceID.riskReferenceName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRiskpreventionreferenceTitle_riskPreventionReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.riskPreventionReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{riskpreventionreferenceController.prepareCreate}" update=":RiskpreventionreferenceCreateForm" oncomplete="PF('RiskpreventionreferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RiskpreventionreferenceEditForm" oncomplete="PF('RiskpreventionreferenceEditDialog').show()" disabled="#{empty riskpreventionreferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{riskpreventionreferenceController.destroy}" update=":growl,datalist" disabled="#{empty riskpreventionreferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="RiskPreventionReferenceCreate.xhtml"/>
            <ui:include src="RiskPreventionReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
