<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskanalysisViewDlg" widgetVar="RiskanalysisViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRiskanalysisTitle}">
            <h:form id="RiskanalysisViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskanalysisController.selected != null}">
                        <h:outputText value="#{bundle.ViewRiskanalysisLabel_riskAnalysisID}"/>
                        <h:outputText value="#{riskanalysisController.selected.riskAnalysisID}" title="#{bundle.ViewRiskanalysisTitle_riskAnalysisID}"/>
                        <h:outputText value="#{bundle.ViewRiskanalysisLabel_riskAnalysisName}"/>
                        <h:outputText value="#{riskanalysisController.selected.riskAnalysisName}" title="#{bundle.ViewRiskanalysisTitle_riskAnalysisName}"/>
                        <h:outputText value="#{bundle.ViewRiskanalysisLabel_riskAnalysisVersion}"/>
                        <h:outputText value="#{riskanalysisController.selected.riskAnalysisVersion}" title="#{bundle.ViewRiskanalysisTitle_riskAnalysisVersion}"/>
                        <h:outputText value="#{bundle.ViewRiskanalysisLabel_riskAnalysisCreationTimestamp}"/>
                        <h:outputText value="#{riskanalysisController.selected.riskAnalysisCreationTimestamp}" title="#{bundle.ViewRiskanalysisTitle_riskAnalysisCreationTimestamp}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewRiskanalysisLabel_riskAnalysisLastUpdateTimestamp}"/>
                        <h:outputText value="#{riskanalysisController.selected.riskAnalysisLastUpdateTimestamp}" title="#{bundle.ViewRiskanalysisTitle_riskAnalysisLastUpdateTimestamp}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewRiskanalysisLabel_riskAnalysisOHSSpecialistID}"/>
                        <h:outputText value="#{riskanalysisController.selected.riskAnalysisOHSSpecialistID}" title="#{bundle.ViewRiskanalysisTitle_riskAnalysisOHSSpecialistID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RiskanalysisViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
