<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositiondutyEditDlg" widgetVar="PositiondutyEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPositiondutyTitle}">
            <h:form id="PositiondutyEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positiondutyController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPositiondutyLabel_positionDutyID}" for="positionDutyID" />
                        <p:inputText id="positionDutyID" value="#{positiondutyController.selected.positionDutyID}" title="#{bundle.EditPositiondutyTitle_positionDutyID}" required="true" requiredMessage="#{bundle.EditPositiondutyRequiredMessage_positionDutyID}"/>
                        <p:outputLabel value="#{bundle.EditPositiondutyLabel_positionDutyName}" for="positionDutyName" />
                        <p:inputTextarea rows="4" cols="30" id="positionDutyName" value="#{positiondutyController.selected.positionDutyName}" title="#{bundle.EditPositiondutyTitle_positionDutyName}" required="true" requiredMessage="#{bundle.EditPositiondutyRequiredMessage_positionDutyName}"/>
                        <p:outputLabel value="#{bundle.EditPositiondutyLabel_positionDutyPositionID}" for="positionDutyPositionID" />
                        <p:selectOneMenu id="positionDutyPositionID" value="#{positiondutyController.selected.positionDutyPositionID}" required="true" requiredMessage="#{bundle.EditPositiondutyRequiredMessage_positionDutyPositionID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{positionController.itemsAvailableSelectOne}"
                                           var="positionDutyPositionIDItem"
                                           itemValue="#{positionDutyPositionIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positiondutyController.update}" value="#{bundle.Save}" update="display,:PositiondutyListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PositiondutyEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositiondutyEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
