<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositiondutyViewDlg" widgetVar="PositiondutyViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPositiondutyTitle}">
            <h:form id="PositiondutyViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positiondutyController.selected != null}">
                        <h:outputText value="#{bundle.ViewPositiondutyLabel_positionDutyID}"/>
                        <h:outputText value="#{positiondutyController.selected.positionDutyID}" title="#{bundle.ViewPositiondutyTitle_positionDutyID}"/>
                        <h:outputText value="#{bundle.ViewPositiondutyLabel_positionDutyName}"/>
                        <h:outputText value="#{positiondutyController.selected.positionDutyName}" title="#{bundle.ViewPositiondutyTitle_positionDutyName}"/>
                        <h:outputText value="#{bundle.ViewPositiondutyLabel_positionDutyPositionID}"/>
                        <h:outputText value="#{positiondutyController.selected.positionDutyPositionID}" title="#{bundle.ViewPositiondutyTitle_positionDutyPositionID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PositiondutyViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
