<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersondetailsEditDlg" widgetVar="PersondetailsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPersondetailsTitle}">
            <h:form id="PersondetailsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{persondetailsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsID}" for="personDetailsID" />
                        <p:inputText id="personDetailsID" value="#{persondetailsController.selected.personDetailsID}" title="#{bundle.EditPersondetailsTitle_personDetailsID}" required="true" requiredMessage="#{bundle.EditPersondetailsRequiredMessage_personDetailsID}"/>
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsEmail}" for="personDetailsEmail" />
                        <p:inputText id="personDetailsEmail" value="#{persondetailsController.selected.personDetailsEmail}" title="#{bundle.EditPersondetailsTitle_personDetailsEmail}" />
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsPESEL}" for="personDetailsPESEL" />
                        <p:inputText id="personDetailsPESEL" value="#{persondetailsController.selected.personDetailsPESEL}" title="#{bundle.EditPersondetailsTitle_personDetailsPESEL}" />
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsNIP}" for="personDetailsNIP" />
                        <p:inputText id="personDetailsNIP" value="#{persondetailsController.selected.personDetailsNIP}" title="#{bundle.EditPersondetailsTitle_personDetailsNIP}" />
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsBirthDate}" for="personDetailsBirthDate" />
                        <p:calendar id="personDetailsBirthDate" pattern="MM/dd/yyyy" value="#{persondetailsController.selected.personDetailsBirthDate}" title="#{bundle.EditPersondetailsTitle_personDetailsBirthDate}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsBirthPlace}" for="personDetailsBirthPlace" />
                        <p:inputText id="personDetailsBirthPlace" value="#{persondetailsController.selected.personDetailsBirthPlace}" title="#{bundle.EditPersondetailsTitle_personDetailsBirthPlace}" />
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsMotherName}" for="personDetailsMotherName" />
                        <p:inputText id="personDetailsMotherName" value="#{persondetailsController.selected.personDetailsMotherName}" title="#{bundle.EditPersondetailsTitle_personDetailsMotherName}" />
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsFatherName}" for="personDetailsFatherName" />
                        <p:inputText id="personDetailsFatherName" value="#{persondetailsController.selected.personDetailsFatherName}" title="#{bundle.EditPersondetailsTitle_personDetailsFatherName}" />
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsDocumentTypeID}" for="personDetailsDocumentTypeID" />
                        <p:inputText id="personDetailsDocumentTypeID" value="#{persondetailsController.selected.personDetailsDocumentTypeID}" title="#{bundle.EditPersondetailsTitle_personDetailsDocumentTypeID}" />
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsDocumentSeries}" for="personDetailsDocumentSeries" />
                        <p:inputText id="personDetailsDocumentSeries" value="#{persondetailsController.selected.personDetailsDocumentSeries}" title="#{bundle.EditPersondetailsTitle_personDetailsDocumentSeries}" />
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsDocumentNumber}" for="personDetailsDocumentNumber" />
                        <p:inputText id="personDetailsDocumentNumber" value="#{persondetailsController.selected.personDetailsDocumentNumber}" title="#{bundle.EditPersondetailsTitle_personDetailsDocumentNumber}" />
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsLastUpdateTimestamp}" for="personDetailsLastUpdateTimestamp" />
                        <p:calendar id="personDetailsLastUpdateTimestamp" pattern="MM/dd/yyyy HH:mm:ss" value="#{persondetailsController.selected.personDetailsLastUpdateTimestamp}" title="#{bundle.EditPersondetailsTitle_personDetailsLastUpdateTimestamp}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsPersonID}" for="personDetailsPersonID" />
                        <p:selectOneMenu id="personDetailsPersonID" value="#{persondetailsController.selected.personDetailsPersonID}" required="true" requiredMessage="#{bundle.EditPersondetailsRequiredMessage_personDetailsPersonID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personController.itemsAvailableSelectOne}"
                                           var="personDetailsPersonIDItem"
                                           itemValue="#{personDetailsPersonIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{persondetailsController.update}" value="#{bundle.Save}" update="display,:PersondetailsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PersondetailsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PersondetailsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
