<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListPersondetailsTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PersondetailsListForm">
                <p:panel header="#{bundle.ListPersondetailsTitle}">
                    <p:dataTable id="datalist" value="#{persondetailsController.items}" var="item"
                                 selectionMode="single" selection="#{persondetailsController.selected}"
                                 paginator="true"
                                 rowKey="#{item.personDetailsID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsID}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsID}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsEmail}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsEmail}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsPESEL}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsPESEL}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsNIP}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsNIP}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsBirthDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsBirthDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsBirthPlace}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsBirthPlace}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsMotherName}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsMotherName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsFatherName}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsFatherName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsDocumentTypeID}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsDocumentTypeID}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsDocumentSeries}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsDocumentSeries}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsDocumentNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsDocumentNumber}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsLastUpdateTimestamp}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsLastUpdateTimestamp}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersondetailsTitle_personDetailsPersonID}"/>
                            </f:facet>
                            <h:outputText value="#{item.personDetailsPersonID}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{persondetailsController.prepareCreate}" update=":PersondetailsCreateForm" oncomplete="PF('PersondetailsCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":PersondetailsViewForm" oncomplete="PF('PersondetailsViewDialog').show()" disabled="#{empty persondetailsController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":PersondetailsEditForm" oncomplete="PF('PersondetailsEditDialog').show()" disabled="#{empty persondetailsController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{persondetailsController.destroy}" update=":growl,datalist" disabled="#{empty persondetailsController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
