<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersondetailsViewDlg" widgetVar="PersondetailsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPersondetailsTitle}">
            <h:form id="PersondetailsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{persondetailsController.selected != null}">
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsID}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsID}" title="#{bundle.ViewPersondetailsTitle_personDetailsID}"/>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsEmail}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsEmail}" title="#{bundle.ViewPersondetailsTitle_personDetailsEmail}"/>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsPESEL}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsPESEL}" title="#{bundle.ViewPersondetailsTitle_personDetailsPESEL}"/>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsNIP}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsNIP}" title="#{bundle.ViewPersondetailsTitle_personDetailsNIP}"/>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsBirthDate}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsBirthDate}" title="#{bundle.ViewPersondetailsTitle_personDetailsBirthDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsBirthPlace}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsBirthPlace}" title="#{bundle.ViewPersondetailsTitle_personDetailsBirthPlace}"/>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsMotherName}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsMotherName}" title="#{bundle.ViewPersondetailsTitle_personDetailsMotherName}"/>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsFatherName}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsFatherName}" title="#{bundle.ViewPersondetailsTitle_personDetailsFatherName}"/>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsDocumentTypeID}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsDocumentTypeID}" title="#{bundle.ViewPersondetailsTitle_personDetailsDocumentTypeID}"/>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsDocumentSeries}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsDocumentSeries}" title="#{bundle.ViewPersondetailsTitle_personDetailsDocumentSeries}"/>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsDocumentNumber}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsDocumentNumber}" title="#{bundle.ViewPersondetailsTitle_personDetailsDocumentNumber}"/>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsLastUpdateTimestamp}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsLastUpdateTimestamp}" title="#{bundle.ViewPersondetailsTitle_personDetailsLastUpdateTimestamp}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewPersondetailsLabel_personDetailsPersonID}"/>
                        <h:outputText value="#{persondetailsController.selected.personDetailsPersonID}" title="#{bundle.ViewPersondetailsTitle_personDetailsPersonID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PersondetailsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
