<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TraininggroupCreateDlg" widgetVar="TraininggroupCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateTraininggroupTitle}">
            <h:form id="TraininggroupCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{traininggroupController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateTraininggroupLabel_trainingGroupRegisterNumber}" for="trainingGroupRegisterNumber" />
                        <p:inputText id="trainingGroupRegisterNumber" value="#{traininggroupController.selected.trainingGroupRegisterNumber}" title="#{bundle.CreateTraininggroupTitle_trainingGroupRegisterNumber}" required="true" requiredMessage="#{bundle.CreateTraininggroupRequiredMessage_trainingGroupRegisterNumber}"/>
                        <p:outputLabel value="#{bundle.CreateTraininggroupLabel_trainingInitial}" for="trainingInitial" />
                        <p:selectBooleanCheckbox id="trainingInitial" value="#{traininggroupController.selected.trainingInitial}" required="true" requiredMessage="#{bundle.EditTraininggroupRequiredMessage_trainingInitial}"/>
                        <p:outputLabel value="#{bundle.CreateTraininggroupLabel_trainingGroupStartDate}" for="trainingGroupStartDate" />
                        <p:calendar id="trainingGroupStartDate" pattern="MM/dd/yyyy" value="#{traininggroupController.selected.trainingGroupStartDate}" title="#{bundle.EditTraininggroupTitle_trainingGroupStartDate}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateTraininggroupLabel_trainingGroupEndDate}" for="trainingGroupEndDate" />
                        <p:calendar id="trainingGroupEndDate" pattern="MM/dd/yyyy" value="#{traininggroupController.selected.trainingGroupEndDate}" title="#{bundle.EditTraininggroupTitle_trainingGroupEndDate}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateTraininggroupLabel_trainingGroupValidityMonths}" for="trainingGroupValidityMonths" />
                        <p:inputText id="trainingGroupValidityMonths" value="#{traininggroupController.selected.trainingGroupValidityMonths}" title="#{bundle.CreateTraininggroupTitle_trainingGroupValidityMonths}" required="true" requiredMessage="#{bundle.CreateTraininggroupRequiredMessage_trainingGroupValidityMonths}"/>
                        <p:outputLabel value="#{bundle.CreateTraininggroupLabel_trainingGroupOrganizerID}" for="trainingGroupOrganizerID" />
                        <p:selectOneMenu id="trainingGroupOrganizerID" value="#{traininggroupController.selected.trainingGroupOrganizerID}" required="true" requiredMessage="#{bundle.EditTraininggroupRequiredMessage_trainingGroupOrganizerID}">
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="trainingGroupOrganizerIDItem"
                                           itemValue="#{trainingGroupOrganizerIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{traininggroupController.create}" value="#{bundle.Save}" update="display,:TraininggroupListForm:datalist,:growl" oncomplete="handleSubmit(args,'TraininggroupCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TraininggroupCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
