<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EducationalactivityListDlg" widgetVar="EducationalactivityListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEducationalactivityTitle}" 
                  width="500">
            <h:form id="EducationalactivityListForm">
                <p:panel header="#{bundle.ListEducationalactivityTitle}">
                    <p:dataTable id="datalist" value="#{educationalactivityController.trainingItems}" var="item"
                                 selectionMode="single" selection="#{educationalactivityController.selected}"
                                 paginator="true"
                                 rowKey="#{item.educationalActivityID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEducationalactivityTitle_educationalActivityEducationalActivityReferenceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.educationalActivityEducationalActivityReferenceID.educationalActivityReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Add}" actionListener="#{educationalactivityController.prepareCreate}" update=":EducationalactivityCreateForm" oncomplete="PF('EducationalactivityCreateDialog').show()"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{educationalactivityController.destroy}" update=":growl,datalist" disabled="#{empty educationalactivityController.selected}"/>
                            <p:commandButton id="manageButton" icon="ui-icon-clipboard"  value="#{bundle.Manage}" update=":growl,:EducationalactivityCreateForm" oncomplete="PF('EducationalactivityreferenceListDialog').show()"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="EducationalActivityCreate.xhtml"/>
            <ui:include src="EducationalActivityReferenceList.xhtml"/>
            </p:dialog>
    </ui:composition>

</html>
