<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EducationalactivityreferenceEditDlg" widgetVar="EducationalactivityreferenceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEducationalactivityreferenceTitle}">
            <h:form id="EducationalactivityreferenceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{educationalactivityreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.EditEducationalactivityreferenceLabel_educationalActivityReferenceShortName}" for="educationalActivityReferenceShortName" />
                        <p:inputText id="educationalActivityReferenceShortName" value="#{educationalactivityreferenceController.selected.educationalActivityReferenceShortName}" title="#{bundle.EditEducationalactivityreferenceTitle_educationalActivityReferenceShortName}" required="true" requiredMessage="#{bundle.EditEducationalactivityreferenceRequiredMessage_educationalActivityReferenceShortName}"/>
                        <p:outputLabel value="#{bundle.EditEducationalactivityreferenceLabel_educationalActivityReferenceName}" for="educationalActivityReferenceName" />
                        <p:inputTextarea rows="4" cols="30" id="educationalActivityReferenceName" value="#{educationalactivityreferenceController.selected.educationalActivityReferenceName}" title="#{bundle.EditEducationalactivityreferenceTitle_educationalActivityReferenceName}" required="true" requiredMessage="#{bundle.EditEducationalactivityreferenceRequiredMessage_educationalActivityReferenceName}"/>
                        <p:outputLabel value="#{bundle.EditEducationalactivityreferenceLabel_educationalActivityReferenceDuration}" for="educationalActivityReferenceDuration" />
                        <p:calendar id="educationalActivityReferenceDuration" pattern="HH:mm:ss" value="#{educationalactivityreferenceController.selected.educationalActivityReferenceDuration}" title="#{bundle.EditEducationalactivityreferenceTitle_educationalActivityReferenceDuration}" required="true" requiredMessage="#{bundle.EditEducationalactivityreferenceRequiredMessage_educationalActivityReferenceDuration}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditEducationalactivityreferenceLabel_educationalActivityReferenceInitial}" for="educationalActivityReferenceInitial" />
                        <p:selectBooleanCheckbox id="educationalActivityReferenceInitial" value="#{educationalactivityreferenceController.selected.educationalActivityReferenceInitial}" required="true" requiredMessage="#{bundle.EditEducationalactivityreferenceRequiredMessage_educationalActivityReferenceInitial}"/>
                        <p:outputLabel value="#{bundle.EditEducationalactivityreferenceLabel_educationalActivityReferenceWorkplaceID}" for="educationalActivityReferenceWorkplaceID" />
                        <p:selectOneMenu id="educationalActivityReferenceWorkplaceID" value="#{educationalactivityreferenceController.selected.educationalActivityReferenceWorkplaceID}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{positionController.itemsAvailableSelectOne}"
                                           var="educationalActivityReferenceWorkplaceIDItem"
                                           itemValue="#{educationalActivityReferenceWorkplaceIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{educationalactivityreferenceController.update}" value="#{bundle.Save}" update="display,:EducationalactivityreferenceListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EducationalactivityreferenceEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EducationalactivityreferenceEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
