<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EducationalactivityreferenceListDlg" widgetVar="EducationalactivityreferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEducationalactivityreferenceTitle}" 
                  width="500">
            <h:form id="EducationalactivityreferenceListForm">
                <p:panel header="#{bundle.ListEducationalactivityreferenceTitle}">
                    <p:dataTable id="datalist" value="#{educationalactivityreferenceController.items}" var="item"
                                 selectionMode="single" selection="#{educationalactivityreferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.educationalActivityReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEducationalactivityreferenceTitle_educationalActivityReferenceShortName}"/>
                            </f:facet>
                            <h:outputText value="#{item.educationalActivityReferenceShortName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEducationalactivityreferenceTitle_educationalActivityReferenceDuration}"/>
                            </f:facet>
                            <h:outputText value="#{item.educationalActivityReferenceDuration}">
                                <f:convertDateTime pattern="HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEducationalactivityreferenceTitle_educationalActivityReferenceInitial}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.educationalActivityReferenceInitial}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEducationalactivityreferenceTitle_educationalActivityReferenceWorkplaceID}"/>
                            </f:facet>
                            <h:outputText value="#{item.educationalActivityReferenceWorkplaceID}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{educationalactivityreferenceController.prepareCreate}" update=":EducationalactivityreferenceCreateForm" oncomplete="PF('EducationalactivityreferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":EducationalactivityreferenceEditForm" oncomplete="PF('EducationalactivityreferenceEditDialog').show()" disabled="#{empty educationalactivityreferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{educationalactivityreferenceController.destroy}" update=":growl,datalist" disabled="#{empty educationalactivityreferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="EducationalActivityReferenceCreate.xhtml"/>
            <ui:include src="EducationalActivityReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>
</html>
