<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EducationalactivityCreateDlg" widgetVar="EducationalactivityCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEducationalactivityTitle}">
            <h:form id="EducationalactivityCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{educationalactivityController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateEducationalactivityLabel_educationalActivityEducationalActivityReferenceID}" for="educationalActivityEducationalActivityReferenceID" />
                        <p:selectOneMenu id="educationalActivityEducationalActivityReferenceID" value="#{educationalactivityController.selected.educationalActivityEducationalActivityReferenceID}" required="true" requiredMessage="#{bundle.EditEducationalactivityRequiredMessage_educationalActivityEducationalActivityReferenceID}">
                            <f:selectItems value="#{educationalactivityreferenceController.itemsAvailableSelectOne}"
                                           var="educationalActivityEducationalActivityReferenceIDItem"
                                           itemValue="#{educationalActivityEducationalActivityReferenceIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{educationalactivityController.create}" value="#{bundle.Save}" update="display,:EducationalactivityListForm:datalist,:growl" oncomplete="handleSubmit(args,'EducationalactivityCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EducationalactivityCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
