<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTraininggroupTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form id="TraininggroupListForm">
                <p:panel header="#{bundle.ListTraininggroupTitle}">
                    <p:dataTable id="datalist" value="#{traininggroupController.items}" var="item"
                                 selectionMode="single" selection="#{traininggroupController.selected}"
                                 paginator="true" rowKey="#{item.trainingGroupID}"
                                 rows="10" rowsPerPageTemplate="10,20,30,40,50" >
                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton 
                                showParticipantsButton showActivitiesButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton 
                                showParticipantsButton showActivitiesButton"/>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTraininggroupTitle_trainingGroupRegisterNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.trainingGroupRegisterNumber}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTraininggroupTitle_trainingInitial}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.trainingInitial}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTraininggroupTitle_trainingGroupStartDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.trainingGroupStartDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTraininggroupTitle_trainingGroupEndDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.trainingGroupEndDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTraininggroupTitle_trainingGroupValidityMonths}"/>
                            </f:facet>
                            <h:outputText value="#{item.trainingGroupValidityMonths}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTraininggroupTitle_trainingGroupOrganizerID}"/>
                            </f:facet>
                            <h:outputText value="#{item.trainingGroupOrganizerID.userPersonID.description}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" 
                                             actionListener="#{traininggroupController.prepareCreate}" update=":TraininggroupCreateForm" 
                                             oncomplete="PF('TraininggroupCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" 
                                             update=":TraininggroupViewForm" oncomplete="PF('TraininggroupViewDialog').show()" 
                                             disabled="#{empty traininggroupController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":TraininggroupEditForm" 
                                             oncomplete="PF('TraininggroupEditDialog').show()" 
                                             disabled="#{empty traininggroupController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" 
                                             actionListener="#{traininggroupController.destroy}" update=":growl,datalist" 
                                             disabled="#{empty traininggroupController.selected}"/>
                            <br/>
                            <p:commandButton id="showParticipantsButton" icon="ui-icon-person" value="#{bundle.GeneralParticipants}" 
                                             update=":TrainingListForm" oncomplete="PF('TrainingListDialog').show()" 
                                             disabled="#{empty traininggroupController.selected}"/>
                            <p:commandButton id="showActivitiesButton" icon="ui-icon-clipboard" value="#{bundle.GeneralActivities}" 
                                             update=":EducationalactivityListForm" oncomplete="PF('EducationalactivityListDialog').show()" 
                                             disabled="#{empty traininggroupController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="ParticipantsList.xhtml"/>
            <ui:include src="EducationalActivityList.xhtml"/>
            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
