<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="TrainingListDlg" widgetVar="TrainingListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTraininggroupTitle}" 
                  width="500">

            <h:form id="TrainingListForm">
                <p:panel header="#{bundle.ListTrainingTitle}">
                    <p:dataTable id="datalist" value="#{trainingController.trainingItems}" var="item"
                                 selectionMode="single" selection="#{trainingController.selected}"
                                 paginator="true"
                                 rowKey="#{item.trainingID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createTrainingButton deleteTrainingButton"/>
                        <p:ajax event="rowUnselect" update="createTrainingButton deleteTrainingButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrainingTitle_trainingEmployeeID}"/>
                            </f:facet>
                            <h:outputText value="#{item.trainingEmployeeID.employeePersonID.description}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrainingTitle_trainingRegisterNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.trainingRegisterNumber}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createTrainingButton" icon="ui-icon-plus"   value="#{bundle.Add}" actionListener="#{trainingController.prepareCreate}" update=":TrainingCreateForm" oncomplete="PF('TrainingCreateDialog').show()"/>
                            <p:commandButton id="deleteTrainingButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{trainingController.destroy}" update=":TrainingCreateForm, :growl,datalist" disabled="#{empty trainingController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="ParticipantsCreate.xhtml"/>
            </p:dialog>
    </ui:composition>

</html>
