<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="TrainingCreateDlg" widgetVar="TrainingCreateDialog" modal="true" resizable="false" 
                  appendTo="@(body)" header="#{bundle.CreateTrainingTitle}">
            <h:form id="TrainingCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{trainingController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateTrainingLabel_trainingEmployeeID}" for="trainingEmployeeID" />
                        <p:selectOneMenu id="trainingEmployeeID" value="#{trainingController.selected.trainingEmployeeID}" 
                                        required="true" requiredMessage="#{bundle.EditTrainingRequiredMessage_trainingEmployeeID}">
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="trainingEmployeeIDItem"
                                           itemValue="#{trainingEmployeeIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateTrainingLabel_trainingRegisterNumber}" for="trainingRegisterNumber" />
                        <p:inputText id="trainingRegisterNumber" value="#{trainingController.selected.trainingRegisterNumber}" 
                                     title="#{bundle.CreateTrainingTitle_trainingRegisterNumber}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{trainingController.create}" value="#{bundle.Save}" 
                                     update="display,:TrainingListForm:datalist,:growl" 
                                     oncomplete="handleSubmit(args,'TrainingCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TrainingCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>
