<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TrainingViewDlg" widgetVar="TrainingViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTrainingTitle}">
            <h:form id="TrainingViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{trainingController.selected != null}">
                        <h:outputText value="#{bundle.ViewTrainingLabel_trainingID}"/>
                        <h:outputText value="#{trainingController.selected.trainingID}" title="#{bundle.ViewTrainingTitle_trainingID}"/>
                        <h:outputText value="#{bundle.ViewTrainingLabel_trainingRegisterNumber}"/>
                        <h:outputText value="#{trainingController.selected.trainingRegisterNumber}" title="#{bundle.ViewTrainingTitle_trainingRegisterNumber}"/>
                        <h:outputText value="#{bundle.ViewTrainingLabel_trainingGroupTrainingGroupID}"/>
                        <h:outputText value="#{trainingController.selected.trainingGroupTrainingGroupID}" title="#{bundle.ViewTrainingTitle_trainingGroupTrainingGroupID}"/>
                        <h:outputText value="#{bundle.ViewTrainingLabel_trainingEmployeeID}"/>
                        <h:outputText value="#{trainingController.selected.trainingEmployeeID}" title="#{bundle.ViewTrainingTitle_trainingEmployeeID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TrainingViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
