<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TrainingEditDlg" widgetVar="TrainingEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTrainingTitle}">
            <h:form id="TrainingEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{trainingController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTrainingLabel_trainingID}" for="trainingID" />
                        <p:inputText id="trainingID" value="#{trainingController.selected.trainingID}" title="#{bundle.EditTrainingTitle_trainingID}" required="true" requiredMessage="#{bundle.EditTrainingRequiredMessage_trainingID}"/>
                        <p:outputLabel value="#{bundle.EditTrainingLabel_trainingRegisterNumber}" for="trainingRegisterNumber" />
                        <p:inputText id="trainingRegisterNumber" value="#{trainingController.selected.trainingRegisterNumber}" title="#{bundle.EditTrainingTitle_trainingRegisterNumber}" />
                        <p:outputLabel value="#{bundle.EditTrainingLabel_trainingGroupTrainingGroupID}" for="trainingGroupTrainingGroupID" />
                        <p:selectOneMenu id="trainingGroupTrainingGroupID" value="#{trainingController.selected.trainingGroupTrainingGroupID}" required="true" requiredMessage="#{bundle.EditTrainingRequiredMessage_trainingGroupTrainingGroupID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{traininggroupController.itemsAvailableSelectOne}"
                                           var="trainingGroupTrainingGroupIDItem"
                                           itemValue="#{trainingGroupTrainingGroupIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditTrainingLabel_trainingEmployeeID}" for="trainingEmployeeID" />
                        <p:selectOneMenu id="trainingEmployeeID" value="#{trainingController.selected.trainingEmployeeID}" required="true" requiredMessage="#{bundle.EditTrainingRequiredMessage_trainingEmployeeID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="trainingEmployeeIDItem"
                                           itemValue="#{trainingEmployeeIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{trainingController.update}" value="#{bundle.Save}" update="display,:TrainingListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TrainingEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TrainingEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
