<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TraininggroupViewDlg" widgetVar="TraininggroupViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTraininggroupTitle}">
            <h:form id="TraininggroupViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{traininggroupController.selected != null}">
                        <h:outputText value="#{bundle.ViewTraininggroupLabel_trainingGroupRegisterNumber}"/>
                        <h:outputText value="#{traininggroupController.selected.trainingGroupRegisterNumber}" title="#{bundle.ViewTraininggroupTitle_trainingGroupRegisterNumber}"/>
                        <h:outputText value="#{bundle.ViewTraininggroupLabel_trainingInitial}"/>
                        <p:selectBooleanCheckbox value="#{traininggroupController.selected.trainingInitial}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewTraininggroupLabel_trainingGroupStartDate}"/>
                        <h:outputText value="#{traininggroupController.selected.trainingGroupStartDate}" title="#{bundle.ViewTraininggroupTitle_trainingGroupStartDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewTraininggroupLabel_trainingGroupEndDate}"/>
                        <h:outputText value="#{traininggroupController.selected.trainingGroupEndDate}" title="#{bundle.ViewTraininggroupTitle_trainingGroupEndDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewTraininggroupLabel_trainingGroupValidityMonths}"/>
                        <h:outputText value="#{traininggroupController.selected.trainingGroupValidityMonths}" title="#{bundle.ViewTraininggroupTitle_trainingGroupValidityMonths}"/>
                        <h:outputText value="#{bundle.ViewTraininggroupLabel_trainingGroupOrganizerID}"/>
                        <h:outputText value="#{traininggroupController.selected.trainingGroupOrganizerID}" title="#{bundle.ViewTraininggroupTitle_trainingGroupOrganizerID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TraininggroupViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
