<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmployeeCreateDlg" widgetVar="EmployeeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEmployeeTitle}" 
                  width="600" >
            <h:form id="EmployeeCreateForm">
                <h:panelGroup id="display">
                    <p:accordionPanel id="mainPanel">
                        <p:tab title="#{bundle.GeneralPersonalData}">
                            <ui:include src="CreatePerson.xhtml"/>
                        </p:tab>
                        <p:tab title="#{bundle.GeneralEmployeeData}" >
                            <p:panelGrid columns="2" rendered="#{employeeController.selected != null}">
                                <p:outputLabel value="#{bundle.EditEmployeeLabel_employeeWorkplaceID}" for="employeeWorkplaceID" />
                                <p:selectOneMenu id="employeeWorkplaceID" value="#{employeeController.selected.employeeWorkplaceID}" >
                                    <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{positionController.itemsAvailableSelectOne}"
                                                   var="employeeWorkplaceIDItem"
                                                   itemValue="#{employeeWorkplaceIDItem}"/>
                                </p:selectOneMenu>
                                <p:outputLabel value="#{bundle.EditEmployeeLabel_employeeEmployeer}" for="employeeEmployeer" />
                                <p:selectBooleanCheckbox id="employeeEmployeer" value="#{employeeController.selected.employeeEmployeer}" required="true" requiredMessage="#{bundle.EditEmployeeRequiredMessage_employeeEmployeer}"/>
                                <p:outputLabel value="#{bundle.EditEmployeeLabel_employeeHiredDate}" for="employeeHiredDate" />
                                <p:calendar id="employeeHiredDate" pattern="MM/dd/yyyy" value="#{employeeController.selected.employeeHiredDate}" title="#{bundle.EditEmployeeTitle_employeeHiredDate}"  showOn="button"/>
                                <p:outputLabel value="#{bundle.EditEmployeeLabel_employeeOHSFamiliarDate}" for="employeeOHSFamiliarDate" />
                                <p:calendar id="employeeOHSFamiliarDate" pattern="MM/dd/yyyy" value="#{employeeController.selected.employeeOHSFamiliarDate}" title="#{bundle.EditEmployeeTitle_employeeOHSFamiliarDate}"  showOn="button"/>
                                <p:outputLabel value="#{bundle.EditEmployeeLabel_employeeEqualOpportunitiesFamiliar}" for="employeeEqualOpportunitiesFamiliar" />
                                <p:calendar id="employeeEqualOpportunitiesFamiliar" pattern="MM/dd/yyyy" value="#{employeeController.selected.employeeEqualOpportunitiesFamiliar}" title="#{bundle.EditEmployeeTitle_employeeEqualOpportunitiesFamiliar}"  showOn="button"/>
                            </p:panelGrid>
                        </p:tab>
                    </p:accordionPanel>
                    <p:commandButton actionListener="#{employeeController.create}" value="#{bundle.Save}" update="display,:EmployeeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EmployeeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EmployeeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>
