<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
            <h:panelGroup id="display">
                #{employeeController.personDetails.getPersondetailsByPersonID(employeeController.selected.employeePersonID.personID)}
                <p:panelGrid columns="2" rendered="#{employeeController.personDetails.selected != null}">
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsEmail}" for="personDetailsEmail" />
                    <p:inputText id="personDetailsEmail" value="#{employeeController.personDetails.selected.personDetailsEmail}" title="#{bundle.EditPersondetailsTitle_personDetailsEmail}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsPESEL}" for="personDetailsPESEL" />
                    <p:inputText id="personDetailsPESEL" value="#{employeeController.personDetails.selected.personDetailsPESEL}" title="#{bundle.EditPersondetailsTitle_personDetailsPESEL}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsNIP}" for="personDetailsNIP" />
                    <p:inputText id="personDetailsNIP" value="#{employeeController.personDetails.selected.personDetailsNIP}" title="#{bundle.EditPersondetailsTitle_personDetailsNIP}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsBirthDate}" for="personDetailsBirthDate" />
                    <p:calendar id="personDetailsBirthDate" pattern="MM/dd/yyyy" value="#{employeeController.personDetails.selected.personDetailsBirthDate}" title="#{bundle.EditPersondetailsTitle_personDetailsBirthDate}"  showOn="button"/>
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsBirthPlace}" for="personDetailsBirthPlace" />
                    <p:inputText id="personDetailsBirthPlace" value="#{employeeController.personDetails.selected.personDetailsBirthPlace}" title="#{bundle.EditPersondetailsTitle_personDetailsBirthPlace}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsMotherName}" for="personDetailsMotherName" />
                    <p:inputText id="personDetailsMotherName" value="#{employeeController.personDetails.selected.personDetailsMotherName}" title="#{bundle.EditPersondetailsTitle_personDetailsMotherName}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsFatherName}" for="personDetailsFatherName" />
                    <p:inputText id="personDetailsFatherName" value="#{employeeController.personDetails.selected.personDetailsFatherName}" title="#{bundle.EditPersondetailsTitle_personDetailsFatherName}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsDocumentTypeID}" for="personDetailsDocumentTypeID" />
                    <p:selectOneButton id="personDetailsDocumentTypeID" value="#{employeeController.personDetails.selected.personDetailsDocumentTypeID}" style="margin-bottom:10px; margin-top:0px" >
                                <f:selectItem itemLabel="Dowód osobisty" itemValue="1" />
                                <f:selectItem itemLabel="Paszport" itemValue="2" />
                    </p:selectOneButton>
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsDocumentSeries}" for="personDetailsDocumentSeries" />
                    <p:inputText id="personDetailsDocumentSeries" value="#{employeeController.personDetails.selected.personDetailsDocumentSeries}" title="#{bundle.EditPersondetailsTitle_personDetailsDocumentSeries}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsDocumentNumber}" for="personDetailsDocumentNumber" />
                    <p:inputText id="personDetailsDocumentNumber" value="#{employeeController.personDetails.selected.personDetailsDocumentNumber}" title="#{bundle.EditPersondetailsTitle_personDetailsDocumentNumber}" />
                    
                </p:panelGrid>
                <h:form id="EmployeePersondetailsCreateForm">
                    <p:commandButton id="addPersonDetailsButton" icon="ui-icon-plus" value="#{bundle.Create}" rendered="#{employeeController.personDetails.selected == null}"   
                                     actionListener="#{employeeController.personDetails.createForPerson(employeeController.selected.employeePersonID)}" 
                                     update=":EmployeeCreateForm,:growl" immediate="true" process="@this" disabled="#{empty employeeController.person.selected.personID}" />
                </h:form>
            </h:panelGroup>
    </ui:composition>
</html>
