<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
                    <p:panelGrid columns="2" rendered="#{employeeController.selected.employeePersonID.personAddressID != null}">
                        <p:outputLabel value="#{bundle.AddressLabel_addressLine1}" for="addressLine1" />
                        <p:inputText id="addressLine1" value="#{employeeController.selected.employeePersonID.personAddressID.addressLine1}" title="#{bundle.AddressTitle_addressLine1}" required="true" requiredMessage="#{bundle.AddressRequiredMessage_addressLine1}"/>
                        <p:outputLabel value="#{bundle.AddressLabel_addressPostCode}" for="addressPostCode" />
                        <p:inputText id="addressPostCode" value="#{employeeController.selected.employeePersonID.personAddressID.addressPostCode}" title="#{bundle.AddressTitle_addressPostCode}" />
                        <p:outputLabel value="#{bundle.AddressLabel_addressCity}" for="addressCity" />
                        <p:inputText id="addressCity" value="#{employeeController.selected.employeePersonID.personAddressID.addressCity}" title="#{bundle.AddressTitle_addressCity}" />

                        <p:outputLabel value="#{bundle.AddressLabel_addressState}" for="addressState" />
                        <p:selectOneMenu id="addressState" value="#{employeeController.selected.employeePersonID.personAddressID.addressState}" >
                            <f:selectItem itemLabel="dolnośląskie" itemValue="dolnośląskie" />
                            <f:selectItem itemLabel="kujawsko-pomorskie" itemValue="kujawsko-pomorskie" />
                            <f:selectItem itemLabel="lubelskie" itemValue="lubelskie" />
                            <f:selectItem itemLabel="lubuskie" itemValue="lubuskie" />
                            <f:selectItem itemLabel="łódzkie" itemValue="łódzkie" />
                            <f:selectItem itemLabel="małopolskie" itemValue="małopolskie" />
                            <f:selectItem itemLabel="mazowieckie" itemValue="mazowieckie" />
                            <f:selectItem itemLabel="opolskie" itemValue="opolskie" />
                            <f:selectItem itemLabel="podkarpackie" itemValue="podkarpackie" />
                            <f:selectItem itemLabel="podlaskie" itemValue="podlaskie" />
                            <f:selectItem itemLabel="pomorskie" itemValue="pomorskie" />
                            <f:selectItem itemLabel="śląskie" itemValue="śląskie" />
                            <f:selectItem itemLabel="świętokrzyskie" itemValue="świętokrzyskie" />
                            <f:selectItem itemLabel="warmińsko-mazurskie" itemValue="warmińsko-mazurskie" />
                            <f:selectItem itemLabel="wielkopolskie" itemValue="wielkopolskie" />
                            <f:selectItem itemLabel="zachodniopomorskie" itemValue="zachodniopomorskie" />
                        </p:selectOneMenu>

                        <p:outputLabel value="#{bundle.AddressLabel_addressCountry}" for="addressCountry" />
                        <p:inputText id="addressCountry" value="#{employeeController.selected.employeePersonID.personAddressID.addressCountry}" title="#{bundle.AddressTitle_addressCountry}"  />
                    </p:panelGrid>
        <h:form id="EmployeePersonAddressCreateForm">
                    <p:commandButton id="createPersonAddressButton" icon="ui-icon-plus" value="#{bundle.Create}" rendered="#{employeeController.selected.employeePersonID.personAddressID == null}"   
                                                 actionListener="#{addressController.prepareCreateforPerson}" update=":EmployeeCreateForm" immediate="true" />
                </h:form>
    </ui:composition>
</html>
