<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="../template.xhtml"
            xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
                <ui:define name="body">
                    
                <h:form id="EmployeeListForm">
                    <p:panel header="#{bundle.ListEmployeeTitle}">
                        <p:dataTable id="datalist" value="#{employeeController.items}" var="item"
                                     selectionMode="single" selection="#{employeeController.selected}"
                                     paginator="true"
                                     rowKey="#{item.employeeID}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListEmployeeTitle_employeePersonDescription}"/>
                                </f:facet>
                                <h:outputText value="#{item.employeePersonID.description}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListEmployeeTitle_employeeEmployeer}" style="word-break: normal"/>
                                </f:facet>
                                <p:selectBooleanCheckbox value="#{item.employeeEmployeer}" disabled="true"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListEmployeeTitle_employeeWorkplaceDescription}"/>
                                </f:facet>
                                <h:outputText value="#{item.employeeWorkplaceID.positionName}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListEmployeeTitle_employeeOHSFamiliarDate}"/>
                                </f:facet>
                                <h:outputText value="#{item.employeeOHSFamiliarDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListEmployeeTitle_employeeEqualOpportunitiesFamiliar}"/>
                                </f:facet>
                                <h:outputText value="#{item.employeeEqualOpportunitiesFamiliar}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListEmployeeTitle_employeeRiskAnalysisID}"/>
                                </f:facet>
                                <h:outputText value="#{item.employeeRiskAnalysisID}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListEmployeeTitle_employeeInitialTrainingID}"/>
                                </f:facet>
                                <h:outputText value="#{item.employeeInitialTrainingID.trainingGroupTrainingGroupID.expiredDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListEmployeeTitle_employeePeriodicTrainingID}"/>
                                </f:facet>
                                <h:outputText value="#{item.employeePeriodicTrainingID.trainingGroupTrainingGroupID.expiredDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListEmployeeTitle_employeeHiredDate}"/>
                                </f:facet>
                                <h:outputText value="#{item.employeeHiredDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{employeeController.prepareCreate}" update=":EmployeeCreateForm" oncomplete="PF('EmployeeCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":EmployeeViewForm" oncomplete="PF('EmployeeViewDialog').show()" disabled="#{empty employeeController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":EmployeeEditForm" oncomplete="PF('EmployeeEditDialog').show()" disabled="#{empty employeeController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{employeeController.destroy}" update=":growl,datalist" disabled="#{empty employeeController.selected}"/>
                            </f:facet>
                        </p:dataTable>
                    </p:panel>
                </h:form>

                <ui:include src="Create.xhtml"/>
                <ui:include src="Edit.xhtml"/>
                <ui:include src="View.xhtml"/>
    </ui:define>
</ui:composition>
