<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmployeeViewDlg" widgetVar="EmployeeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEmployeeTitle}">
            <h:form id="EmployeeViewForm">
                <h:panelGroup id="display">
                    <p:accordionPanel id="mainPanel">
                        <p:tab title="#{bundle.GeneralPersonalData}">
                            <ui:include src="ViewPerson.xhtml"/>
                        </p:tab>
                        <p:tab title="#{bundle.GeneralEmployeeData}" >
                            <p:panelGrid columns="2" rendered="#{employeeController.selected != null}">
                                <p:outputLabel value="#{bundle.EditEmployeeLabel_employeeWorkplaceID}" for="employeeWorkplaceID" />
                                <h:outputText id="employeeWorkplaceID" value="#{employeeController.selected.employeeWorkplaceID}" title="#{bundle.ViewPersonTitle_personGender}"/>
                                <p:outputLabel value="#{bundle.EditEmployeeLabel_employeeEmployeer}" for="employeeEmployeer" />
                                <p:selectBooleanCheckbox id="employeeEmployeer" value="#{employeeController.selected.employeeEmployeer}" disabled="true"/>
                                <p:outputLabel value="#{bundle.EditEmployeeLabel_employeeHiredDate}" for="employeeHiredDate" />
                                <h:outputText id="employeeHiredDate" value="#{employeeController.selected.employeeHiredDate}" title="#{bundle.EditEmployeeTitle_employeeHiredDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                                <p:outputLabel value="#{bundle.EditEmployeeLabel_employeeOHSFamiliarDate}" for="employeeOHSFamiliarDate" />
                                <h:outputText id="employeeOHSFamiliarDate" value="#{employeeController.selected.employeeOHSFamiliarDate}" title="#{bundle.EditEmployeeTitle_employeeOHSFamiliarDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                                <p:outputLabel value="#{bundle.EditEmployeeLabel_employeeEqualOpportunitiesFamiliar}" for="employeeEqualOpportunitiesFamiliar" />
                                <h:outputText id="employeeEqualOpportunitiesFamiliar" value="#{employeeController.selected.employeeEqualOpportunitiesFamiliar}" title="#{bundle.EditEmployeeTitle_employeeEqualOpportunitiesFamiliar}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:panelGrid>
                        </p:tab>
                    </p:accordionPanel>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EmployeeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
