<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
            <h:panelGroup id="display">
                #{employeeController.personDetails.getPersondetailsByPersonID(employeeController.selected.employeePersonID.personID)}
                <p:panelGrid columns="2" rendered="#{employeeController.personDetails.selected != null}">
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsEmail}" for="personDetailsEmail" />
                    <p:outputLabel id="personDetailsEmail" value="#{employeeController.personDetails.selected.personDetailsEmail}" title="#{bundle.EditPersondetailsTitle_personDetailsEmail}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsPESEL}" for="personDetailsPESEL" />
                    <p:outputLabel id="personDetailsPESEL" value="#{employeeController.personDetails.selected.personDetailsPESEL}" title="#{bundle.EditPersondetailsTitle_personDetailsPESEL}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsNIP}" for="personDetailsNIP" />
                    <p:outputLabel id="personDetailsNIP" value="#{employeeController.personDetails.selected.personDetailsNIP}" title="#{bundle.EditPersondetailsTitle_personDetailsNIP}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsBirthDate}" for="personDetailsBirthDate" />
                    <p:outputLabel id="personDetailsBirthDate" value="#{employeeController.personDetails.selected.personDetailsBirthDate}" title="#{bundle.EditPersondetailsTitle_personDetailsBirthDate}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsBirthPlace}" for="personDetailsBirthPlace" />
                    <p:outputLabel id="personDetailsBirthPlace" value="#{employeeController.personDetails.selected.personDetailsBirthPlace}" title="#{bundle.EditPersondetailsTitle_personDetailsBirthPlace}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsMotherName}" for="personDetailsMotherName" />
                    <p:outputLabel id="personDetailsMotherName" value="#{employeeController.personDetails.selected.personDetailsMotherName}" title="#{bundle.EditPersondetailsTitle_personDetailsMotherName}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsFatherName}" for="personDetailsFatherName" />
                    <p:outputLabel id="personDetailsFatherName" value="#{employeeController.personDetails.selected.personDetailsFatherName}" title="#{bundle.EditPersondetailsTitle_personDetailsFatherName}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsDocumentTypeID}" for="personDetailsDocumentTypeID"   />
                    <p:outputLabel id="personDetailsDocumentTypeID" value="#{employeeController.personDetails.selected.personDetailsDocumentTypeID == '1'? 'Dowód osobisty' : employeeController.personDetails.selected.personDetailsDocumentTypeID == '2'?'Paszport' : ''}" title="#{bundle.EditPersondetailsTitle_personDetailsDocumentTypeID}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsDocumentSeries}" for="personDetailsDocumentSeries" />
                    <p:outputLabel id="personDetailsDocumentSeries" value="#{employeeController.personDetails.selected.personDetailsDocumentSeries}" title="#{bundle.EditPersondetailsTitle_personDetailsDocumentSeries}" />
                    <p:outputLabel value="#{bundle.EditPersondetailsLabel_personDetailsDocumentNumber}" for="personDetailsDocumentNumber" />
                    <p:outputLabel id="personDetailsDocumentNumber" value="#{employeeController.personDetails.selected.personDetailsDocumentNumber}" title="#{bundle.EditPersondetailsTitle_personDetailsDocumentNumber}" />
                    
                </p:panelGrid>
            </h:panelGroup>
    </ui:composition>
</html>
