<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:panelGrid columns="2" rendered="#{employeeController.selected.employeePersonID.personAddressID != null}">
            <p:outputLabel value="#{bundle.AddressLabel_addressLine1}" for="addressLine1" />
            <p:outputLabel id="addressLine1" value="#{employeeController.selected.employeePersonID.personAddressID.addressLine1}" title="#{bundle.AddressTitle_addressLine1}"/>
            <p:outputLabel value="#{bundle.AddressLabel_addressPostCode}" for="addressPostCode" />
            <p:outputLabel id="addressPostCode" value="#{employeeController.selected.employeePersonID.personAddressID.addressPostCode}" title="#{bundle.AddressTitle_addressPostCode}" />
            <p:outputLabel value="#{bundle.AddressLabel_addressCity}" for="addressCity" />
            <p:outputLabel id="addressCity" value="#{employeeController.selected.employeePersonID.personAddressID.addressCity}" title="#{bundle.AddressTitle_addressCity}" />            
            <p:outputLabel value="#{bundle.AddressLabel_addressState}" for="addressState" />
            <p:outputLabel id="addressState" value="#{employeeController.selected.employeePersonID.personAddressID.addressState}" title="#{bundle.AddressTitle_addressState}" />
            <p:outputLabel value="#{bundle.AddressLabel_addressCountry}" for="addressCountry" />
            <p:outputLabel id="addressCountry" value="#{employeeController.selected.employeePersonID.personAddressID.addressCountry}" title="#{bundle.AddressTitle_addressCountry}"  />
        </p:panelGrid>
    </ui:composition>
</html>
