<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
            <p:accordionPanel>
                <p:tab title="#{bundle.GeneralBasicInformation}">
                        <p:panelGrid columns="2" rendered="#{personController.selected != null}">
                            <p:outputLabel value="#{bundle.CreatePersonLabel_personFirstName}" for="personFirstName" />
                            <p:outputLabel id="personFirstName" value="#{personController.selected.personFirstName}" title="#{bundle.CreatePersonTitle_personFirstName}" />
                            <p:outputLabel value="#{bundle.CreatePersonLabel_personSecondName}" for="personSecondName" />
                            <p:outputLabel id="personSecondName" value="#{personController.selected.personSecondName}" title="#{bundle.CreatePersonTitle_personSecondName}" />
                            <p:outputLabel value="#{bundle.CreatePersonLabel_personLastName}" for="personLastName" />
                            <p:outputLabel id="personLastName" value="#{personController.selected.personLastName}" title="#{bundle.CreatePersonTitle_personLastName}" />
                            <p:outputLabel value="#{bundle.CreatePersonLabel_personGender}" for="personGender" />
                            <h:outputText  id="personGender" value="#{personController.selected.personGender  == 'M'? 'Mężczyzna' : 'Kobieta' }" title="#{bundle.reatePersonTitle_personGender}"/>
                            <p:outputLabel value="#{bundle.CreatePersonLabel_personContactNumber}" for="personContactNumber" />
                            <p:outputLabel id="personContactNumber" value="#{personController.selected.personContactNumber}" title="#{bundle.CreatePersonTitle_personContactNumber}" />
                            <p:outputLabel value="#{bundle.CreatePersonLabel_personNotes}" for="personNotes" />
                            <p:inputTextarea rows="4" cols="30" id="personNotes" value="#{personController.selected.personNotes}" title="#{bundle.CreatePersonTitle_personNotes}" disabled="true"/>
                            <p:outputLabel value="#{bundle.CreatePersonLabel_personAddressID}" rendered="#{employeeController.selected.employeePersonID.personAddressID != null}"/>    
                            <ui:include src="ViewPersonAddress.xhtml"/>                    
                        </p:panelGrid>
                </p:tab>
            
                <p:tab title="#{bundle.GeneralDetailInformation}">
                     <ui:include src="ViewPersonDetails.xhtml"/>     
                </p:tab>
             </p:accordionPanel>     
    </ui:composition>
</html>
