<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="WitnesstestimonyViewDlg" widgetVar="WitnesstestimonyViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewWitnesstestimonyTitle}">
            <h:form id="WitnesstestimonyViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{witnesstestimonyController.selected != null}">
                        <h:outputText value="#{bundle.ViewWitnesstestimonyLabel_winessTestimonyID}"/>
                        <h:outputText value="#{witnesstestimonyController.selected.winessTestimonyID}" title="#{bundle.ViewWitnesstestimonyTitle_winessTestimonyID}"/>
                        <h:outputText value="#{bundle.ViewWitnesstestimonyLabel_witnessTestimonyContent}"/>
                        <h:outputText value="#{witnesstestimonyController.selected.witnessTestimonyContent}" title="#{bundle.ViewWitnesstestimonyTitle_witnessTestimonyContent}"/>
                        <h:outputText value="#{bundle.ViewWitnesstestimonyLabel_witnessTestimonyDateTime}"/>
                        <h:outputText value="#{witnesstestimonyController.selected.witnessTestimonyDateTime}" title="#{bundle.ViewWitnesstestimonyTitle_witnessTestimonyDateTime}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewWitnesstestimonyLabel_witnessTestimonyIncidentID}"/>
                        <h:outputText value="#{witnesstestimonyController.selected.witnessTestimonyIncidentID}" title="#{bundle.ViewWitnesstestimonyTitle_witnessTestimonyIncidentID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="WitnesstestimonyViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
