<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<!--    <ui:composition>

        <p:dialog id="PersonAddressCreateDlg" widgetVar="PersonAddressCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAddressTitle}">
            <h:form id="PersonAddressCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{addressController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAddressLabel_addressLine1}" for="addressLine1" />
                        <p:inputText id="addressLine1" value="#{addressController.selected.addressLine1}" title="#{bundle.CreateAddressTitle_addressLine1}" required="true" requiredMessage="#{bundle.CreateAddressRequiredMessage_addressLine1}"/>
                        <p:outputLabel value="#{bundle.CreateAddressLabel_addressPostCode}" for="addressPostCode" />
                        <p:inputText id="addressPostCode" value="#{addressController.selected.addressPostCode}" title="#{bundle.CreateAddressTitle_addressPostCode}" />
                        <p:outputLabel value="#{bundle.CreateAddressLabel_addressCity}" for="addressCity" />
                        <p:inputText id="addressCity" value="#{addressController.selected.addressCity}" title="#{bundle.CreateAddressTitle_addressCity}" />
                        
                        <p:outputLabel value="#{bundle.CreateAddressLabel_addressState}" for="addressState" />
                        <p:selectOneMenu id="addressState" value="#{addressController.selected.addressState}" >
                            <f:selectItem itemLabel="dolnośląskie" itemValue="dolnośląskie" />
                            <f:selectItem itemLabel="kujawsko-pomorskie" itemValue="kujawsko-pomorskie" />
                            <f:selectItem itemLabel="lubelskie" itemValue="lubelskie" />
                            <f:selectItem itemLabel="lubuskie" itemValue="lubuskie" />
                            <f:selectItem itemLabel="łódzkie" itemValue="łódzkie" />
                            <f:selectItem itemLabel="małopolskie" itemValue="małopolskie" />
                            <f:selectItem itemLabel="mazowieckie" itemValue="mazowieckie" />
                            <f:selectItem itemLabel="opolskie" itemValue="opolskie" />
                            <f:selectItem itemLabel="podkarpackie" itemValue="podkarpackie" />
                            <f:selectItem itemLabel="podlaskie" itemValue="podlaskie" />
                            <f:selectItem itemLabel="pomorskie" itemValue="pomorskie" />
                            <f:selectItem itemLabel="śląskie" itemValue="śląskie" />
                            <f:selectItem itemLabel="świętokrzyskie" itemValue="świętokrzyskie" />
                            <f:selectItem itemLabel="warmińsko-mazurskie" itemValue="warmińsko-mazurskie" />
                            <f:selectItem itemLabel="wielkopolskie" itemValue="wielkopolskie" />
                            <f:selectItem itemLabel="zachodniopomorskie" itemValue="zachodniopomorskie" />
                        </p:selectOneMenu>
                        
                        <p:outputLabel value="#{bundle.CreateAddressLabel_addressCountry}" for="addressCountry" />
                        <p:inputText id="addressCountry" value="#{addressController.selected.addressCountry}" title="#{bundle.CreateAddressTitle_addressCountry}"  />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{addressController.create}" value="#{bundle.Save}" update="display,:PersonListForm:datalist, :PersonCreateForm, :PersonEditForm,:growl" oncomplete="handleSubmit(args,'PersonAddressCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PersonAddressCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>-->
</html>
