<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<!--    <ui:composition>

        <p:dialog id="PersonCreateDlg" widgetVar="PersonCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePersonTitle}">
            <h:form id="PersonCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePersonLabel_personFirstName}" for="personFirstName" />
                        <p:inputText id="personFirstName" value="#{personController.selected.personFirstName}" title="#{bundle.CreatePersonTitle_personFirstName}" required="true" requiredMessage="#{bundle.CreatePersonRequiredMessage_personFirstName}"/>
                        <p:outputLabel value="#{bundle.CreatePersonLabel_personSecondName}" for="personSecondName" />
                        <p:inputText id="personSecondName" value="#{personController.selected.personSecondName}" title="#{bundle.CreatePersonTitle_personSecondName}" />
                        <p:outputLabel value="#{bundle.CreatePersonLabel_personLastName}" for="personLastName" />
                        <p:inputText id="personLastName" value="#{personController.selected.personLastName}" title="#{bundle.CreatePersonTitle_personLastName}" required="true" requiredMessage="#{bundle.CreatePersonRequiredMessage_personLastName}"/>
                        <p:outputLabel value="#{bundle.CreatePersonLabel_personGender}" for="personGender" />
                        <p:selectOneButton id="personGender" value="#{personController.selected.personGender}" style="margin-bottom:10px; margin-top:0px" >
                            <f:selectItem itemLabel="Mężczyzna" itemValue="M" />
                            <f:selectItem itemLabel="Kobieta" itemValue="K" />
                        </p:selectOneButton>
                        <p:outputLabel value="#{bundle.CreatePersonLabel_personContactNumber}" for="personContactNumber" />
                        <p:inputText id="personContactNumber" value="#{personController.selected.personContactNumber}" title="#{bundle.CreatePersonTitle_personContactNumber}" />
                        <p:outputLabel value="#{bundle.CreatePersonLabel_personNotes}" for="personNotes" />
                        <p:inputTextarea rows="4" cols="30" id="personNotes" value="#{personController.selected.personNotes}" title="#{bundle.CreatePersonTitle_personNotes}" />
                        
                        <p:outputLabel value="#{bundle.CreatePersonLabel_personAddressID }"  />
                        <h:panelGroup>
                        <h:form id="PersonAddressForm">
                            <p:panelGrid columns="2" rendered="#{personController.selected.personAddressID != null}">
                                <h:outputText value="#{bundle.ViewAddressLabel_addressLine1}"/>
                                <h:inputText value="#{personController.selected.personAddressID.addressLine1}" title="#{bundle.ViewAddresstitle_addressLine1}"/>
                                <h:outputText value="#{bundle.ViewAddressLabel_addressPostCode}"/>
                                <h:inputText value="#{personController.selected.personAddressID.addressPostCode}" title="#{bundle.ViewAddressTitle_addressPostCode}"/>
                                <h:outputText value="#{bundle.ViewAddressLabel_addressCity}"/>
                                <h:inputText value="#{personController.selected.personAddressID.addressCity}" title="#{bundle.ViewAddressTitle_addressCity}"/>
                                <p:outputLabel value="#{bundle.CreateAddressLabel_addressState}" for="addressState" />
                        
                                <p:selectOneMenu id="addressState" value="#{addressController.selected.addressState}" >
                                    <f:selectItem itemLabel="dolnośląskie" itemValue="dolnośląskie" />
                                    <f:selectItem itemLabel="kujawsko-pomorskie" itemValue="kujawsko-pomorskie" />
                                    <f:selectItem itemLabel="lubelskie" itemValue="lubelskie" />
                                    <f:selectItem itemLabel="lubuskie" itemValue="lubuskie" />
                                    <f:selectItem itemLabel="łódzkie" itemValue="łódzkie" />
                                    <f:selectItem itemLabel="małopolskie" itemValue="małopolskie" />
                                    <f:selectItem itemLabel="mazowieckie" itemValue="mazowieckie" />
                                    <f:selectItem itemLabel="opolskie" itemValue="opolskie" />
                                    <f:selectItem itemLabel="podkarpackie" itemValue="podkarpackie" />
                                    <f:selectItem itemLabel="podlaskie" itemValue="podlaskie" />
                                    <f:selectItem itemLabel="pomorskie" itemValue="pomorskie" />
                                    <f:selectItem itemLabel="śląskie" itemValue="śląskie" />
                                    <f:selectItem itemLabel="świętokrzyskie" itemValue="świętokrzyskie" />
                                    <f:selectItem itemLabel="warmińsko-mazurskie" itemValue="warmińsko-mazurskie" />
                                    <f:selectItem itemLabel="wielkopolskie" itemValue="wielkopolskie" />
                                    <f:selectItem itemLabel="zachodniopomorskie" itemValue="zachodniopomorskie" />
                                </p:selectOneMenu>
                                <h:outputText value="#{bundle.ViewAddressLabel_addressCountry}"/>
                                <h:inputText value="#{personController.selected.personAddressID.addressCountry}" title="#{bundle.ViewAddressTitle_addressCountry}"/>
                            </p:panelGrid>
                            <p:commandButton id="createPersonAddressButton" icon="ui-icon-plus" value="#{bundle.Create}" rendered="#{personController.selected.personAddressID == null}"   
                                             actionListener="#{addressController.prepareCreateforPerson}" update=":PersonAddressCreateForm"
                                              oncomplete="PF('PersonAddressCreateDialog').show()" immediate="true" />
                        </h:form>
                       </h:panelGroup>
            
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personController.create}" value="#{bundle.Save}" update="display,:PersonListForm:datalist,:growl" oncomplete="handleSubmit(args,'PersonCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PersonCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
        <ui:include src="CreateAddress.xhtml"/>
    </ui:composition>-->
</html>
