<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<!--    <ui:composition>

        <p:dialog id="PersonViewDlg" widgetVar="PersonViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPersonTitle}">
            <h:form id="PersonViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personController.selected != null}">
                        <h:outputText value="#{bundle.ViewPersonLabel_personID}"/>
                        <h:outputText value="#{personController.selected.personID}" title="#{bundle.ViewPersonTitle_personID}"/>
                        <h:outputText value="#{bundle.ViewPersonLabel_personFirstName}"/>
                        <h:outputText value="#{personController.selected.personFirstName}" title="#{bundle.ViewPersonTitle_personFirstName}"/>
                        <h:outputText value="#{bundle.ViewPersonLabel_personSecondName}"/>
                        <h:outputText value="#{personController.selected.personSecondName}" title="#{bundle.ViewPersonTitle_personSecondName}"/>
                        <h:outputText value="#{bundle.ViewPersonLabel_personLastName}"/>
                        <h:outputText value="#{personController.selected.personLastName}" title="#{bundle.ViewPersonTitle_personLastName}"/>
                        <h:outputText value="#{bundle.ViewPersonLabel_personGender}"/>
                        <h:outputText value="#{personController.selected.personGender  == 'M'? 'Mężczyzna' : 'Kobieta' }" title="#{bundle.ViewPersonTitle_personGender}"/>
                        <h:outputText value="#{bundle.ViewPersonLabel_personContactNumber}"/>
                        <h:outputText value="#{personController.selected.personContactNumber}" title="#{bundle.ViewPersonTitle_personContactNumber}"/>
                        <h:outputText value="#{bundle.ViewPersonLabel_personNotes}"/>
                        <h:outputText value="#{personController.selected.personNotes}" title="#{bundle.ViewPersonTitle_personNotes}"/>
                        <h:outputText value="#{bundle.ViewPersonLabel_personAddressID}"/>
                        <p:panelGrid columns="2" rendered="#{personController.selected.personAddressID != null}">
                            <h:outputText value="#{bundle.ViewAddressLabel_addressLine1}"/>
                            <h:outputText value="#{personController.selected.personAddressID.addressLine1}" title="#{bundle.ViewAddresstitle_addressLine1}"/>
                            <h:outputText value="#{bundle.ViewAddressLabel_addressPostCode}"/>
                            <h:outputText value="#{personController.selected.personAddressID.addressPostCode}" title="#{bundle.ViewAddressTitle_addressPostCode}"/>
                            <h:outputText value="#{bundle.ViewAddressLabel_addressCity}"/>
                            <h:outputText value="#{personController.selected.personAddressID.addressCity}" title="#{bundle.ViewAddressTitle_addressCity}"/>
                            <p:outputLabel value="#{bundle.CreateAddressLabel_addressState}"/>
                            <h:outputText value="#{personController.selected.personAddressID.addressState}" title="#{bundle.ViewAddressTitle_addressState}"/>
                            <h:outputText value="#{bundle.ViewAddressLabel_addressCountry}"/>
                            <h:outputText value="#{personController.selected.personAddressID.addressCountry}" title="#{bundle.ViewAddressTitle_addressCountry}"/>
                        </p:panelGrid>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PersonViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>-->
</html>
