<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentcauseEditDlg" widgetVar="IncidentcauseEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditIncidentcauseTitle}">
            <h:form id="IncidentcauseEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentcauseController.selected != null}">
                        <p:outputLabel value="#{bundle.EditIncidentcauseLabel_incidentCauseID}" for="incidentCauseID" />
                        <p:inputText id="incidentCauseID" value="#{incidentcauseController.selected.incidentCauseID}" title="#{bundle.EditIncidentcauseTitle_incidentCauseID}" required="true" requiredMessage="#{bundle.EditIncidentcauseRequiredMessage_incidentCauseID}"/>
                        <p:outputLabel value="#{bundle.EditIncidentcauseLabel_incidentCauseName}" for="incidentCauseName" />
                        <p:inputTextarea rows="4" cols="30" id="incidentCauseName" value="#{incidentcauseController.selected.incidentCauseName}" title="#{bundle.EditIncidentcauseTitle_incidentCauseName}" />
                        <p:outputLabel value="#{bundle.EditIncidentcauseLabel_incidentCauseIncidentCauseReferenceID}" for="incidentCauseIncidentCauseReferenceID" />
                        <p:selectOneMenu id="incidentCauseIncidentCauseReferenceID" value="#{incidentcauseController.selected.incidentCauseIncidentCauseReferenceID}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{incidentcausereferenceController.itemsAvailableSelectOne}"
                                           var="incidentCauseIncidentCauseReferenceIDItem"
                                           itemValue="#{incidentCauseIncidentCauseReferenceIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditIncidentcauseLabel_incidentCauseIncidentID}" for="incidentCauseIncidentID" />
                        <p:selectOneMenu id="incidentCauseIncidentID" value="#{incidentcauseController.selected.incidentCauseIncidentID}" required="true" requiredMessage="#{bundle.EditIncidentcauseRequiredMessage_incidentCauseIncidentID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{incidentController.itemsAvailableSelectOne}"
                                           var="incidentCauseIncidentIDItem"
                                           itemValue="#{incidentCauseIncidentIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{incidentcauseController.update}" value="#{bundle.Save}" update="display,:IncidentcauseListForm:datalist,:growl" oncomplete="handleSubmit(args, 'IncidentcauseEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidentcauseEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
