<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentcauseViewDlg" widgetVar="IncidentcauseViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewIncidentcauseTitle}">
            <h:form id="IncidentcauseViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentcauseController.selected != null}">
                        <h:outputText value="#{bundle.ViewIncidentcauseLabel_incidentCauseID}"/>
                        <h:outputText value="#{incidentcauseController.selected.incidentCauseID}" title="#{bundle.ViewIncidentcauseTitle_incidentCauseID}"/>
                        <h:outputText value="#{bundle.ViewIncidentcauseLabel_incidentCauseName}"/>
                        <h:outputText value="#{incidentcauseController.selected.incidentCauseName}" title="#{bundle.ViewIncidentcauseTitle_incidentCauseName}"/>
                        <h:outputText value="#{bundle.ViewIncidentcauseLabel_incidentCauseIncidentCauseReferenceID}"/>
                        <h:outputText value="#{incidentcauseController.selected.incidentCauseIncidentCauseReferenceID}" title="#{bundle.ViewIncidentcauseTitle_incidentCauseIncidentCauseReferenceID}"/>
                        <h:outputText value="#{bundle.ViewIncidentcauseLabel_incidentCauseIncidentID}"/>
                        <h:outputText value="#{incidentcauseController.selected.incidentCauseIncidentID}" title="#{bundle.ViewIncidentcauseTitle_incidentCauseIncidentID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="IncidentcauseViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
