<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidenttypereferenceViewDlg" widgetVar="IncidenttypereferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewIncidenttypereferenceTitle}">
            <h:form id="IncidenttypereferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidenttypereferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewIncidenttypereferenceLabel_incidentTypeReferenceID}"/>
                        <h:outputText value="#{incidenttypereferenceController.selected.incidentTypeReferenceID}" title="#{bundle.ViewIncidenttypereferenceTitle_incidentTypeReferenceID}"/>
                        <h:outputText value="#{bundle.ViewIncidenttypereferenceLabel_incidentTypeReferenceName}"/>
                        <h:outputText value="#{incidenttypereferenceController.selected.incidentTypeReferenceName}" title="#{bundle.ViewIncidenttypereferenceTitle_incidentTypeReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="IncidenttypereferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
