<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="WorkplacereferenceViewDlg" widgetVar="WorkplacereferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewWorkplacereferenceTitle}">
            <h:form id="WorkplacereferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{workplacereferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewWorkplacereferenceLabel_workplaceReferenceID}"/>
                        <h:outputText value="#{workplacereferenceController.selected.workplaceReferenceID}" title="#{bundle.ViewWorkplacereferenceTitle_workplaceReferenceID}"/>
                        <h:outputText value="#{bundle.ViewWorkplacereferenceLabel_workplaceReferenceName}"/>
                        <h:outputText value="#{workplacereferenceController.selected.workplaceReferenceName}" title="#{bundle.ViewWorkplacereferenceTitle_workplaceReferenceName}"/>
                        <h:outputText value="#{bundle.ViewWorkplacereferenceLabel_workplaceReferenceDescription}"/>
                        <h:outputText value="#{workplacereferenceController.selected.workplaceReferenceDescription}" title="#{bundle.ViewWorkplacereferenceTitle_workplaceReferenceDescription}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="WorkplacereferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
