<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionCreateDlg" widgetVar="PositionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePositionTitle}">
            <h:form id="PositionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePositionLabel_positionID}" for="positionID" />
                        <p:inputText id="positionID" value="#{positionController.selected.positionID}" title="#{bundle.CreatePositionTitle_positionID}" required="true" requiredMessage="#{bundle.CreatePositionRequiredMessage_positionID}"/>
                        <p:outputLabel value="#{bundle.CreatePositionLabel_positionName}" for="positionName" />
                        <p:inputText id="positionName" value="#{positionController.selected.positionName}" title="#{bundle.CreatePositionTitle_positionName}" required="true" requiredMessage="#{bundle.CreatePositionRequiredMessage_positionName}"/>
                        <p:outputLabel value="#{bundle.CreatePositionLabel_positionWorkTimePerWeek}" for="positionWorkTimePerWeek" />
                        <p:inputText id="positionWorkTimePerWeek" value="#{positionController.selected.positionWorkTimePerWeek}" title="#{bundle.CreatePositionTitle_positionWorkTimePerWeek}" />
                        <p:outputLabel value="#{bundle.CreatePositionLabel_positionShiftPlan}" for="positionShiftPlan" />
                        <p:inputText id="positionShiftPlan" value="#{positionController.selected.positionShiftPlan}" title="#{bundle.CreatePositionTitle_positionShiftPlan}" />
                        <p:outputLabel value="#{bundle.CreatePositionLabel_positionProffesionClassificationCodeID}" for="positionProffesionClassificationCodeID" />
                        <p:selectOneMenu id="positionProffesionClassificationCodeID" value="#{positionController.selected.positionProffesionClassificationCodeID}" >
                            <f:selectItems value="#{proffesionclassificationcodeController.itemsAvailableSelectOne}"
                                           var="positionProffesionClassificationCodeIDItem"
                                           itemValue="#{positionProffesionClassificationCodeIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreatePositionLabel_positionRiskAnalysisID}" for="positionRiskAnalysisID" />
                        <p:selectOneMenu id="positionRiskAnalysisID" value="#{positionController.selected.positionRiskAnalysisID}" >
                            <f:selectItems value="#{riskanalysisController.itemsAvailableSelectOne}"
                                           var="positionRiskAnalysisIDItem"
                                           itemValue="#{positionRiskAnalysisIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positionController.create}" value="#{bundle.Save}" update="display,:PositionListForm:datalist,:growl" oncomplete="handleSubmit(args,'PositionCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
