<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListPositionTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PositionListForm">
                <p:panel header="#{bundle.ListPositionTitle}">
                    <p:dataTable id="datalist" value="#{positionController.items}" var="item"
                                 selectionMode="single" selection="#{positionController.selected}"
                                 paginator="true"
                                 rowKey="#{item.positionID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton 
                                PositionDutyViewButton PositionResponsibilityViewButton PositionWorkplaceViewButton
                                PositionQualificationViewButton PositionPreventiveMeasureViewButton "/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton 
                                PositionDutyViewButton PositionResponsibilityViewButton PositionWorkplaceViewButton
                                PositionQualificationViewButton  PositionPreventiveMeasureViewButton ProffesionClassificationCodeViewButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionTitle_positionName}"/>
                            </f:facet>
                            <h:outputText value="#{item.positionName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionTitle_positionWorkTimePerWeek}"/>
                            </f:facet>
                            <h:outputText value="#{item.positionWorkTimePerWeek}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionTitle_positionShiftPlan}"/>
                            </f:facet>
                            <h:outputText value="#{item.positionShiftPlan}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionTitle_positionProffesionClassificationCodeID}"/>
                            </f:facet>
                            <h:outputText value="#{item.positionProffesionClassificationCodeID.proffesionClassificationCodeID}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionTitle_positionRiskAnalysisID}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.positionRiskAnalysisID != null}" disabled="true"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{positionController.prepareCreate}" update=":PositionCreateForm" oncomplete="PF('PositionCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":PositionViewForm" oncomplete="PF('PositionViewDialog').show()" disabled="#{empty positionController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":PositionEditForm" oncomplete="PF('PositionEditDialog').show()" disabled="#{empty positionController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{positionController.destroy}" update=":growl,datalist" disabled="#{empty positionController.selected}"/>
                            <p:commandButton id="ProffesionClassificationCodeViewButton" icon="ui-icon-search" value="#{bundle.GeneralProffesionClassificationCodes}" update=":ProffesionclassificationcodeListForm" oncomplete="PF('ProffesionClassificationCodeListDialog').show()" style="float: right"/>
                            <br/>
                            <p:commandButton id="PositionDutyViewButton" icon="ui-icon-search" value="#{bundle.GeneralDuties}" update=":PositiondutyListForm" oncomplete="PF('PositionDutyListDialog').show()" disabled="#{empty positionController.selected}"/>
                            <p:commandButton id="PositionResponsibilityViewButton" icon="ui-icon-search" value="#{bundle.GeneralResponsibilities}" update=":PositionresponsibilityListForm" oncomplete="PF('PositionResponsibilityListDialog').show()" disabled="#{empty positionController.selected}"/>
                            <p:commandButton id="PositionWorkplaceViewButton" icon="ui-icon-search" value="#{bundle.GeneralWorkplaces}" update=":WorkplaceListForm" oncomplete="PF('PositionWorkplaceListDialog').show()" disabled="#{empty positionController.selected}"/>
                            <p:commandButton id="PositionQualificationViewButton" icon="ui-icon-search" value="#{bundle.GeneralQualifications}" update=":PositionqualificationListForm" oncomplete="PF('PositionQualificationListDialog').show()" disabled="#{empty positionController.selected}"/>
                            <p:commandButton id="PositionPreventiveMeasureViewButton" icon="ui-icon-search" value="#{bundle.GeneralPreventiveMeasure}" update=":PositionpreventivemeasureListForm" oncomplete="PF('PositionPreventiveMeasureListDialog').show()" disabled="#{empty positionController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
            <ui:include src="PositionDutyList.xhtml"/>
            <ui:include src="PositionResponsibilityList.xhtml"/>
            <ui:include src="WorkplaceList.xhtml"/>
            <ui:include src="PositionQualificationList.xhtml"/>
            <ui:include src="PositionPreventiveMeasureList.xhtml"/>
            <ui:include src="ProffesionClassificationCodeList.xhtml"/>
            
        </ui:define>
    </ui:composition>

</html>
