<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionpreventivemeasureCreateDlg" widgetVar="PositionpreventivemeasureCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePositionpreventivemeasureTitle}">
            <h:form id="PositionpreventivemeasureCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionpreventivemeasureController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePositionpreventivemeasureLabel_positionPreventiveMeasureTypeID}" for="positionPreventiveMeasureTypeID" />
                        <p:selectOneMenu id="positionPreventiveMeasureTypeID" value="#{positionpreventivemeasureController.selected.positionPreventiveMeasureTypeID}" >
                            <f:selectItems value="#{positionpreventivemeasuretypeController.itemsAvailableSelectOne}"
                                           var="positionPreventiveMeasureTypeIDItem"
                                           itemValue="#{positionPreventiveMeasureTypeIDItem}" itemLabel="#{positionPreventiveMeasureTypeIDItem.positionPreventiveMeasureTypeName}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreatePositionpreventivemeasureLabel_positionPreventiveMeasureName}" for="positionPreventiveMeasureName" />
                        <p:inputTextarea rows="4" cols="30" id="positionPreventiveMeasureName" value="#{positionpreventivemeasureController.selected.positionPreventiveMeasureName}" title="#{bundle.CreatePositionpreventivemeasureTitle_positionPreventiveMeasureName}" required="true" requiredMessage="#{bundle.CreatePositionpreventivemeasureRequiredMessage_positionPreventiveMeasureName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positionpreventivemeasureController.create}" value="#{bundle.Save}" update="display,:PositionpreventivemeasureListForm:datalist,:growl" oncomplete="handleSubmit(args,'PositionpreventivemeasureCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositionpreventivemeasureCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
