<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionpreventivemeasuretypeCreateDlg" widgetVar="PositionpreventivemeasuretypeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePositionpreventivemeasuretypeTitle}">
            <h:form id="PositionpreventivemeasuretypeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionpreventivemeasuretypeController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePositionpreventivemeasuretypeLabel_positionPreventiveMeasureTypeName}" for="positionPreventiveMeasureTypeName" />
                        <p:inputText id="positionPreventiveMeasureTypeName" value="#{positionpreventivemeasuretypeController.selected.positionPreventiveMeasureTypeName}" title="#{bundle.CreatePositionpreventivemeasuretypeTitle_positionPreventiveMeasureTypeName}" required="true" requiredMessage="#{bundle.CreatePositionpreventivemeasuretypeRequiredMessage_positionPreventiveMeasureTypeName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positionpreventivemeasuretypeController.create}" value="#{bundle.Save}" update="display,:PositionpreventivemeasuretypeListForm:datalist,:growl" oncomplete="handleSubmit(args,'PositionpreventivemeasuretypeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositionpreventivemeasuretypeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
