<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="PositionPreventiveMeasureListDlg" widgetVar="PositionPreventiveMeasureListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListPositionpreventivemeasureTitle}"
                  width="500">
            <h:form id="PositionpreventivemeasureListForm">
                <p:panel header="#{bundle.ListPositionpreventivemeasureTitle}">
                    <p:dataTable id="datalist" value="#{positionpreventivemeasureController.positionItems}" var="item"
                                 selectionMode="single" selection="#{positionpreventivemeasureController.selected}"
                                 paginator="true"
                                 rowKey="#{item.positionPreventiveMeasureID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionpreventivemeasureTitle_positionPreventiveMeasureTypeID}"/>
                            </f:facet>
                            <h:outputText value="#{item.positionPreventiveMeasureTypeID}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionpreventivemeasureTitle_positionPreventiveMeasureName}"/>
                            </f:facet>
                            <h:outputText value="#{item.positionPreventiveMeasureName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{positionpreventivemeasureController.prepareCreate}" update=":PositionpreventivemeasureCreateForm" oncomplete="PF('PositionpreventivemeasureCreateDialog').show()"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{positionpreventivemeasureController.destroy}" update=":growl,datalist" disabled="#{empty positionpreventivemeasureController.selected}"/>
                            <p:commandButton id="manageButton" icon="ui-icon-clipboard"  value="#{bundle.TypesManage}" update=":growl,:PositionpreventivemeasuretypeListForm" oncomplete="PF('PositionPreventiveMeasureTypeListDialog').show()"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="PositionPreventiveMeasureCreate.xhtml"/>
            <ui:include src="PositionPreventiveMeasureTypeList.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
