<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionresponsibilityCreateDlg" widgetVar="PositionresponsibilityCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePositionresponsibilityTitle}">
            <h:form id="PositionresponsibilityCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionresponsibilityController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePositionresponsibilityLabel_positionResponsibilityName}" for="positionResponsibilityName" />
                        <p:inputTextarea rows="4" cols="30" id="positionResponsibilityName" value="#{positionresponsibilityController.selected.positionResponsibilityName}" title="#{bundle.CreatePositionresponsibilityTitle_positionResponsibilityName}" required="true" requiredMessage="#{bundle.CreatePositionresponsibilityRequiredMessage_positionResponsibilityName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positionresponsibilityController.create}" value="#{bundle.Save}" update="display,:PositionresponsibilityListForm:datalist,:growl" oncomplete="handleSubmit(args,'PositionresponsibilityCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositionresponsibilityCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
