<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PositionDutyListDlg" widgetVar="PositionDutyListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPositionDutyTitle}" 
                  width="500">
            <h:form id="PositiondutyListForm">
                <p:panel header="#{bundle.ListPositiondutyTitle}">
                    <p:dataTable id="datalist" value="#{positiondutyController.postionItems}" var="item"
                                 selectionMode="single" selection="#{positiondutyController.selected}"
                                 paginator="true"
                                 rowKey="#{item.positionDutyID}"
                                 rows="40"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton deleteButton"/>
                        
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositiondutyTitle_positionDutyName}"/>
                            </f:facet>
                            <h:outputText value="#{item.positionDutyName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{positiondutyController.prepareCreate}" update=":PositiondutyCreateForm" oncomplete="PF('PositiondutyCreateDialog').show()"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{positiondutyController.destroy}" update=":growl,datalist" disabled="#{empty positiondutyController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="PositionDutyCreate.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
