<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionqualificationCreateDlg" widgetVar="PositionqualificationCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePositionqualificationTitle}">
            <h:form id="PositionqualificationCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionqualificationController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePositionqualificationLabel_positionQualificationPositionQualificationReferenceID}" for="positionQualificationPositionQualificationReferenceID" />
                        <p:selectOneMenu id="positionQualificationPositionQualificationReferenceID" value="#{positionqualificationController.selected.positionQualificationPositionQualificationReferenceID}" >
                            <f:selectItem itemValue="#{null}" itemLabel="#{bundle.GeneralInsertCustom}" />
                            <f:selectItems value="#{positionqualificationreferenceController.itemsAvailableSelectOne}"
                                           var="positionQualificationPositionQualificationReferenceIDItem"
                                           itemValue="#{positionQualificationPositionQualificationReferenceIDItem}"/>
                            <p:ajax event="change" update="PositionqualificationCreateForm"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreatePositionqualificationLabel_positionQualificationName}" for="positionQualificationName" />
                        <p:inputTextarea rows="4" cols="30" id="positionQualificationName" value="#{positionqualificationController.selected.positionQualificationName}" title="#{bundle.CreatePositionqualificationTitle_positionQualificationName}" disabled="#{positionqualificationController.selected.positionQualificationPositionQualificationReferenceID != null}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positionqualificationController.create}" value="#{bundle.Save}" update="display,:PositionqualificationListForm:datalist,:growl" oncomplete="handleSubmit(args,'PositionqualificationCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositionqualificationCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
