<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PositionQualificationReferenceListDlg" widgetVar="PositionQualificationReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListPositionqualificationreferenceTitle}" 
                  width="500">
            <h:form id="PositionqualificationreferenceListForm">
                <p:panel header="#{bundle.ListPositionqualificationreferenceTitle}">
                    <p:dataTable id="datalist" value="#{positionqualificationreferenceController.items}" var="item"
                                 selectionMode="single" selection="#{positionqualificationreferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.positionQualificationReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionqualificationreferenceTitle_positionQualificationReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.positionQualificationReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{positionqualificationreferenceController.prepareCreate}" update=":PositionqualificationreferenceCreateForm" oncomplete="PF('PositionqualificationreferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":PositionqualificationreferenceEditForm" oncomplete="PF('PositionqualificationreferenceEditDialog').show()" disabled="#{empty positionqualificationreferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{positionqualificationreferenceController.destroy}" update=":growl,datalist" disabled="#{empty positionqualificationreferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="PositionQualificationReferenceCreate.xhtml"/>
            <ui:include src="PositionQualificationReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
