<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PositionQualificationListDlg" widgetVar="PositionQualificationListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListPositionqualificationTitle}" 
                  width="500">
            <h:form id="PositionqualificationListForm">
                <p:panel header="#{bundle.ListPositionqualificationTitle}">
                    <p:dataTable id="datalist" value="#{positionqualificationController.positionItems}" var="item"
                                 selectionMode="single" selection="#{positionqualificationController.selected}"
                                 paginator="true"
                                 rowKey="#{item.positionQualificationID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton deleteButton"/>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionqualificationTitle_positionQualificationName}"/>
                            </f:facet>
                            <h:outputText value="#{item.positionQualificationPositionQualificationReferenceID != null ? item.positionQualificationPositionQualificationReferenceID.positionQualificationReferenceName : item.positionQualificationName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionqualificationTitle_positionQualificationPositionQualificationReferenceID}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.positionQualificationPositionQualificationReferenceID != null}" disabled="true"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{positionqualificationController.prepareCreate}" update=":PositionqualificationCreateForm" oncomplete="PF('PositionqualificationCreateDialog').show()"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{positionqualificationController.destroy}" update=":growl,datalist" disabled="#{empty positionqualificationController.selected}"/>
                            <p:commandButton id="manageButton" icon="ui-icon-clipboard"  value="#{bundle.Manage}" update=":growl,:PositionqualificationreferenceListForm" oncomplete="PF('PositionQualificationReferenceListDialog').show()"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="PositionQualificationReferenceList.xhtml"/>
            <ui:include src="PositionQualificationCreate.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
