<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>


         <p:dialog id="PositionPreventiveMeasureTypeListDlg" widgetVar="PositionPreventiveMeasureTypeListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListPositionpreventivemeasuretypeTitle}"
                  width="500">
            <h:form id="PositionpreventivemeasuretypeListForm">
                <p:panel header="#{bundle.ListPositionpreventivemeasuretypeTitle}">
                    <p:dataTable id="datalist" value="#{positionpreventivemeasuretypeController.items}" var="item"
                                 selectionMode="single" selection="#{positionpreventivemeasuretypeController.selected}"
                                 paginator="true"
                                 rowKey="#{item.positionPreventiveMeasureTypeID}"
                                 rows="20"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionpreventivemeasuretypeTitle_positionPreventiveMeasureTypeName}"/>
                            </f:facet>
                            <h:outputText value="#{item.positionPreventiveMeasureTypeID}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{positionpreventivemeasuretypeController.prepareCreate}" update=":PositionpreventivemeasuretypeCreateForm" oncomplete="PF('PositionpreventivemeasuretypeCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":PositionpreventivemeasuretypeEditForm" oncomplete="PF('PositionpreventivemeasuretypeEditDialog').show()" disabled="#{empty positionpreventivemeasuretypeController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{positionpreventivemeasuretypeController.destroy}" update=":growl,datalist" disabled="#{empty positionpreventivemeasuretypeController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="PositionPreventiveMeasureTypeCreate.xhtml"/>
            <ui:include src="PositionPreventiveMeasureTypeEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
