<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositiondutyCreateDlg" widgetVar="PositiondutyCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePositiondutyTitle}">
            <h:form id="PositiondutyCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positiondutyController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePositiondutyLabel_positionDutyName}" for="positionDutyName" />
                        <p:inputTextarea rows="4" cols="30" id="positionDutyName" value="#{positiondutyController.selected.positionDutyName}" title="#{bundle.CreatePositiondutyTitle_positionDutyName}" required="true" requiredMessage="#{bundle.CreatePositiondutyRequiredMessage_positionDutyName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positiondutyController.create}" value="#{bundle.Save}" update="display,:PositiondutyListForm:datalist,:growl" oncomplete="handleSubmit(args,'PositiondutyCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositiondutyCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
