<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PositionresponsibilityListDlg" widgetVar="PositionResponsibilityListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePositionresponsibilityTitle}"
                  width="500">
            <h:form id="PositionresponsibilityListForm">
                <p:panel header="#{bundle.ListPositionresponsibilityTitle}">
                    <p:dataTable id="datalist" value="#{positionresponsibilityController.postionItems}" var="item"
                                 selectionMode="single" selection="#{positionresponsibilityController.selected}"
                                 paginator="true"
                                 rowKey="#{item.positionResponsibilityID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton deleteButton"/>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPositionresponsibilityTitle_positionResponsibilityName}"/>
                            </f:facet>
                            <h:outputText value="#{item.positionResponsibilityName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{positionresponsibilityController.prepareCreate}" update=":PositionresponsibilityCreateForm" oncomplete="PF('PositionresponsibilityCreateDialog').show()"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{positionresponsibilityController.destroy}" update=":growl,datalist" disabled="#{empty positionresponsibilityController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="PositionResponsibilityCreate.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
