<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionqualificationreferenceCreateDlg" widgetVar="PositionqualificationreferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePositionqualificationreferenceTitle}">
            <h:form id="PositionqualificationreferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionqualificationreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePositionqualificationreferenceLabel_positionQualificationReferenceName}" for="positionQualificationReferenceName" />
                        <p:inputTextarea rows="4" cols="30" id="positionQualificationReferenceName" value="#{positionqualificationreferenceController.selected.positionQualificationReferenceName}" title="#{bundle.CreatePositionqualificationreferenceTitle_positionQualificationReferenceName}" required="true" requiredMessage="#{bundle.CreatePositionqualificationreferenceRequiredMessage_positionQualificationReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positionqualificationreferenceController.create}" value="#{bundle.Save}" update="display,:PositionqualificationreferenceListForm:datalist,:growl" oncomplete="handleSubmit(args,'PositionqualificationreferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositionqualificationreferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
