<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProffesionclassificationcodeEditDlg" widgetVar="ProffesionclassificationcodeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProffesionclassificationcodeTitle}">
            <h:form id="ProffesionclassificationcodeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proffesionclassificationcodeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProffesionclassificationcodeLabel_proffesionClassificationCodeID}" for="proffesionClassificationCodeID" />
                        <p:inputText id="proffesionClassificationCodeID" value="#{proffesionclassificationcodeController.selected.proffesionClassificationCodeID}" title="#{bundle.EditProffesionclassificationcodeTitle_proffesionClassificationCodeID}" required="true" requiredMessage="#{bundle.EditProffesionclassificationcodeRequiredMessage_proffesionClassificationCodeID}"/>
                        <p:outputLabel value="#{bundle.EditProffesionclassificationcodeLabel_proffesionClassificationCodesName}" for="proffesionClassificationCodesName" />
                        <p:inputTextarea rows="4" cols="30" id="proffesionClassificationCodesName" value="#{proffesionclassificationcodeController.selected.proffesionClassificationCodesName}" title="#{bundle.EditProffesionclassificationcodeTitle_proffesionClassificationCodesName}" required="true" requiredMessage="#{bundle.EditProffesionclassificationcodeRequiredMessage_proffesionClassificationCodesName}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proffesionclassificationcodeController.update}" value="#{bundle.Save}" update="display,:ProffesionclassificationcodeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProffesionclassificationcodeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProffesionclassificationcodeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
