<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ProffesionClassificationCodeListDlg" widgetVar="ProffesionClassificationCodeListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListProffesionclassificationcodeTitle}"
                  width="500">
            <h:form id="ProffesionclassificationcodeListForm">
                <p:panel header="#{bundle.ListProffesionclassificationcodeTitle}">
                    <p:dataTable id="datalist" value="#{proffesionclassificationcodeController.items}" var="item"
                                 selectionMode="single" selection="#{proffesionclassificationcodeController.selected}"
                                 paginator="true"
                                 rowKey="#{item.proffesionClassificationCodeID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProffesionclassificationcodeTitle_proffesionClassificationCodeID}"/>
                            </f:facet>
                            <h:outputText value="#{item.proffesionClassificationCodeID}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProffesionclassificationcodeTitle_proffesionClassificationCodesName}"/>
                            </f:facet>
                            <h:outputText value="#{item.proffesionClassificationCodesName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{proffesionclassificationcodeController.prepareCreate}" update=":ProffesionclassificationcodeCreateForm" oncomplete="PF('ProffesionclassificationcodeCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ProffesionclassificationcodeEditForm" oncomplete="PF('ProffesionclassificationcodeEditDialog').show()" disabled="#{empty proffesionclassificationcodeController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{proffesionclassificationcodeController.destroy}" update=":growl,datalist" disabled="#{empty proffesionclassificationcodeController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="ProffesionClassificationCodeCreate.xhtml"/>
            <ui:include src="ProffesionClassificationCodeEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
