<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionViewDlg" widgetVar="PositionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPositionTitle}">
            <h:form id="PositionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionController.selected != null}">
                        <h:outputText value="#{bundle.ViewPositionLabel_positionID}"/>
                        <h:outputText value="#{positionController.selected.positionID}" title="#{bundle.ViewPositionTitle_positionID}"/>
                        <h:outputText value="#{bundle.ViewPositionLabel_positionName}"/>
                        <h:outputText value="#{positionController.selected.positionName}" title="#{bundle.ViewPositionTitle_positionName}"/>
                        <h:outputText value="#{bundle.ViewPositionLabel_positionWorkTimePerWeek}"/>
                        <h:outputText value="#{positionController.selected.positionWorkTimePerWeek}" title="#{bundle.ViewPositionTitle_positionWorkTimePerWeek}"/>
                        <h:outputText value="#{bundle.ViewPositionLabel_positionShiftPlan}"/>
                        <h:outputText value="#{positionController.selected.positionShiftPlan}" title="#{bundle.ViewPositionTitle_positionShiftPlan}"/>
                        <h:outputText value="#{bundle.ViewPositionLabel_positionProffesionClassificationCodeID}"/>
                        <h:outputText value="#{positionController.selected.positionProffesionClassificationCodeID}" title="#{bundle.ViewPositionTitle_positionProffesionClassificationCodeID}"/>
                        <h:outputText value="#{bundle.ViewPositionLabel_positionRiskAnalysisID}"/>
                        <h:outputText value="#{positionController.selected.positionRiskAnalysisID}" title="#{bundle.ViewPositionTitle_positionRiskAnalysisID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PositionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
