<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="WorkplacereferenceEditDlg" widgetVar="WorkplacereferenceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditWorkplacereferenceTitle}">
            <h:form id="WorkplacereferenceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{workplacereferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.EditWorkplacereferenceLabel_workplaceReferenceName}" for="workplaceReferenceName" />
                        <p:inputTextarea rows="4" cols="30" id="workplaceReferenceName" value="#{workplacereferenceController.selected.workplaceReferenceName}" title="#{bundle.EditWorkplacereferenceTitle_workplaceReferenceName}" required="true" requiredMessage="#{bundle.EditWorkplacereferenceRequiredMessage_workplaceReferenceName}"/>
                        <p:outputLabel value="#{bundle.EditWorkplacereferenceLabel_workplaceReferenceDescription}" for="workplaceReferenceDescription" />
                        <p:inputText id="workplaceReferenceDescription" value="#{workplacereferenceController.selected.workplaceReferenceDescription}" title="#{bundle.EditWorkplacereferenceTitle_workplaceReferenceDescription}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{workplacereferenceController.update}" value="#{bundle.Save}" update="display,:WorkplaceListForm, :WorkplacereferenceListForm,:growl" oncomplete="handleSubmit(args, 'WorkplacereferenceEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="WorkplacereferenceEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
