<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="WorkplaceCreateDlg" widgetVar="WorkplaceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateWorkplaceTitle}">
            <h:form id="WorkplaceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{workplaceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateWorkplaceLabel_workplaceReferenceID}" for="workplaceReferenceID" />
                        <p:selectOneMenu id="workplaceReferenceID" value="#{workplaceController.selected.workplaceReferenceID}" >
                            <f:selectItem itemValue="#{null}" itemLabel="#{bundle.GeneralInsertCustom}" />
                            <f:selectItems value="#{workplacereferenceController.itemsAvailableSelectOne}"
                                           var="workplaceReferenceIDItem"
                                           itemValue="#{workplaceReferenceIDItem}"/>
                            <p:ajax event="change" update="WorkplaceCreateForm"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateWorkplaceLabel_workplaceDescription}" for="workplaceDescription" />
                        <p:inputTextarea rows="4" cols="30" id="workplaceDescription" value="#{workplaceController.selected.workplaceDescription}" title="#{bundle.CreateWorkplaceTitle_workplaceDescription}" disabled="#{workplaceController.selected.workplaceReferenceID != null}" />
                        <p:outputLabel value="#{bundle.CreateWorkplaceLabel_workplaceName}" for="workplaceName" />
                        <p:inputTextarea rows="4" cols="30" id="workplaceName" value="#{workplaceController.selected.workplaceName}" title="#{bundle.CreateWorkplaceTitle_workplaceName}" disabled="#{workplaceController.selected.workplaceReferenceID != null}" />
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{workplaceController.create}" value="#{bundle.Save}" update="display,:WorkplaceListForm,:growl" oncomplete="handleSubmit(args,'WorkplaceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="WorkplaceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
