<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="PositionworkplaceListDlg" widgetVar="PositionWorkplaceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListWorkplaceTitle}"
                  width="500">
            <h:form id="WorkplaceListForm">
                <p:panel header="#{bundle.ListWorkplaceTitle}">
                    <p:dataTable id="datalist" value="#{workplaceController.positionItems}" var="item"
                                 selectionMode="single" selection="#{workplaceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.workplaceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton deleteButton"/>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWorkplaceTitle_workplaceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.workplaceReferenceID != null ? item.workplaceReferenceID.workplaceReferenceName : item.workplaceName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWorkplaceTitle_workplaceDescription}"/>
                            </f:facet>
                            <h:outputText value="#{item.workplaceReferenceID != null ? item.workplaceReferenceID.workplaceReferenceDescription : item.workplaceDescription}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWorkplaceTitle_workplaceReferenceID}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.workplaceReferenceID != null}" disabled="true"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Add}" actionListener="#{workplaceController.prepareCreate}" update=":WorkplaceCreateForm" oncomplete="PF('WorkplaceCreateDialog').show()"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{workplaceController.destroy}" update=":growl,datalist" disabled="#{empty workplaceController.selected}"/>
                            <p:commandButton id="manageButton" icon="ui-icon-clipboard"  value="#{bundle.Manage}" update=":growl,:WorkplacereferenceListForm" oncomplete="PF('WorkplaceReferenceListDialog').show()"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="WorkplaceCreate.xhtml"/>
            <ui:include src="WorkplaceReferenceList.xhtml"/>
         </p:dialog>
    </ui:composition>

</html>
