<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
         <p:dialog id="WorkplaceReferenceListDlg" widgetVar="WorkplaceReferenceListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListWorkplacereferenceTitle}"
                  width="500">

            <h:form id="WorkplacereferenceListForm">
                <p:panel header="#{bundle.ListWorkplacereferenceTitle}">
                    <p:dataTable id="datalist" value="#{workplacereferenceController.items}" var="item"
                                 selectionMode="single" selection="#{workplacereferenceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.workplaceReferenceID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWorkplacereferenceTitle_workplaceReferenceDescription}"/>
                            </f:facet>
                            <h:outputText value="#{item.workplaceReferenceDescription}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWorkplacereferenceTitle_workplaceReferenceName}"/>
                            </f:facet>
                            <h:outputText value="#{item.workplaceReferenceName}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{workplacereferenceController.prepareCreate}" update=":WorkplacereferenceCreateForm" oncomplete="PF('WorkplacereferenceCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":WorkplacereferenceEditForm" oncomplete="PF('WorkplacereferenceEditDialog').show()" disabled="#{empty workplacereferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{workplacereferenceController.destroy}" update=":growl,datalist" disabled="#{empty workplacereferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="WorkplaceReferenceCreate.xhtml"/>
            <ui:include src="WorkplaceReferenceEdit.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
