<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskseverityreferenceViewDlg" widgetVar="RiskseverityreferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRiskseverityreferenceTitle}">
            <h:form id="RiskseverityreferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskseverityreferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewRiskseverityreferenceLabel_riskSeverityReferenceID}"/>
                        <h:outputText value="#{riskseverityreferenceController.selected.riskSeverityReferenceID}" title="#{bundle.ViewRiskseverityreferenceTitle_riskSeverityReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskseverityreferenceLabel_riskSeverityReferenceName}"/>
                        <h:outputText value="#{riskseverityreferenceController.selected.riskSeverityReferenceName}" title="#{bundle.ViewRiskseverityreferenceTitle_riskSeverityReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RiskseverityreferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
