<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InsurancetitleEditDlg" widgetVar="InsurancetitleEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditInsurancetitleTitle}">
            <h:form id="InsurancetitleEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{insurancetitleController.selected != null}">
                        <p:outputLabel value="#{bundle.EditInsurancetitleLabel_insuranceTitleID}" for="insuranceTitleID" />
                        <p:inputText id="insuranceTitleID" value="#{insurancetitleController.selected.insuranceTitleID}" title="#{bundle.EditInsurancetitleTitle_insuranceTitleID}" required="true" requiredMessage="#{bundle.EditInsurancetitleRequiredMessage_insuranceTitleID}"/>
                        <p:outputLabel value="#{bundle.EditInsurancetitleLabel_insuranceTitleIncidentID}" for="insuranceTitleIncidentID" />
                        <p:selectOneMenu id="insuranceTitleIncidentID" value="#{insurancetitleController.selected.insuranceTitleIncidentID}" required="true" requiredMessage="#{bundle.EditInsurancetitleRequiredMessage_insuranceTitleIncidentID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{incidentController.itemsAvailableSelectOne}"
                                           var="insuranceTitleIncidentIDItem"
                                           itemValue="#{insuranceTitleIncidentIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditInsurancetitleLabel_insuranceTitleReferenceID}" for="insuranceTitleReferenceID" />
                        <p:selectOneMenu id="insuranceTitleReferenceID" value="#{insurancetitleController.selected.insuranceTitleReferenceID}" required="true" requiredMessage="#{bundle.EditInsurancetitleRequiredMessage_insuranceTitleReferenceID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{insurancetitlereferenceController.itemsAvailableSelectOne}"
                                           var="insuranceTitleReferenceIDItem"
                                           itemValue="#{insuranceTitleReferenceIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{insurancetitleController.update}" value="#{bundle.Save}" update="display,:InsurancetitleListForm:datalist,:growl" oncomplete="handleSubmit(args, 'InsurancetitleEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="InsurancetitleEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
