<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InsurancetitleViewDlg" widgetVar="InsurancetitleViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewInsurancetitleTitle}">
            <h:form id="InsurancetitleViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{insurancetitleController.selected != null}">
                        <h:outputText value="#{bundle.ViewInsurancetitleLabel_insuranceTitleID}"/>
                        <h:outputText value="#{insurancetitleController.selected.insuranceTitleID}" title="#{bundle.ViewInsurancetitleTitle_insuranceTitleID}"/>
                        <h:outputText value="#{bundle.ViewInsurancetitleLabel_insuranceTitleIncidentID}"/>
                        <h:outputText value="#{insurancetitleController.selected.insuranceTitleIncidentID}" title="#{bundle.ViewInsurancetitleTitle_insuranceTitleIncidentID}"/>
                        <h:outputText value="#{bundle.ViewInsurancetitleLabel_insuranceTitleReferenceID}"/>
                        <h:outputText value="#{insurancetitleController.selected.insuranceTitleReferenceID}" title="#{bundle.ViewInsurancetitleTitle_insuranceTitleReferenceID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="InsurancetitleViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
