<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentconclusionreferenceViewDlg" widgetVar="IncidentconclusionreferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewIncidentconclusionreferenceTitle}">
            <h:form id="IncidentconclusionreferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentconclusionreferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewIncidentconclusionreferenceLabel_incidentConclusionReferenceID}"/>
                        <h:outputText value="#{incidentconclusionreferenceController.selected.incidentConclusionReferenceID}" title="#{bundle.ViewIncidentconclusionreferenceTitle_incidentConclusionReferenceID}"/>
                        <h:outputText value="#{bundle.ViewIncidentconclusionreferenceLabel_incidentConclusionReferenceText}"/>
                        <h:outputText value="#{incidentconclusionreferenceController.selected.incidentConclusionReferenceText}" title="#{bundle.ViewIncidentconclusionreferenceTitle_incidentConclusionReferenceText}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="IncidentconclusionreferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
