<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListUsercredentialTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="UsercredentialListForm">
                <p:panel header="#{bundle.ListUsercredentialTitle}">
                    <p:dataTable id="datalist" value="#{usercredentialController.items}" var="item"
                                 selectionMode="single" selection="#{usercredentialController.selected}"
                                 paginator="true"
                                 rowKey="#{item.userCredentialID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsercredentialTitle_userCredentialID}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCredentialID}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsercredentialTitle_userCredentialLogin}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCredentialLogin}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsercredentialTitle_userCredentialPassword}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCredentialPassword}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsercredentialTitle_userCredentialSchema}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCredentialSchema}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{usercredentialController.prepareCreate}" update=":UsercredentialCreateForm" oncomplete="PF('UsercredentialCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":UsercredentialViewForm" oncomplete="PF('UsercredentialViewDialog').show()" disabled="#{empty usercredentialController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":UsercredentialEditForm" oncomplete="PF('UsercredentialEditDialog').show()" disabled="#{empty usercredentialController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{usercredentialController.destroy}" update=":growl,datalist" disabled="#{empty usercredentialController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
