<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionresponsibilityEditDlg" widgetVar="PositionresponsibilityEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPositionresponsibilityTitle}">
            <h:form id="PositionresponsibilityEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionresponsibilityController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPositionresponsibilityLabel_positionResponsibilityID}" for="positionResponsibilityID" />
                        <p:inputText id="positionResponsibilityID" value="#{positionresponsibilityController.selected.positionResponsibilityID}" title="#{bundle.EditPositionresponsibilityTitle_positionResponsibilityID}" required="true" requiredMessage="#{bundle.EditPositionresponsibilityRequiredMessage_positionResponsibilityID}"/>
                        <p:outputLabel value="#{bundle.EditPositionresponsibilityLabel_positionResponsibilityName}" for="positionResponsibilityName" />
                        <p:inputTextarea rows="4" cols="30" id="positionResponsibilityName" value="#{positionresponsibilityController.selected.positionResponsibilityName}" title="#{bundle.EditPositionresponsibilityTitle_positionResponsibilityName}" required="true" requiredMessage="#{bundle.EditPositionresponsibilityRequiredMessage_positionResponsibilityName}"/>
                        <p:outputLabel value="#{bundle.EditPositionresponsibilityLabel_positionResponsibilityPositionID}" for="positionResponsibilityPositionID" />
                        <p:selectOneMenu id="positionResponsibilityPositionID" value="#{positionresponsibilityController.selected.positionResponsibilityPositionID}" required="true" requiredMessage="#{bundle.EditPositionresponsibilityRequiredMessage_positionResponsibilityPositionID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{positionController.itemsAvailableSelectOne}"
                                           var="positionResponsibilityPositionIDItem"
                                           itemValue="#{positionResponsibilityPositionIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positionresponsibilityController.update}" value="#{bundle.Save}" update="display,:PositionresponsibilityListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PositionresponsibilityEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositionresponsibilityEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
