<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionresponsibilityViewDlg" widgetVar="PositionresponsibilityViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPositionresponsibilityTitle}">
            <h:form id="PositionresponsibilityViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionresponsibilityController.selected != null}">
                        <h:outputText value="#{bundle.ViewPositionresponsibilityLabel_positionResponsibilityID}"/>
                        <h:outputText value="#{positionresponsibilityController.selected.positionResponsibilityID}" title="#{bundle.ViewPositionresponsibilityTitle_positionResponsibilityID}"/>
                        <h:outputText value="#{bundle.ViewPositionresponsibilityLabel_positionResponsibilityName}"/>
                        <h:outputText value="#{positionresponsibilityController.selected.positionResponsibilityName}" title="#{bundle.ViewPositionresponsibilityTitle_positionResponsibilityName}"/>
                        <h:outputText value="#{bundle.ViewPositionresponsibilityLabel_positionResponsibilityPositionID}"/>
                        <h:outputText value="#{positionresponsibilityController.selected.positionResponsibilityPositionID}" title="#{bundle.ViewPositionresponsibilityTitle_positionResponsibilityPositionID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PositionresponsibilityViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
