<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionqualificationEditDlg" widgetVar="PositionqualificationEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPositionqualificationTitle}">
            <h:form id="PositionqualificationEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionqualificationController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPositionqualificationLabel_positionQualificationID}" for="positionQualificationID" />
                        <p:inputText id="positionQualificationID" value="#{positionqualificationController.selected.positionQualificationID}" title="#{bundle.EditPositionqualificationTitle_positionQualificationID}" required="true" requiredMessage="#{bundle.EditPositionqualificationRequiredMessage_positionQualificationID}"/>
                        <p:outputLabel value="#{bundle.EditPositionqualificationLabel_positionQualificationName}" for="positionQualificationName" />
                        <p:inputTextarea rows="4" cols="30" id="positionQualificationName" value="#{positionqualificationController.selected.positionQualificationName}" title="#{bundle.EditPositionqualificationTitle_positionQualificationName}" />
                        <p:outputLabel value="#{bundle.EditPositionqualificationLabel_positionQualificationPositionID}" for="positionQualificationPositionID" />
                        <p:selectOneMenu id="positionQualificationPositionID" value="#{positionqualificationController.selected.positionQualificationPositionID}" required="true" requiredMessage="#{bundle.EditPositionqualificationRequiredMessage_positionQualificationPositionID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{positionController.itemsAvailableSelectOne}"
                                           var="positionQualificationPositionIDItem"
                                           itemValue="#{positionQualificationPositionIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditPositionqualificationLabel_positionQualificationPositionQualificationReferenceID}" for="positionQualificationPositionQualificationReferenceID" />
                        <p:selectOneMenu id="positionQualificationPositionQualificationReferenceID" value="#{positionqualificationController.selected.positionQualificationPositionQualificationReferenceID}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{positionqualificationreferenceController.itemsAvailableSelectOne}"
                                           var="positionQualificationPositionQualificationReferenceIDItem"
                                           itemValue="#{positionQualificationPositionQualificationReferenceIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positionqualificationController.update}" value="#{bundle.Save}" update="display,:PositionqualificationListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PositionqualificationEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositionqualificationEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
