<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionqualificationViewDlg" widgetVar="PositionqualificationViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPositionqualificationTitle}">
            <h:form id="PositionqualificationViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionqualificationController.selected != null}">
                        <h:outputText value="#{bundle.ViewPositionqualificationLabel_positionQualificationID}"/>
                        <h:outputText value="#{positionqualificationController.selected.positionQualificationID}" title="#{bundle.ViewPositionqualificationTitle_positionQualificationID}"/>
                        <h:outputText value="#{bundle.ViewPositionqualificationLabel_positionQualificationName}"/>
                        <h:outputText value="#{positionqualificationController.selected.positionQualificationName}" title="#{bundle.ViewPositionqualificationTitle_positionQualificationName}"/>
                        <h:outputText value="#{bundle.ViewPositionqualificationLabel_positionQualificationPositionID}"/>
                        <h:outputText value="#{positionqualificationController.selected.positionQualificationPositionID}" title="#{bundle.ViewPositionqualificationTitle_positionQualificationPositionID}"/>
                        <h:outputText value="#{bundle.ViewPositionqualificationLabel_positionQualificationPositionQualificationReferenceID}"/>
                        <h:outputText value="#{positionqualificationController.selected.positionQualificationPositionQualificationReferenceID}" title="#{bundle.ViewPositionqualificationTitle_positionQualificationPositionQualificationReferenceID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PositionqualificationViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
