<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentconclusionEditDlg" widgetVar="IncidentconclusionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditIncidentconclusionTitle}">
            <h:form id="IncidentconclusionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentconclusionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditIncidentconclusionLabel_incidentConclusionID}" for="incidentConclusionID" />
                        <p:inputText id="incidentConclusionID" value="#{incidentconclusionController.selected.incidentConclusionID}" title="#{bundle.EditIncidentconclusionTitle_incidentConclusionID}" required="true" requiredMessage="#{bundle.EditIncidentconclusionRequiredMessage_incidentConclusionID}"/>
                        <p:outputLabel value="#{bundle.EditIncidentconclusionLabel_incidentConclusionName}" for="incidentConclusionName" />
                        <p:inputTextarea rows="4" cols="30" id="incidentConclusionName" value="#{incidentconclusionController.selected.incidentConclusionName}" title="#{bundle.EditIncidentconclusionTitle_incidentConclusionName}" />
                        <p:outputLabel value="#{bundle.EditIncidentconclusionLabel_incidentConclusionIncidentConclusionReferenceID}" for="incidentConclusionIncidentConclusionReferenceID" />
                        <p:selectOneMenu id="incidentConclusionIncidentConclusionReferenceID" value="#{incidentconclusionController.selected.incidentConclusionIncidentConclusionReferenceID}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{incidentconclusionreferenceController.itemsAvailableSelectOne}"
                                           var="incidentConclusionIncidentConclusionReferenceIDItem"
                                           itemValue="#{incidentConclusionIncidentConclusionReferenceIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditIncidentconclusionLabel_incidentConclusionIncidentID}" for="incidentConclusionIncidentID" />
                        <p:selectOneMenu id="incidentConclusionIncidentID" value="#{incidentconclusionController.selected.incidentConclusionIncidentID}" required="true" requiredMessage="#{bundle.EditIncidentconclusionRequiredMessage_incidentConclusionIncidentID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{incidentController.itemsAvailableSelectOne}"
                                           var="incidentConclusionIncidentIDItem"
                                           itemValue="#{incidentConclusionIncidentIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{incidentconclusionController.update}" value="#{bundle.Save}" update="display,:IncidentconclusionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'IncidentconclusionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidentconclusionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
