<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentconclusionViewDlg" widgetVar="IncidentconclusionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewIncidentconclusionTitle}">
            <h:form id="IncidentconclusionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentconclusionController.selected != null}">
                        <h:outputText value="#{bundle.ViewIncidentconclusionLabel_incidentConclusionID}"/>
                        <h:outputText value="#{incidentconclusionController.selected.incidentConclusionID}" title="#{bundle.ViewIncidentconclusionTitle_incidentConclusionID}"/>
                        <h:outputText value="#{bundle.ViewIncidentconclusionLabel_incidentConclusionName}"/>
                        <h:outputText value="#{incidentconclusionController.selected.incidentConclusionName}" title="#{bundle.ViewIncidentconclusionTitle_incidentConclusionName}"/>
                        <h:outputText value="#{bundle.ViewIncidentconclusionLabel_incidentConclusionIncidentConclusionReferenceID}"/>
                        <h:outputText value="#{incidentconclusionController.selected.incidentConclusionIncidentConclusionReferenceID}" title="#{bundle.ViewIncidentconclusionTitle_incidentConclusionIncidentConclusionReferenceID}"/>
                        <h:outputText value="#{bundle.ViewIncidentconclusionLabel_incidentConclusionIncidentID}"/>
                        <h:outputText value="#{incidentconclusionController.selected.incidentConclusionIncidentID}" title="#{bundle.ViewIncidentconclusionTitle_incidentConclusionIncidentID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="IncidentconclusionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
