<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidenttypeEditDlg" widgetVar="IncidenttypeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditIncidenttypeTitle}">
            <h:form id="IncidenttypeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidenttypeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditIncidenttypeLabel_incidentTypeID}" for="incidentTypeID" />
                        <p:inputText id="incidentTypeID" value="#{incidenttypeController.selected.incidentTypeID}" title="#{bundle.EditIncidenttypeTitle_incidentTypeID}" required="true" requiredMessage="#{bundle.EditIncidenttypeRequiredMessage_incidentTypeID}"/>
                        <p:outputLabel value="#{bundle.EditIncidenttypeLabel_incidentTypeIncidentTypeReferenceID}" for="incidentTypeIncidentTypeReferenceID" />
                        <p:selectOneMenu id="incidentTypeIncidentTypeReferenceID" value="#{incidenttypeController.selected.incidentTypeIncidentTypeReferenceID}" required="true" requiredMessage="#{bundle.EditIncidenttypeRequiredMessage_incidentTypeIncidentTypeReferenceID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{incidenttypereferenceController.itemsAvailableSelectOne}"
                                           var="incidentTypeIncidentTypeReferenceIDItem"
                                           itemValue="#{incidentTypeIncidentTypeReferenceIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditIncidenttypeLabel_incidentTypeIncidentID}" for="incidentTypeIncidentID" />
                        <p:selectOneMenu id="incidentTypeIncidentID" value="#{incidenttypeController.selected.incidentTypeIncidentID}" required="true" requiredMessage="#{bundle.EditIncidenttypeRequiredMessage_incidentTypeIncidentID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{incidentController.itemsAvailableSelectOne}"
                                           var="incidentTypeIncidentIDItem"
                                           itemValue="#{incidentTypeIncidentIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{incidenttypeController.update}" value="#{bundle.Save}" update="display,:IncidenttypeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'IncidenttypeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IncidenttypeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
