<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidenttypeViewDlg" widgetVar="IncidenttypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewIncidenttypeTitle}">
            <h:form id="IncidenttypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidenttypeController.selected != null}">
                        <h:outputText value="#{bundle.ViewIncidenttypeLabel_incidentTypeID}"/>
                        <h:outputText value="#{incidenttypeController.selected.incidentTypeID}" title="#{bundle.ViewIncidenttypeTitle_incidentTypeID}"/>
                        <h:outputText value="#{bundle.ViewIncidenttypeLabel_incidentTypeIncidentTypeReferenceID}"/>
                        <h:outputText value="#{incidenttypeController.selected.incidentTypeIncidentTypeReferenceID}" title="#{bundle.ViewIncidenttypeTitle_incidentTypeIncidentTypeReferenceID}"/>
                        <h:outputText value="#{bundle.ViewIncidenttypeLabel_incidentTypeIncidentID}"/>
                        <h:outputText value="#{incidenttypeController.selected.incidentTypeIncidentID}" title="#{bundle.ViewIncidenttypeTitle_incidentTypeIncidentID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="IncidenttypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
