<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UserPersonCreateDlg" widgetVar="UserPersonCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePersonTitle}">
            <h:form id="UserPersonCreateForm">
                <h:panelGroup id="display">
                <p:panelGrid columns="2" rendered="#{personController.selected != null}">
                    <p:outputLabel value="#{bundle.CreatePersonLabel_personFirstName}" for="personFirstName" />
                    <p:inputText id="personFirstName" value="#{personController.selected.personFirstName}" title="#{bundle.CreatePersonTitle_personFirstName}" required="true" requiredMessage="#{bundle.CreatePersonRequiredMessage_personFirstName}"/>
                    <p:outputLabel value="#{bundle.CreatePersonLabel_personSecondName}" for="personSecondName" />
                    <p:inputText id="personSecondName" value="#{personController.selected.personSecondName}" title="#{bundle.CreatePersonTitle_personSecondName}" />
                    <p:outputLabel value="#{bundle.CreatePersonLabel_personLastName}" for="personLastName" />
                    <p:inputText id="personLastName" value="#{personController.selected.personLastName}" title="#{bundle.CreatePersonTitle_personLastName}" required="true" requiredMessage="#{bundle.CreatePersonRequiredMessage_personLastName}"/>
                    <p:outputLabel value="#{bundle.CreatePersonLabel_personGender}" for="personGender" />
                    <p:selectOneButton id="personGender" value="#{personController.selected.personGender}" style="margin-bottom:10px; margin-top:0px" >
                        <f:selectItem itemLabel="Mężczyzna" itemValue="M" />
                        <f:selectItem itemLabel="Kobieta" itemValue="K" />
                    </p:selectOneButton>
                    <p:outputLabel value="#{bundle.CreatePersonLabel_personContactNumber}" for="personContactNumber" />
                    <p:inputText id="personContactNumber" value="#{personController.selected.personContactNumber}" title="#{bundle.CreatePersonTitle_personContactNumber}" />
                    <p:outputLabel value="#{bundle.CreatePersonLabel_personNotes}" for="personNotes" />
                    <p:inputTextarea rows="4" cols="30" id="personNotes" value="#{personController.selected.personNotes}" title="#{bundle.CreatePersonTitle_personNotes}" />           
                </p:panelGrid>
                <p:commandButton actionListener="#{personController.create}" value="#{bundle.Save}" update="display, :UserPersonListForm, :UserCreateForm, :growl" oncomplete="handleSubmit(args,'UserPersonCreateDialog');"/>
                <p:commandButton value="#{bundle.Cancel}" onclick="UserPersonCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>  
    </ui:composition>
</html>
