<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserCreateDlg" widgetVar="UserCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUserTitle}">
            <h:form id="UserCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUserLabel_userLogin}" for="userLogin" />
                        <p:inputText id="userLogin" value="#{userController.selected.userLogin}" title="#{bundle.CreateUserTitle_userLogin}" required="true" requiredMessage="#{bundle.CreateUserRequiredMessage_userLogin}"/>
                        <p:outputLabel value="#{bundle.CreateUserLabel_userIsActive}" for="userIsActive" />
                        <p:selectBooleanCheckbox id="userIsActive" value="#{userController.selected.userIsActive}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_userIsActive}"/>
                        <p:outputLabel value="#{bundle.CreateUserLabel_userEmail}" for="userEmail" />
                        <p:inputText id="userEmail" value="#{userController.selected.userEmail}" title="#{bundle.CreateUserTitle_userEmail}" />
                        <p:outputLabel value="#{bundle.CreateUserLabel_userRole}" for="userRole" />
                        <p:inputText id="userRole" value="#{userController.selected.userRole}" title="#{bundle.CreateUserTitle_userRole}" />
                        <p:outputLabel value="#{bundle.CreateUserLabel_userPersonID}" for="userPersonID" />
                        <h:panelGrid columns="2" border="0" >
                            <p:selectOneMenu id="userPersonID" value="#{userController.selected.userPersonID}" style="margin-top: 10px" filter="true" filterMatchMode="startsWith">
                                <f:selectItems value="#{personController.itemsAvailableSelectOne}"
                                               var="userPersonIDItem"
                                               itemValue="#{userPersonIDItem}" itemLabel="#{userPersonIDItem.description}"/>
                            </p:selectOneMenu>
                            <p:commandButton id="manageButton" icon="ui-icon-clipboard"  value="#{bundle.Manage}" oncomplete="PF('UserPersonListDialog').show()"/>
                        </h:panelGrid>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userController.create}" value="#{bundle.Save}" update="display,:UserListForm:datalist,:growl" oncomplete="handleSubmit(args,'UserCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UserCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
        <ui:include src="ListPerson.xhtml"/>
        
    </ui:composition>
</html>
