<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UserPersonListDlg" widgetVar="UserPersonListDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ListPersonTitle}"
                  width="900">
            <h:form id="UserPersonListForm">
                <p:panel header="#{bundle.ListPersonTitle}">
                    <p:dataTable id="datalist" value="#{personController.items}" var="item"
                                 selectionMode="single" selection="#{personController.selected}"
                                 paginator="true"
                                 rowKey="#{item.personID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonTitle_personFirstName}"/>
                            </f:facet>
                            <h:outputText value="#{item.personFirstName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonTitle_personSecondName}"/>
                            </f:facet>
                            <h:outputText value="#{item.personSecondName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonTitle_personLastName}"/>
                            </f:facet>
                            <h:outputText value="#{item.personLastName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonTitle_personGender}"/>
                            </f:facet>
                            <h:outputText value="#{item.personGender == 'M'? 'Mężczyzna' : 'Kobieta' }"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonTitle_personContactNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.personContactNumber}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonTitle_personNotes}"/>
                            </f:facet>
                            <h:outputText value="#{item.personNotes}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonTitle_personAddressID}"/>
                            </f:facet>
                            <h:outputText value="#{item.personAddressID.toString()}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{personController.prepareCreate}" update=":UserPersonCreateForm" oncomplete="PF('UserPersonCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":UserPersonEditForm" oncomplete="PF('UserPersonEditDialog').show()" disabled="#{empty personController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{personController.destroy}" update=":growl,datalist" disabled="#{empty personController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>
            <ui:include src="CreatePerson.xhtml"/>
            <ui:include src="EditPerson.xhtml"/>
        </p:dialog>
    </ui:composition>

</html>
