<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserViewDlg" widgetVar="UserViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUserTitle}">
            <h:form id="UserViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userController.selected != null}">
                        <h:outputText value="#{bundle.ViewUserLabel_userID}"/>
                        <h:outputText value="#{userController.selected.userID}" title="#{bundle.ViewUserTitle_userID}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userLogin}"/>
                        <h:outputText value="#{userController.selected.userLogin}" title="#{bundle.ViewUserTitle_userLogin}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userIsActive}"/>
                        <p:selectBooleanCheckbox value="#{userController.selected.userIsActive}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userEmail}"/>
                        <h:outputText value="#{userController.selected.userEmail}" title="#{bundle.ViewUserTitle_userEmail}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userPathPhoto}"/>
                        <h:outputText value="#{userController.selected.userPathPhoto}" title="#{bundle.ViewUserTitle_userPathPhoto}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userRole}"/>
                        <h:outputText value="#{userController.selected.userRole}" title="#{bundle.ViewUserTitle_userRole}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userLastLoginTimeStamp}"/>
                        <h:outputText value="#{userController.selected.userLastLoginTimeStamp}" title="#{bundle.ViewUserTitle_userLastLoginTimeStamp}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUserLabel_userCreationTimestamp}"/>
                        <h:outputText value="#{userController.selected.userCreationTimestamp}" title="#{bundle.ViewUserTitle_userCreationTimestamp}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUserLabel_userLastUpdateTimestamp}"/>
                        <h:outputText value="#{userController.selected.userLastUpdateTimestamp}" title="#{bundle.ViewUserTitle_userLastUpdateTimestamp}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUserLabel_userClientID}"/>
                        <h:outputText value="#{userController.selected.userClientID}" title="#{bundle.ViewUserTitle_userClientID}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userPersonID}"/>
                        <h:outputText value="#{userController.selected.userPersonID}" title="#{bundle.ViewUserTitle_userPersonID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UserViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
