<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionpreventivemeasureEditDlg" widgetVar="PositionpreventivemeasureEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPositionpreventivemeasureTitle}">
            <h:form id="PositionpreventivemeasureEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionpreventivemeasureController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPositionpreventivemeasureLabel_positionPreventiveMeasureID}" for="positionPreventiveMeasureID" />
                        <p:inputText id="positionPreventiveMeasureID" value="#{positionpreventivemeasureController.selected.positionPreventiveMeasureID}" title="#{bundle.EditPositionpreventivemeasureTitle_positionPreventiveMeasureID}" required="true" requiredMessage="#{bundle.EditPositionpreventivemeasureRequiredMessage_positionPreventiveMeasureID}"/>
                        <p:outputLabel value="#{bundle.EditPositionpreventivemeasureLabel_positionPreventiveMeasureName}" for="positionPreventiveMeasureName" />
                        <p:inputTextarea rows="4" cols="30" id="positionPreventiveMeasureName" value="#{positionpreventivemeasureController.selected.positionPreventiveMeasureName}" title="#{bundle.EditPositionpreventivemeasureTitle_positionPreventiveMeasureName}" required="true" requiredMessage="#{bundle.EditPositionpreventivemeasureRequiredMessage_positionPreventiveMeasureName}"/>
                        <p:outputLabel value="#{bundle.EditPositionpreventivemeasureLabel_positionPreventiveMeasureTypeID}" for="positionPreventiveMeasureTypeID" />
                        <p:selectOneMenu id="positionPreventiveMeasureTypeID" value="#{positionpreventivemeasureController.selected.positionPreventiveMeasureTypeID}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{positionpreventivemeasuretypeController.itemsAvailableSelectOne}"
                                           var="positionPreventiveMeasureTypeIDItem"
                                           itemValue="#{positionPreventiveMeasureTypeIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditPositionpreventivemeasureLabel_positionPreventiveMeasurePositionID}" for="positionPreventiveMeasurePositionID" />
                        <p:selectOneMenu id="positionPreventiveMeasurePositionID" value="#{positionpreventivemeasureController.selected.positionPreventiveMeasurePositionID}" required="true" requiredMessage="#{bundle.EditPositionpreventivemeasureRequiredMessage_positionPreventiveMeasurePositionID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{positionController.itemsAvailableSelectOne}"
                                           var="positionPreventiveMeasurePositionIDItem"
                                           itemValue="#{positionPreventiveMeasurePositionIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positionpreventivemeasureController.update}" value="#{bundle.Save}" update="display,:PositionpreventivemeasureListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PositionpreventivemeasureEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositionpreventivemeasureEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
