<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionpreventivemeasureViewDlg" widgetVar="PositionpreventivemeasureViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPositionpreventivemeasureTitle}">
            <h:form id="PositionpreventivemeasureViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionpreventivemeasureController.selected != null}">
                        <h:outputText value="#{bundle.ViewPositionpreventivemeasureLabel_positionPreventiveMeasureID}"/>
                        <h:outputText value="#{positionpreventivemeasureController.selected.positionPreventiveMeasureID}" title="#{bundle.ViewPositionpreventivemeasureTitle_positionPreventiveMeasureID}"/>
                        <h:outputText value="#{bundle.ViewPositionpreventivemeasureLabel_positionPreventiveMeasureName}"/>
                        <h:outputText value="#{positionpreventivemeasureController.selected.positionPreventiveMeasureName}" title="#{bundle.ViewPositionpreventivemeasureTitle_positionPreventiveMeasureName}"/>
                        <h:outputText value="#{bundle.ViewPositionpreventivemeasureLabel_positionPreventiveMeasureTypeID}"/>
                        <h:outputText value="#{positionpreventivemeasureController.selected.positionPreventiveMeasureTypeID}" title="#{bundle.ViewPositionpreventivemeasureTitle_positionPreventiveMeasureTypeID}"/>
                        <h:outputText value="#{bundle.ViewPositionpreventivemeasureLabel_positionPreventiveMeasurePositionID}"/>
                        <h:outputText value="#{positionpreventivemeasureController.selected.positionPreventiveMeasurePositionID}" title="#{bundle.ViewPositionpreventivemeasureTitle_positionPreventiveMeasurePositionID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PositionpreventivemeasureViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
