<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AddressEditDlg" widgetVar="AddressEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAddressTitle}">
            <h:form id="AddressEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{addressController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAddressLabel_addressLine1}" for="addressLine1" />
                        <p:inputText id="addressLine1" value="#{addressController.selected.addressLine1}" title="#{bundle.EditAddressTitle_addressLine1}" required="true" requiredMessage="#{bundle.EditAddressRequiredMessage_addressLine1}"/>
                        <p:outputLabel value="#{bundle.EditAddressLabel_addressPostCode}" for="addressPostCode" />
                        <p:inputText id="addressPostCode" value="#{addressController.selected.addressPostCode}" title="#{bundle.EditAddressTitle_addressPostCode}" />
                        <p:outputLabel value="#{bundle.EditAddressLabel_addressCity}" for="addressCity" />
                        <p:inputText id="addressCity" value="#{addressController.selected.addressCity}" title="#{bundle.EditAddressTitle_addressCity}" />
                        <p:outputLabel value="#{bundle.EditAddressLabel_addressState}" for="addressState" />
                        <p:inputText id="addressState" value="#{addressController.selected.addressState}" title="#{bundle.EditAddressTitle_addressState}" />
                        <p:outputLabel value="#{bundle.EditAddressLabel_addressCountry}" for="addressCountry" />
                        <p:inputText id="addressCountry" value="#{addressController.selected.addressCountry}" title="#{bundle.EditAddressTitle_addressCountry}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{addressController.update}" value="#{bundle.Save}" update="display,:AddressListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AddressEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AddressEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
