<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListAddressTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AddressListForm">
                <p:panel header="#{bundle.ListAddressTitle}">
                    <p:dataTable id="datalist" value="#{addressController.items}" var="item"
                                 selectionMode="single" selection="#{addressController.selected}"
                                 paginator="true"
                                 rowKey="#{item.addressID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_addressLine1}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressLine1}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_addressPostCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressPostCode}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_addressCity}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressCity}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_addressState}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressState}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_addressCountry}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressCountry}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{addressController.prepareCreate}" update=":AddressCreateForm" oncomplete="PF('AddressCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":AddressViewForm" oncomplete="PF('AddressViewDialog').show()" disabled="#{empty addressController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":AddressEditForm" oncomplete="PF('AddressEditDialog').show()" disabled="#{empty addressController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{addressController.destroy}" update=":growl,datalist" disabled="#{empty addressController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
