<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AddressViewDlg" widgetVar="AddressViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAddressTitle}">
            <h:form id="AddressViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{addressController.selected != null}">
                        <h:outputText value="#{bundle.ViewAddressLabel_addressPostCode}"/>
                        <h:outputText value="#{addressController.selected.addressPostCode}" title="#{bundle.ViewAddressTitle_addressPostCode}"/>
                        <h:outputText value="#{bundle.ViewAddressLabel_addressCity}"/>
                        <h:outputText value="#{addressController.selected.addressCity}" title="#{bundle.ViewAddressTitle_addressCity}"/>
                        <h:outputText value="#{bundle.ViewAddressLabel_addressState}"/>
                        <h:outputText value="#{addressController.selected.addressState}" title="#{bundle.ViewAddressTitle_addressState}"/>
                        <h:outputText value="#{bundle.ViewAddressLabel_addressCountry}"/>
                        <h:outputText value="#{addressController.selected.addressCountry}" title="#{bundle.ViewAddressTitle_addressCountry}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AddressViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
