<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskpreventionreferenceViewDlg" widgetVar="RiskpreventionreferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRiskpreventionreferenceTitle}">
            <h:form id="RiskpreventionreferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskpreventionreferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewRiskpreventionreferenceLabel_riskPreventionReferenceID}"/>
                        <h:outputText value="#{riskpreventionreferenceController.selected.riskPreventionReferenceID}" title="#{bundle.ViewRiskpreventionreferenceTitle_riskPreventionReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskpreventionreferenceLabel_riskPreventionReferenceName}"/>
                        <h:outputText value="#{riskpreventionreferenceController.selected.riskPreventionReferenceName}" title="#{bundle.ViewRiskpreventionreferenceTitle_riskPreventionReferenceName}"/>
                        <h:outputText value="#{bundle.ViewRiskpreventionreferenceLabel_riskPreventionReferenceRiskReferenceID}"/>
                        <h:outputText value="#{riskpreventionreferenceController.selected.riskPreventionReferenceRiskReferenceID}" title="#{bundle.ViewRiskpreventionreferenceTitle_riskPreventionReferenceRiskReferenceID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RiskpreventionreferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
