<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskreferenceViewDlg" widgetVar="RiskreferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRiskreferenceTitle}">
            <h:form id="RiskreferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskreferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewRiskreferenceLabel_riskReferenceID}"/>
                        <h:outputText value="#{riskreferenceController.selected.riskReferenceID}" title="#{bundle.ViewRiskreferenceTitle_riskReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskreferenceLabel_riskReferenceName}"/>
                        <h:outputText value="#{riskreferenceController.selected.riskReferenceName}" title="#{bundle.ViewRiskreferenceTitle_riskReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RiskreferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
