<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskidentificationViewDlg" widgetVar="RiskidentificationViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRiskidentificationTitle}">
            <h:form id="RiskidentificationViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskidentificationController.selected != null}">
                        <h:outputText value="#{bundle.ViewRiskidentificationLabel_riskIdentificationID}"/>
                        <h:outputText value="#{riskidentificationController.selected.riskIdentificationID}" title="#{bundle.ViewRiskidentificationTitle_riskIdentificationID}"/>
                        <h:outputText value="#{bundle.ViewRiskidentificationLabel_riskIdentificationRiskConsequenceReferenceID}"/>
                        <h:outputText value="#{riskidentificationController.selected.riskIdentificationRiskConsequenceReferenceID}" title="#{bundle.ViewRiskidentificationTitle_riskIdentificationRiskConsequenceReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskidentificationLabel_riskIdentificationRiskPreventionReferenceID}"/>
                        <h:outputText value="#{riskidentificationController.selected.riskIdentificationRiskPreventionReferenceID}" title="#{bundle.ViewRiskidentificationTitle_riskIdentificationRiskPreventionReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskidentificationLabel_riskIdentificationRiskReferenceID}"/>
                        <h:outputText value="#{riskidentificationController.selected.riskIdentificationRiskReferenceID}" title="#{bundle.ViewRiskidentificationTitle_riskIdentificationRiskReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskidentificationLabel_riskIdentificationRiskSourceReferenceID}"/>
                        <h:outputText value="#{riskidentificationController.selected.riskIdentificationRiskSourceReferenceID}" title="#{bundle.ViewRiskidentificationTitle_riskIdentificationRiskSourceReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskidentificationLabel_riskIdentificationRiskAnalysisID}"/>
                        <h:outputText value="#{riskidentificationController.selected.riskIdentificationRiskAnalysisID}" title="#{bundle.ViewRiskidentificationTitle_riskIdentificationRiskAnalysisID}"/>
                        <h:outputText value="#{bundle.ViewRiskidentificationLabel_riskIdentificationRiskProbabilityReferenceID}"/>
                        <h:outputText value="#{riskidentificationController.selected.riskIdentificationRiskProbabilityReferenceID}" title="#{bundle.ViewRiskidentificationTitle_riskIdentificationRiskProbabilityReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskidentificationLabel_riskIdentificationRiskSeverityReferenceID}"/>
                        <h:outputText value="#{riskidentificationController.selected.riskIdentificationRiskSeverityReferenceID}" title="#{bundle.ViewRiskidentificationTitle_riskIdentificationRiskSeverityReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskidentificationLabel_riskIdentificationRisksAssessmentReferenceID}"/>
                        <h:outputText value="#{riskidentificationController.selected.riskIdentificationRisksAssessmentReferenceID}" title="#{bundle.ViewRiskidentificationTitle_riskIdentificationRisksAssessmentReferenceID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RiskidentificationViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
