<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RisksassessmentreferenceViewDlg" widgetVar="RisksassessmentreferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRisksassessmentreferenceTitle}">
            <h:form id="RisksassessmentreferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{risksassessmentreferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewRisksassessmentreferenceLabel_risksAssessmentReferenceID}"/>
                        <h:outputText value="#{risksassessmentreferenceController.selected.risksAssessmentReferenceID}" title="#{bundle.ViewRisksassessmentreferenceTitle_risksAssessmentReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRisksassessmentreferenceLabel_risksAssessmentReferenceName}"/>
                        <h:outputText value="#{risksassessmentreferenceController.selected.risksAssessmentReferenceName}" title="#{bundle.ViewRisksassessmentreferenceTitle_risksAssessmentReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RisksassessmentreferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
