<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientEditDlg" widgetVar="ClientEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditClientTitle}">
            <h:form id="ClientEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientController.selected != null}">
                        <p:outputLabel value="#{bundle.EditClientLabel_clientName}" for="clientName" />
                        <p:inputText id="clientName" value="#{clientController.selected.clientName}" title="#{bundle.EditClientTitle_clientName}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_clientName}"/>
                        <p:outputLabel value="#{bundle.EditClientLabel_clientNIP}" for="clientNIP" />
                        <p:inputText id="clientNIP" value="#{clientController.selected.clientNIP}" title="#{bundle.EditClientTitle_clientNIP}" />
                        <p:outputLabel value="#{bundle.EditClientLabel_clientREGON}" for="clientREGON" />
                        <p:inputText id="clientREGON" value="#{clientController.selected.clientREGON}" title="#{bundle.EditClientTitle_clientREGON}" />
                        <p:outputLabel value="#{bundle.EditClientLabel_clientAdminID}" for="clientAdminID" />
                        <p:selectOneMenu id="clientAdminID" value="#{clientController.selected.clientAdminID}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_clientAdminID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="clientAdminIDItem"
                                           itemValue="#{clientAdminIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientController.update}" value="#{bundle.Save}" update="display,:ClientListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ClientEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClientEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
