<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListClientTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ClientListForm">
                <p:panel header="#{bundle.ListClientTitle}">
                    <p:dataTable id="datalist" value="#{clientController.items}" var="item"
                                 selectionMode="single" selection="#{clientController.selected}"
                                 rowKey="#{item.clientID}"
                                 >

                        <p:ajax event="rowSelect"   update="editButton"/>
                        <p:ajax event="rowUnselect" update="editButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_clientName}"/>
                            </f:facet>
                            <h:outputText value="#{item.clientName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_clientNIP}"/>
                            </f:facet>
                            <h:outputText value="#{item.clientNIP}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_clientREGON}"/>
                            </f:facet>
                            <h:outputText value="#{item.clientREGON}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_clientAdminID}"/>
                            </f:facet>
                            <h:outputText value="#{item.clientAdminID.userPersonID.description}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ClientEditForm" oncomplete="PF('ClientEditDialog').show()" disabled="#{empty clientController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Edit.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
