<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InsurancetitlereferenceViewDlg" widgetVar="InsurancetitlereferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewInsurancetitlereferenceTitle}">
            <h:form id="InsurancetitlereferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{insurancetitlereferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewInsurancetitlereferenceLabel_insuranceTitleReferenceID}"/>
                        <h:outputText value="#{insurancetitlereferenceController.selected.insuranceTitleReferenceID}" title="#{bundle.ViewInsurancetitlereferenceTitle_insuranceTitleReferenceID}"/>
                        <h:outputText value="#{bundle.ViewInsurancetitlereferenceLabel_insuranceTitleReferenceCode}"/>
                        <h:outputText value="#{insurancetitlereferenceController.selected.insuranceTitleReferenceCode}" title="#{bundle.ViewInsurancetitlereferenceTitle_insuranceTitleReferenceCode}"/>
                        <h:outputText value="#{bundle.ViewInsurancetitlereferenceLabel_insuranceTitleReferenceDescription}"/>
                        <h:outputText value="#{insurancetitlereferenceController.selected.insuranceTitleReferenceDescription}" title="#{bundle.ViewInsurancetitlereferenceTitle_insuranceTitleReferenceDescription}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="InsurancetitlereferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
