<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentattachmentViewDlg" widgetVar="IncidentattachmentViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewIncidentattachmentTitle}">
            <h:form id="IncidentattachmentViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentattachmentController.selected != null}">
                        <h:outputText value="#{bundle.ViewIncidentattachmentLabel_incidentAttachmentID}"/>
                        <h:outputText value="#{incidentattachmentController.selected.incidentAttachmentID}" title="#{bundle.ViewIncidentattachmentTitle_incidentAttachmentID}"/>
                        <h:outputText value="#{bundle.ViewIncidentattachmentLabel_incidentAttachmentName}"/>
                        <h:outputText value="#{incidentattachmentController.selected.incidentAttachmentName}" title="#{bundle.ViewIncidentattachmentTitle_incidentAttachmentName}"/>
                        <h:outputText value="#{bundle.ViewIncidentattachmentLabel_incidentAttachmentPath}"/>
                        <h:outputText value="#{incidentattachmentController.selected.incidentAttachmentPath}" title="#{bundle.ViewIncidentattachmentTitle_incidentAttachmentPath}"/>
                        <h:outputText value="#{bundle.ViewIncidentattachmentLabel_incidentAttachmentType}"/>
                        <h:outputText value="#{incidentattachmentController.selected.incidentAttachmentType}" title="#{bundle.ViewIncidentattachmentTitle_incidentAttachmentType}"/>
                        <h:outputText value="#{bundle.ViewIncidentattachmentLabel_incidentAttachmentIncidentID}"/>
                        <h:outputText value="#{incidentattachmentController.selected.incidentAttachmentIncidentID}" title="#{bundle.ViewIncidentattachmentTitle_incidentAttachmentIncidentID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="IncidentattachmentViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
