<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CompanyCreateDlg" widgetVar="CompanyCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCompanyTitle}">
            <h:form id="CompanyCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{companyController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCompanyLabel_companyName}" for="companyName" />
                        <p:inputText id="companyName" value="#{companyController.selected.companyName}" title="#{bundle.CreateCompanyTitle_companyName}" required="true" requiredMessage="#{bundle.CreateCompanyRequiredMessage_companyName}"/>
                        <p:outputLabel value="#{bundle.CreateCompanyLabel_companyNIP}" for="companyNIP" />
                        <p:inputText id="companyNIP" value="#{companyController.selected.companyNIP}" title="#{bundle.CreateCompanyTitle_companyNIP}" />
                        <p:outputLabel value="#{bundle.CreateCompanyLabel_companyREGON}" for="companyREGON" />
                        <p:inputText id="companyREGON" value="#{companyController.selected.companyREGON}" title="#{bundle.CreateCompanyTitle_companyREGON}" />
                        <p:outputLabel value="#{bundle.CreateCompanyLabel_companyPhoneNumber}" for="companyPhoneNumber" />
                        <p:inputText id="companyPhoneNumber" value="#{companyController.selected.companyPhoneNumber}" title="#{bundle.CreateCompanyTitle_companyPhoneNumber}" />
                        <p:outputLabel value="#{bundle.CreateCompanyLabel_companyEmail}" for="companyEmail" />
                        <p:inputText id="companyEmail" value="#{companyController.selected.companyEmail}" title="#{bundle.CreateCompanyTitle_companyEmail}" />
                        <p:outputLabel value="#{bundle.CreateCompanyLabel_companyPKDCode}" for="companyPKDCode" />
                        <p:inputText id="companyPKDCode" value="#{companyController.selected.companyPKDCode}" title="#{bundle.CreateCompanyTitle_companyPKDCode}" />
                        <p:outputLabel value="#{bundle.CreateCompanyLabel_companyOwnerID}" for="companyOwnerID" />
                        <p:selectOneMenu id="companyOwnerID" value="#{companyController.selected.companyOwnerID}" >
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="companyOwnerIDItem"
                                           itemValue="#{companyOwnerIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateCompanyLabel_companyRepresentativeID}" for="companyRepresentativeID" />
                        <p:selectOneMenu id="companyRepresentativeID" value="#{companyController.selected.companyRepresentativeID}" >
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="companyRepresentativeIDItem"
                                           itemValue="#{companyRepresentativeIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{companyController.create}" value="#{bundle.Save}" update="display,:CompanyListForm:datalist, :CompanySelectorForm, :MenuItemsForm,:growl" oncomplete="handleSubmit(args,'CompanyCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CompanyCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>
