<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CompanyEditDlg" widgetVar="CompanyEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCompanyTitle}">
            <h:form id="CompanyEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{companyController.selected != null}">
                        <p:outputLabel value="#{bundle.EditCompanyLabel_companyName}" for="companyName" />
                        <p:inputText id="companyName" value="#{companyController.selected.companyName}" title="#{bundle.EditCompanyTitle_companyName}" required="true" requiredMessage="#{bundle.EditCompanyRequiredMessage_companyName}"/>
                        <p:outputLabel value="#{bundle.EditCompanyLabel_companyNIP}" for="companyNIP" />
                        <p:inputText id="companyNIP" value="#{companyController.selected.companyNIP}" title="#{bundle.EditCompanyTitle_companyNIP}" />
                        <p:outputLabel value="#{bundle.EditCompanyLabel_companyREGON}" for="companyREGON" />
                        <p:inputText id="companyREGON" value="#{companyController.selected.companyREGON}" title="#{bundle.EditCompanyTitle_companyREGON}" />
                        <p:outputLabel value="#{bundle.EditCompanyLabel_companyPhoneNumber}" for="companyPhoneNumber" />
                        <p:inputText id="companyPhoneNumber" value="#{companyController.selected.companyPhoneNumber}" title="#{bundle.EditCompanyTitle_companyPhoneNumber}" />
                        <p:outputLabel value="#{bundle.EditCompanyLabel_companyEmail}" for="companyEmail" />
                        <p:inputText id="companyEmail" value="#{companyController.selected.companyEmail}" title="#{bundle.EditCompanyTitle_companyEmail}" />
                        <p:outputLabel value="#{bundle.EditCompanyLabel_companyPKDCode}" for="companyPKDCode" />
                        <p:inputText id="companyPKDCode" value="#{companyController.selected.companyPKDCode}" title="#{bundle.EditCompanyTitle_companyPKDCode}" />
                        <p:outputLabel value="#{bundle.EditCompanyLabel_companyOwnerID}" for="companyOwnerID" />
                        <p:selectOneMenu id="companyOwnerID" value="#{companyController.selected.companyOwnerID}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="companyOwnerIDItem"
                                           itemValue="#{companyOwnerIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditCompanyLabel_companyRepresentativeID}" for="companyRepresentativeID" />
                        <p:selectOneMenu id="companyRepresentativeID" value="#{companyController.selected.companyRepresentativeID}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="companyRepresentativeIDItem"
                                           itemValue="#{companyRepresentativeIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditCompanyLabel_companyAddressID}"/>
                        <h:panelGroup>
                        <h:form id="CompanyAddressForm">
                            <p:panelGrid columns="2" rendered="#{companyController.selected.companyAddressID != null}">
                                <h:outputText value="#{bundle.AddressLabel_addressLine1}"/>
                                <h:inputText value="#{companyController.selected.companyAddressID.addressLine1}" title="#{bundle.Addresstitle_addressLine1}"/>
                                <h:outputText value="#{bundle.AddressLabel_addressPostCode}"/>
                                <h:inputText value="#{companyController.selected.companyAddressID.addressPostCode}" title="#{bundle.AddressTitle_addressPostCode}"/>
                                <h:outputText value="#{bundle.AddressLabel_addressCity}"/>
                                <h:inputText value="#{companyController.selected.companyAddressID.addressCity}" title="#{bundle.AddressTitle_addressCity}"/>
                                <p:outputLabel value="#{bundle.AddressLabel_addressState}" for="addressState" />
                        
                                <p:selectOneMenu id="addressState" value="#{companyController.selected.companyAddressID.addressState}" >
                                    <f:selectItem itemLabel="dolnośląskie" itemValue="dolnośląskie" />
                                    <f:selectItem itemLabel="kujawsko-pomorskie" itemValue="kujawsko-pomorskie" />
                                    <f:selectItem itemLabel="lubelskie" itemValue="lubelskie" />
                                    <f:selectItem itemLabel="lubuskie" itemValue="lubuskie" />
                                    <f:selectItem itemLabel="łódzkie" itemValue="łódzkie" />
                                    <f:selectItem itemLabel="małopolskie" itemValue="małopolskie" />
                                    <f:selectItem itemLabel="mazowieckie" itemValue="mazowieckie" />
                                    <f:selectItem itemLabel="opolskie" itemValue="opolskie" />
                                    <f:selectItem itemLabel="podkarpackie" itemValue="podkarpackie" />
                                    <f:selectItem itemLabel="podlaskie" itemValue="podlaskie" />
                                    <f:selectItem itemLabel="pomorskie" itemValue="pomorskie" />
                                    <f:selectItem itemLabel="śląskie" itemValue="śląskie" />
                                    <f:selectItem itemLabel="świętokrzyskie" itemValue="świętokrzyskie" />
                                    <f:selectItem itemLabel="warmińsko-mazurskie" itemValue="warmińsko-mazurskie" />
                                    <f:selectItem itemLabel="wielkopolskie" itemValue="wielkopolskie" />
                                    <f:selectItem itemLabel="zachodniopomorskie" itemValue="zachodniopomorskie" />
                                </p:selectOneMenu>
                                <h:outputText value="#{bundle.AddressLabel_addressCountry}"/>
                                <h:inputText value="#{companyController.selected.companyAddressID.addressCountry}" title="#{bundle.AddressTitle_addressCountry}"/>
                            </p:panelGrid>
                            <h:form id="CompanyAddressCreateForm">
                            <p:commandButton id="createCompanyAddressButton" icon="ui-icon-plus" value="#{bundle.Create}" rendered="#{companyController.selected.companyAddressID == null}"   
                                             actionListener="#{addressController.prepareCreateforCompany}" update=":CompanyEditForm" immediate="true" />
                        
                            
                            </h:form>
                        </h:form>
                       </h:panelGroup>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{companyController.update}" value="#{bundle.Save}" update="display,:CompanyListForm:datalist,:CompanySelectorForm,:growl" oncomplete="handleSubmit(args, 'CompanyEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CompanyEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
        <!--<ui:include src="CreateAddress.xhtml"/>-->

    </ui:composition>
</html>
