<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CompanyViewDlg" widgetVar="CompanyViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCompanyTitle}">
            <h:form id="CompanyViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{companyController.selected != null}">
                        <h:outputText value="#{bundle.ViewCompanyLabel_companyName}"/>
                        <h:outputText value="#{companyController.selected.companyName}" title="#{bundle.ViewCompanyTitle_companyName}"/>
                        <h:outputText value="#{bundle.ViewCompanyLabel_companyNIP}"/>
                        <h:outputText value="#{companyController.selected.companyNIP}" title="#{bundle.ViewCompanyTitle_companyNIP}"/>
                        <h:outputText value="#{bundle.ViewCompanyLabel_companyREGON}"/>
                        <h:outputText value="#{companyController.selected.companyREGON}" title="#{bundle.ViewCompanyTitle_companyREGON}"/>
                        <h:outputText value="#{bundle.ViewCompanyLabel_companyPhoneNumber}"/>
                        <h:outputText value="#{companyController.selected.companyPhoneNumber}" title="#{bundle.ViewCompanyTitle_companyPhoneNumber}"/>
                        <h:outputText value="#{bundle.ViewCompanyLabel_companyEmail}"/>
                        <h:outputText value="#{companyController.selected.companyEmail}" title="#{bundle.ViewCompanyTitle_companyEmail}"/>
                        <h:outputText value="#{bundle.ViewCompanyLabel_companyPKDCode}"/>
                        <h:outputText value="#{companyController.selected.companyPKDCode}" title="#{bundle.ViewCompanyTitle_companyPKDCode}"/>
                        <h:outputText value="#{bundle.ViewCompanyLabel_companyOwnerID}"/>
                        <h:outputText value="#{companyController.selected.companyOwnerID.toString()}" title="#{bundle.ViewCompanyTitle_companyOwnerID}"/>
                        <h:outputText value="#{bundle.ViewCompanyLabel_companyRepresentativeID}"/>
                        <h:outputText value="#{companyController.selected.companyRepresentativeID.toString()}" title="#{bundle.ViewCompanyTitle_companyRepresentativeID}"/>
                        <h:outputText value="#{bundle.ViewCompanyLabel_companyAddressID}"/>
                        <h:panelGroup>
                            <p:panelGrid columns="2" rendered="#{companyController.selected.companyAddressID != null}">
                                <h:outputText value="#{bundle.AddressLabel_addressLine1}"/>
                                <h:outputText value="#{companyController.selected.companyAddressID.addressLine1}" title="#{bundle.Addresstitle_addressLine1}"/>
                                <h:outputText value="#{bundle.AddressLabel_addressPostCode}"/>
                                <h:outputText value="#{companyController.selected.companyAddressID.addressPostCode}" title="#{bundle.AddressTitle_addressPostCode}"/>
                                <h:outputText value="#{bundle.AddressLabel_addressCity}"/>
                                <h:outputText value="#{companyController.selected.companyAddressID.addressCity}" title="#{bundle.AddressTitle_addressCity}"/>
                                <h:outputText value="#{bundle.AddressLabel_addressState}"/>
                                <h:outputText value="#{companyController.selected.companyAddressID.addressState}" title="#{bundle.AddressTitle_addressState}"/>
                                <h:outputText value="#{bundle.AddressLabel_addressCountry}"/>
                                <h:outputText value="#{companyController.selected.companyAddressID.addressCountry}" title="#{bundle.AddressTitle_addressCountry}"/>
                            </p:panelGrid>
                        </h:panelGroup>    
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CompanyViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
