<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskbasedocumentEditDlg" widgetVar="RiskbasedocumentEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRiskbasedocumentTitle}">
            <h:form id="RiskbasedocumentEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskbasedocumentController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRiskbasedocumentLabel_riskBaseDocumentID}" for="riskBaseDocumentID" />
                        <p:inputText id="riskBaseDocumentID" value="#{riskbasedocumentController.selected.riskBaseDocumentID}" title="#{bundle.EditRiskbasedocumentTitle_riskBaseDocumentID}" required="true" requiredMessage="#{bundle.EditRiskbasedocumentRequiredMessage_riskBaseDocumentID}"/>
                        <p:outputLabel value="#{bundle.EditRiskbasedocumentLabel_riskBaseDocumentRiskAnalysisID}" for="riskBaseDocumentRiskAnalysisID" />
                        <p:selectOneMenu id="riskBaseDocumentRiskAnalysisID" value="#{riskbasedocumentController.selected.riskBaseDocumentRiskAnalysisID}" required="true" requiredMessage="#{bundle.EditRiskbasedocumentRequiredMessage_riskBaseDocumentRiskAnalysisID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{riskanalysisController.itemsAvailableSelectOne}"
                                           var="riskBaseDocumentRiskAnalysisIDItem"
                                           itemValue="#{riskBaseDocumentRiskAnalysisIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditRiskbasedocumentLabel_riskBaseDocumentRiskBaseDocumentReferenceID}" for="riskBaseDocumentRiskBaseDocumentReferenceID" />
                        <p:selectOneMenu id="riskBaseDocumentRiskBaseDocumentReferenceID" value="#{riskbasedocumentController.selected.riskBaseDocumentRiskBaseDocumentReferenceID}" required="true" requiredMessage="#{bundle.EditRiskbasedocumentRequiredMessage_riskBaseDocumentRiskBaseDocumentReferenceID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{riskbasedocumentreferenceController.itemsAvailableSelectOne}"
                                           var="riskBaseDocumentRiskBaseDocumentReferenceIDItem"
                                           itemValue="#{riskBaseDocumentRiskBaseDocumentReferenceIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{riskbasedocumentController.update}" value="#{bundle.Save}" update="display,:RiskbasedocumentListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RiskbasedocumentEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RiskbasedocumentEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
