<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskbasedocumentViewDlg" widgetVar="RiskbasedocumentViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRiskbasedocumentTitle}">
            <h:form id="RiskbasedocumentViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskbasedocumentController.selected != null}">
                        <h:outputText value="#{bundle.ViewRiskbasedocumentLabel_riskBaseDocumentID}"/>
                        <h:outputText value="#{riskbasedocumentController.selected.riskBaseDocumentID}" title="#{bundle.ViewRiskbasedocumentTitle_riskBaseDocumentID}"/>
                        <h:outputText value="#{bundle.ViewRiskbasedocumentLabel_riskBaseDocumentRiskAnalysisID}"/>
                        <h:outputText value="#{riskbasedocumentController.selected.riskBaseDocumentRiskAnalysisID}" title="#{bundle.ViewRiskbasedocumentTitle_riskBaseDocumentRiskAnalysisID}"/>
                        <h:outputText value="#{bundle.ViewRiskbasedocumentLabel_riskBaseDocumentRiskBaseDocumentReferenceID}"/>
                        <h:outputText value="#{riskbasedocumentController.selected.riskBaseDocumentRiskBaseDocumentReferenceID}" title="#{bundle.ViewRiskbasedocumentTitle_riskBaseDocumentRiskBaseDocumentReferenceID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RiskbasedocumentViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
