<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>BHP Service</title>
            </f:facet>
        </h:head>

        <h:body>
            <ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
                <ui:define name="content">
                    test
                </ui:define>
            </ui:composition>
            

            <p:layout fullPage="true">
                <h:form id="CompanyListForm">
                    <p:layoutUnit position="north" size="100" resizable="false" closable="true" collapsible="true">
                                    <ui:insert>
                                            <ui:include src="header.xhtml" />
                                    </ui:insert>
                    </p:layoutUnit>
                </h:form>
                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    
                </p:layoutUnit>

                <p:layoutUnit position="west" size="260" header="#{bundle.GeneralChooseCompany}" collapsible="true">
                <p:selectOneMenu id="companyName" value="#{companyController.selected}" >
                    <f:selectItems value="#{companyController.items}" var="company" itemLabel="#{company.companyName}" itemValue="#{company}" />
                </p:selectOneMenu>
<!--                    <p:panelMenu>
                        <p:submenu label="Ajax Menuitems">
                            <p:menuitem value="Save" actionListener="#{menuView.save}" icon="ui-icon-disk" />
                            <p:menuitem value="Update" actionListener="#{menuView.update}"  icon="ui-icon-arrowrefresh-1-w" />
                            <p:menuitem value="Save" icon="ui-icon-disk" />
                            <p:menuitem value="Update" icon="ui-icon-arrowrefresh-1-w" />
                        </p:submenu>
                    </p:panelMenu>-->
                    <p:menu>
                        <p:submenu label="Resources">
                            <p:menuitem value="Demo" url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
                            <p:menuitem value="Documentation" url="http://www.primefaces.org/documentation.html" />
                            <p:menuitem value="Forum" url="http://forum.primefaces.org/" />
                            <p:menuitem value="Themes" url="http://www.primefaces.org/themes.html" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    Welcome to PrimeFaces
                    <div id="Employees">
                        <ui:insert name ="test">
                            bbb
                            <ui:include src="employee/List.xhtml" />
                        </ui:insert>
                    </div>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

