<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
        <title>BHP Service</title>        
    </h:head>

    <h:body>
        <p:growl id="growl" life="3000" />
        
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="90" header="#{clientController.items.get(0).clientName}">
                 <h:form>
                     Witaj #{userController.getUserByLogin(usercredentialController.userLogin)}
                    <p:commandButton  id="withIcon" action="#{usercredentialController.doLogout()}" 
                                  value="#{bundle.GeneralLogout}" icon="ui-icon-extlink" 
                                  style="width: 80px;height: 24px;font-size: 10px;margin-top: 0px; 
                                  margin-right: 10px;float: right; float: top" />
                </h:form>
                
                <button onclick="getLocation()">Try It</button>
                <div id="test1">Lokalizacja nieznana</div>
                <script>
                var x = document.getElementById("test1");
                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition, showError);
                    } else {
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                }
                function showPosition(position) {
                    x.innerHTML = "Latitude: " + position.coords.latitude + 
                    "<br/>Longitude: " + position.coords.longitude; 
                }
                
                function showError(error) {
                    switch(error.code) {
                        case error.PERMISSION_DENIED:
                            x.innerHTML = "User denied the request for Geolocation."
                            break;
                        case error.POSITION_UNAVAILABLE:
                            x.innerHTML = "Location information is unavailable."
                            break;
                        case error.TIMEOUT:
                            x.innerHTML = "The request to get user location timed out."
                            break;
                        case error.UNKNOWN_ERROR:
                            x.innerHTML = "An unknown error occurred."
                            break;
                    }
                }
                </script>
            </p:layoutUnit>
            <p:layoutUnit position="west" size="250">
                <h:panelGrid columns="2" border="0" style="width:240px">
                    <h:form id="CompanySelectorForm">
                        <p:outputLabel for="companyName" value="#{bundle.GeneralCompany}" style=" font-style: oblique; font-size: xx-large" />
                        <br/>
                        <p:selectOneMenu id="companyName" value="#{companyController.selected}" onchange="submit()" style="width: 200px ">
                            <c:if test="#{riskidentificationController.selected.riskIdentificationRiskReferenceID == null}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}" itemValue="#{null}"/>
                            </c:if>
                            <f:selectItems value="#{companyController.items}" var="company" itemLabel="#{company.companyName}" />
                        </p:selectOneMenu>
                    </h:form>
                    <h:form>
                        <p:commandButton action="#{navigationController.redirectToCompany()}" icon="ui-icon-wrench" title="#{bundle.Company_manage}" 
                                         style="float: right;" />
                    </h:form>
                    
                </h:panelGrid>
                <h:form id="MenuItemsForm">
                    <p:menu style="width:230px">
                        <p:submenu label="#{bundle.GeneralManageClients}">
                            <p:menuitem value="#{bundle.GeneralEmployees}" action="#{navigationController.redirectToEmployee()}" icon="ui-icon-person" disabled="#{companyController.selected == null || companyController.selected.companyID == null}" />
                            <p:menuitem value="#{bundle.GeneralIncident}" action="#{navigationController.redirectToIncident()}" icon="ui-icon-alert" disabled="#{companyController.selected == null || companyController.selected.companyID == null}"/>
                            <p:menuitem value="#{bundle.GeneralTrainings}" action="#{navigationController.redirectToTrainingGroup()}" icon="ui-icon-suitcase" />
                            <p:menuitem value="#{bundle.GeneralPositions}" action="#{navigationController.redirectToPosition()}" icon="ui-icon-link" />
                            <p:menuitem value="#{bundle.GeneralRiskAnlyses}" action="#{navigationController.redirectToRiskAnalisis()}" icon="ui-icon-bookmark"/>
                        </p:submenu>
                        <p:submenu label="#{bundle.GeneralManageCompany}">
                            <p:menuitem value="#{bundle.GeneralOHSSpecialists}" action="#{navigationController.redirectToUser}" icon="ui-icon-person" />
                            <p:menuitem value="#{bundle.GeneralCompanyInfos}" action="#{navigationController.redirectToClient}" icon="ui-icon-gear" />
                        </p:submenu>
                    </p:menu>
                    
                </h:form>
                
                <ui:insert name="menu"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>
            
            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
                <p:panel style="float:right;float:bottom; border:0px" >
                <p:clock />
                </p:panel>
            </p:layoutUnit>
            
        </p:layout>
    </h:body>

</html>
