<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskconsequencereferenceViewDlg" widgetVar="RiskconsequencereferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRiskconsequencereferenceTitle}">
            <h:form id="RiskconsequencereferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskconsequencereferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewRiskconsequencereferenceLabel_riskConsequenceReferenceID}"/>
                        <h:outputText value="#{riskconsequencereferenceController.selected.riskConsequenceReferenceID}" title="#{bundle.ViewRiskconsequencereferenceTitle_riskConsequenceReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskconsequencereferenceLabel_riskConsequenceReferenceName}"/>
                        <h:outputText value="#{riskconsequencereferenceController.selected.riskConsequenceReferenceName}" title="#{bundle.ViewRiskconsequencereferenceTitle_riskConsequenceReferenceName}"/>
                        <h:outputText value="#{bundle.ViewRiskconsequencereferenceLabel_riskConsequenceRiskReferenceID}"/>
                        <h:outputText value="#{riskconsequencereferenceController.selected.riskConsequenceRiskReferenceID}" title="#{bundle.ViewRiskconsequencereferenceTitle_riskConsequenceRiskReferenceID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RiskconsequencereferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
