<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RiskprobabilityreferenceViewDlg" widgetVar="RiskprobabilityreferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRiskprobabilityreferenceTitle}">
            <h:form id="RiskprobabilityreferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{riskprobabilityreferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewRiskprobabilityreferenceLabel_riskProbabilityReferenceID}"/>
                        <h:outputText value="#{riskprobabilityreferenceController.selected.riskProbabilityReferenceID}" title="#{bundle.ViewRiskprobabilityreferenceTitle_riskProbabilityReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRiskprobabilityreferenceLabel_riskProbabilityReferenceName}"/>
                        <h:outputText value="#{riskprobabilityreferenceController.selected.riskProbabilityReferenceName}" title="#{bundle.ViewRiskprobabilityreferenceTitle_riskProbabilityReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RiskprobabilityreferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
