<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="WorkplaceEditDlg" widgetVar="WorkplaceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditWorkplaceTitle}">
            <h:form id="WorkplaceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{workplaceController.selected != null}">
                        <p:outputLabel value="#{bundle.EditWorkplaceLabel_workplaceID}" for="workplaceID" />
                        <p:inputText id="workplaceID" value="#{workplaceController.selected.workplaceID}" title="#{bundle.EditWorkplaceTitle_workplaceID}" required="true" requiredMessage="#{bundle.EditWorkplaceRequiredMessage_workplaceID}"/>
                        <p:outputLabel value="#{bundle.EditWorkplaceLabel_workplaceName}" for="workplaceName" />
                        <p:inputTextarea rows="4" cols="30" id="workplaceName" value="#{workplaceController.selected.workplaceName}" title="#{bundle.EditWorkplaceTitle_workplaceName}" />
                        <p:outputLabel value="#{bundle.EditWorkplaceLabel_workplaceDescription}" for="workplaceDescription" />
                        <p:inputTextarea rows="4" cols="30" id="workplaceDescription" value="#{workplaceController.selected.workplaceDescription}" title="#{bundle.EditWorkplaceTitle_workplaceDescription}" />
                        <p:outputLabel value="#{bundle.EditWorkplaceLabel_workplaceReferenceID}" for="workplaceReferenceID" />
                        <p:selectOneMenu id="workplaceReferenceID" value="#{workplaceController.selected.workplaceReferenceID}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{workplacereferenceController.itemsAvailableSelectOne}"
                                           var="workplaceReferenceIDItem"
                                           itemValue="#{workplaceReferenceIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditWorkplaceLabel_workplacePositionID}" for="workplacePositionID" />
                        <p:selectOneMenu id="workplacePositionID" value="#{workplaceController.selected.workplacePositionID}" required="true" requiredMessage="#{bundle.EditWorkplaceRequiredMessage_workplacePositionID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{positionController.itemsAvailableSelectOne}"
                                           var="workplacePositionIDItem"
                                           itemValue="#{workplacePositionIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{workplaceController.update}" value="#{bundle.Save}" update="display,:WorkplaceListForm:datalist,:growl" oncomplete="handleSubmit(args, 'WorkplaceEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="WorkplaceEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
