<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="WorkplaceViewDlg" widgetVar="WorkplaceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewWorkplaceTitle}">
            <h:form id="WorkplaceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{workplaceController.selected != null}">
                        <h:outputText value="#{bundle.ViewWorkplaceLabel_workplaceID}"/>
                        <h:outputText value="#{workplaceController.selected.workplaceID}" title="#{bundle.ViewWorkplaceTitle_workplaceID}"/>
                        <h:outputText value="#{bundle.ViewWorkplaceLabel_workplaceName}"/>
                        <h:outputText value="#{workplaceController.selected.workplaceName}" title="#{bundle.ViewWorkplaceTitle_workplaceName}"/>
                        <h:outputText value="#{bundle.ViewWorkplaceLabel_workplaceDescription}"/>
                        <h:outputText value="#{workplaceController.selected.workplaceDescription}" title="#{bundle.ViewWorkplaceTitle_workplaceDescription}"/>
                        <h:outputText value="#{bundle.ViewWorkplaceLabel_workplaceReferenceID}"/>
                        <h:outputText value="#{workplaceController.selected.workplaceReferenceID}" title="#{bundle.ViewWorkplaceTitle_workplaceReferenceID}"/>
                        <h:outputText value="#{bundle.ViewWorkplaceLabel_workplacePositionID}"/>
                        <h:outputText value="#{workplaceController.selected.workplacePositionID}" title="#{bundle.ViewWorkplaceTitle_workplacePositionID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="WorkplaceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
