<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionpreventivemeasuretypeViewDlg" widgetVar="PositionpreventivemeasuretypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPositionpreventivemeasuretypeTitle}">
            <h:form id="PositionpreventivemeasuretypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionpreventivemeasuretypeController.selected != null}">
                        <h:outputText value="#{bundle.ViewPositionpreventivemeasuretypeLabel_positionPreventiveMeasureTypeID}"/>
                        <h:outputText value="#{positionpreventivemeasuretypeController.selected.positionPreventiveMeasureTypeID}" title="#{bundle.ViewPositionpreventivemeasuretypeTitle_positionPreventiveMeasureTypeID}"/>
                        <h:outputText value="#{bundle.ViewPositionpreventivemeasuretypeLabel_positionPreventiveMeasureTypeName}"/>
                        <h:outputText value="#{positionpreventivemeasuretypeController.selected.positionPreventiveMeasureTypeName}" title="#{bundle.ViewPositionpreventivemeasuretypeTitle_positionPreventiveMeasureTypeName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PositionpreventivemeasuretypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
