<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IncidentinjuryViewDlg" widgetVar="IncidentinjuryViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewIncidentinjuryTitle}">
            <h:form id="IncidentinjuryViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{incidentinjuryController.selected != null}">
                        <h:outputText value="#{bundle.ViewIncidentinjuryLabel_incidentInjuryID}"/>
                        <h:outputText value="#{incidentinjuryController.selected.incidentInjuryID}" title="#{bundle.ViewIncidentinjuryTitle_incidentInjuryID}"/>
                        <h:outputText value="#{bundle.ViewIncidentinjuryLabel_incidentInjuryType}"/>
                        <h:outputText value="#{incidentinjuryController.selected.incidentInjuryType}" title="#{bundle.ViewIncidentinjuryTitle_incidentInjuryType}"/>
                        <h:outputText value="#{bundle.ViewIncidentinjuryLabel_incidentInjuryIncidentID}"/>
                        <h:outputText value="#{incidentinjuryController.selected.incidentInjuryIncidentID}" title="#{bundle.ViewIncidentinjuryTitle_incidentInjuryIncidentID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="IncidentinjuryViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
