<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionqualificationreferenceViewDlg" widgetVar="PositionqualificationreferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPositionqualificationreferenceTitle}">
            <h:form id="PositionqualificationreferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionqualificationreferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewPositionqualificationreferenceLabel_positionQualificationReferenceID}"/>
                        <h:outputText value="#{positionqualificationreferenceController.selected.positionQualificationReferenceID}" title="#{bundle.ViewPositionqualificationreferenceTitle_positionQualificationReferenceID}"/>
                        <h:outputText value="#{bundle.ViewPositionqualificationreferenceLabel_positionQualificationReferenceName}"/>
                        <h:outputText value="#{positionqualificationreferenceController.selected.positionQualificationReferenceName}" title="#{bundle.ViewPositionqualificationreferenceTitle_positionQualificationReferenceName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PositionqualificationreferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
