<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RisksourcereferenceViewDlg" widgetVar="RisksourcereferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRisksourcereferenceTitle}">
            <h:form id="RisksourcereferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{risksourcereferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewRisksourcereferenceLabel_riskSourceReferenceID}"/>
                        <h:outputText value="#{risksourcereferenceController.selected.riskSourceReferenceID}" title="#{bundle.ViewRisksourcereferenceTitle_riskSourceReferenceID}"/>
                        <h:outputText value="#{bundle.ViewRisksourcereferenceLabel_riskSourceReferenceName}"/>
                        <h:outputText value="#{risksourcereferenceController.selected.riskSourceReferenceName}" title="#{bundle.ViewRisksourcereferenceTitle_riskSourceReferenceName}"/>
                        <h:outputText value="#{bundle.ViewRisksourcereferenceLabel_riskSourceReferenceRiskReferenceID}"/>
                        <h:outputText value="#{risksourcereferenceController.selected.riskSourceReferenceRiskReferenceID}" title="#{bundle.ViewRisksourcereferenceTitle_riskSourceReferenceRiskReferenceID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RisksourcereferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
