<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Witaj w BHP Service</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <body>
        <div align="center" draggable="false" >
        <h:form style="min-width:400px;min-height:200px;min-width:300px;max-width:600px;" >
            <p:panel id="loginPanel" header="Logowanie">
                <p:messages id="msgs" />
                <h:panelGrid columns="3" cellpadding="5">
                    <p:outputLabel value="#{bundle.Validation_userLogin}" for="userLogin" />
                    <p:inputText id="userLogin" value="#{usercredentialController.userLogin}" 
                                 title="#{bundle.Validation_userLogin}" required="true" 
                                 requiredMessage="#{bundle.CreateUserRequiredMessage_userLogin}">
                    </p:inputText>
                    <p:message for="userLogin" display="icon" />

                    <p:outputLabel for="userPassword" value="#{bundle.Validation_userPassword}" />
                    <p:password id="userPassword" value="#{usercredentialController.userPassword}" 
                                label="userPassword" required="true" feedback="false">
                    </p:password>
                    <p:message for="userPassword" id="msgLastname" display="icon" />
                </h:panelGrid>
                <p:commandButton value="Zaloguj" update="loginPanel" 
                                 action="#{usercredentialController.doLogin()}" icon="ui-icon-key" />
            </p:panel>
        </h:form>
                <p:button value="Utwórz konto" outcome="/registration"  icon="ui-icon-plus" />
            </div>
    </body>
</html>
